<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>

    <div class="card-body widget-body">
        <form class="form-horizontal " [formGroup]="commonForm">


            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">服务单号 <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('refundNo')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="refundNo"
                           placeholder="请输入服务单号">
                    <app-form-error [control]="commonForm.get('refundNo')"
                                    [formErrors]="formErrors.refundNo"></app-form-error>

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">申请状态（1待处理2） <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('state')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="state"
                           placeholder="请输入申请状态（1待处理2）">
                    <app-form-error [control]="commonForm.get('state')"
                                    [formErrors]="formErrors.state"></app-form-error>

                </div>
                <label class="col-sm-2 form-control-label mt-1">会员（member表ID） <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('memberId')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="memberId"
                           placeholder="请输入会员（member表ID）">
                    <app-form-error [control]="commonForm.get('memberId')"
                                    [formErrors]="formErrors.memberId"></app-form-error>

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">会员账号 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('memberPhone')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="memberPhone"
                           placeholder="请输入会员账号">

                </div>
                <label class="col-sm-2 form-control-label mt-1">订单（order表ID） <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('orderId')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="orderId"
                           placeholder="请输入订单（order表ID）">
                    <app-form-error [control]="commonForm.get('orderId')"
                                    [formErrors]="formErrors.orderId"></app-form-error>

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">订单编号 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('orderNo')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="orderNo"
                           placeholder="请输入订单编号">

                </div>
                <label class="col-sm-2 form-control-label mt-1">订单金额 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('orderAmount')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="orderAmount"
                           placeholder="请输入订单金额">

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">退款金额 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('refundAmount')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="refundAmount"
                           placeholder="请输入退款金额">

                </div>
                <label class="col-sm-2 form-control-label mt-1">退款方式（1退回原支付渠道） <span
                        class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('refundMode')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="refundMode"
                           placeholder="请输入退款方式（1退回原支付渠道）">
                    <app-form-error [control]="commonForm.get('refundMode')"
                                    [formErrors]="formErrors.refundMode"></app-form-error>

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">退款类型（1取消订单（待发货）） <span
                        class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('refundType')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="refundType"
                           placeholder="请输入退款类型（1取消订单（待发货））">
                    <app-form-error [control]="commonForm.get('refundType')"
                                    [formErrors]="formErrors.refundType"></app-form-error>

                </div>
                <label class="col-sm-2 form-control-label mt-1">退款原因 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('refundReason')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="refundReason"
                           placeholder="请输入退款原因">

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">处理备注 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('remark')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="remark"
                           placeholder="请输入处理备注">

                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-9 offset-sm-2">
                    <button class="btn btn-info" type="button" (click)="onSubmit()">保存</button>
                    <button class="btn btn-gray ml-1" type="button" (click)="goBack()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>