

<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>
    <div class="card-body widget-body">
        <form class="form-horizontal "  >


                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">GUID</label>
                                <div class="col-sm-4">
                                    <label>{{orderLog.guid}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">订单（order表ID）</label>
                                <div class="col-sm-4">
                                    <label>{{orderLog.orderId}}</label>
                                </div>
                                <label class="col-sm-2 form-control-label mt-1">订单编号</label>
                                <div class="col-sm-4">
                                    <label>{{orderLog.orderNo}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">订单状态（1创建订单2支付成功3开始配送4确认收货）</label>
                                <div class="col-sm-4">
                                    <label>{{orderLog.state}}</label>
                                </div>
                                <label class="col-sm-2 form-control-label mt-1">操作时间</label>
                                <div class="col-sm-4">
                                    <label>{{orderLog.operateTime}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">操作人</label>
                                <div class="col-sm-4">
                                    <label>{{orderLog.operator}}</label>
                                </div>
                                <label class="col-sm-2 form-control-label mt-1">备注说明</label>
                                <div class="col-sm-4">
                                    <label>{{orderLog.remark}}</label>
                                </div>
                    </div>

            <div class="form-group row">
                <div class="col-sm-9 offset-sm-2">
                    <button class="btn btn-info" [routerLink]="'../../edit/'+orderLog.orderLogId" type="button">编辑</button>
                    <button class="btn btn-inverse ml-1" type="button" (click)="goBack()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
