@import "../../../global";

center-modal .head-title {
  font-weight: bold;
  @extend .common-title;
}

center-modal ::ng-deep .body {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  .content .close-icon {
    background: none !important;
  }
}