<div *ngIf="control && options" class="n-frombox-li half-li">
    <span class="left-span">{{options.text}}</span>
    <div class="r-sbox">
        <div class="right-input-80" [ngClass]="{'has-error':control|formMark}">
            <select class="form-control right-input" [formControl]="control">
                <option [value]="null">--请选择--</option>
                <option *ngFor="let pro of options.initOptionDatas" [value]="pro.value">{{pro.text}}</option>
            </select>
        </div>
    </div>
</div>
