<ion-header class="head">
    <ion-toolbar>
        <goback></goback>
        <ion-searchbar class="search-bar" (ionInput)="getItems($event)" placeholder="搜索"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-segment [(ngModel)]="sort">
        <ion-segment-button value="hot" (click)="commoditiesFilter('hot')">
            人气排序
            <ion-icon *ngIf="sort == 'hot'" [name]=hotSegmentIcon class="segment-icon"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="price" (click)="commoditiesFilter('price')">
            价格排序
            <ion-icon *ngIf="sort == 'price'" [name]=priceSegmentIcon class="segment-icon"></ion-icon>
        </ion-segment-button>
        <ion-segment-button (click)="goScreen()">
            价格筛选<span class="screen"></span>
        </ion-segment-button>
    </ion-segment>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="下拉刷新"
                refreshingSpinner="circles"
                refreshingText="正在加载...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-list class="common-list commodity-divid">
        <commodity-item *ngFor="let item of list" [commodity]="item" (click)="goCommodity(item)">
            <p>
                <span class="red common-font">￥{{item.currentPrice}}</span>&nbsp;
                <del class="grey common-spec"> ￥{{item.originalPrice}}</del>
            </p>
        </commodity-item>
    </ion-list>

    <div class="loading" *ngIf="isLoading">
        <ion-spinner></ion-spinner>
    </div>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>