<page-header [title]="'查看信息'"></page-header>

<nz-card>

  <nz-form-item>

    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="title">标 题</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{advertisement.title}}</nz-form-text>
    </nz-form-control>


  </nz-form-item>
  <nz-form-item>


    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="state">状 态</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <!--（0启用1禁用）-->
      <nz-form-text *ngIf="advertisement.state==0">启用</nz-form-text>
      <nz-form-text *ngIf="advertisement.state==1">禁用</nz-form-text>
    </nz-form-control>
    <nz-form-label nzXs="10" nzSm="3" nzFor="sort">排 序</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{advertisement.sort}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <!--  <nz-form-label nzXs="10" nzSm="3" nzFor="content">内容</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
        <nz-form-text>{{banner.content}}</nz-form-text>
    </nz-form-control>-->


  <nz-form-item>


    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="url">链接路径</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{advertisement.url}}</nz-form-text>
    </nz-form-control>

    <nz-form-label nzXs="10" nzSm="3" nzFor="createTime">创建时间</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{advertisement.createTime}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="imgPath">图片路径</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>
        <img class="table-img-customer-details" [src]="advertisement?.imgPath">
      </nz-form-text>
    </nz-form-control>

  </nz-form-item>

  <nz-form-item>


    <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 7 }">
      <button nz-button nzType="primary" type="submit" [routerLink]="'../../edit/'+ advertisement.id">编辑</button>
      <button nz-button class="ml-sm" type="button" (click)="goBack()">返回</button>
    </nz-form-control>
  </nz-form-item>

</nz-card>
