ion-content{
  --ion-background-color: white;
}
.normal {
  .success-icon {
    margin-top: 35px;
  }
  ion-content, ion-list{
    background-color: white!important;
  }

  .btns {
    text-align: center;
    margin: 50px 0 0;
    --padding-start: 30px;
    --padding-end: 30px;
    ion-button {
      margin: 0 10px;
      --height: 35px;
    }
  }
  footer-tip ::ng-deep {
    div {
      padding-left: 0 !important;
    }
    position: absolute;
    bottom: 5px;
  }
}

.open-group {
  .success-icon {
    margin-top: 35px;
  }

  ion-content {
    background-color: white;
  }

  ion-list {
    background-color: white;
  }

  .btns {
    background-color: white;
    text-align: center;
    padding-top: 50px;
    --padding-start: 30px;
    --padding-end: 30px;
    ion-button {
      margin: 0 5px;
      --height: 35px;
    }
  }

  time-count ::ng-deep .time-count {
    height: 50px;
    margin-top: 20px;
  }

  .member-avatar {
    background-size: 100%;
    width: 35px;
    height: 35px;
  }
}