<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>

    <div class="card-body widget-body">
        <form class="form-horizontal " [formGroup]="commonForm">

            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">用户id </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('userId')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="userId" placeholder="请输入用户id">

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">部门id </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('deptId')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="deptId" placeholder="请输入部门id">

                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-9 offset-sm-2">
                    <button class="btn btn-info" type="button" (click)="onSubmit()">保存</button>
                    <button class="btn btn-gray ml-1" type="button" (click)="goBack()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>