

<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>
    <div class="card-body widget-body">
        <form class="form-horizontal "  >


                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">GUID</label>
                                <div class="col-sm-4">
                                    <label>{{process.guid}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">退款单（refund_order表ID）</label>
                                <div class="col-sm-4">
                                    <label>{{process.refundOrderId}}</label>
                                </div>
                                <label class="col-sm-2 form-control-label mt-1">退货单（return_order表ID）</label>
                                <div class="col-sm-4">
                                    <label>{{process.returnOrderId}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">处理人（user表ID）</label>
                                <div class="col-sm-4">
                                    <label>{{process.userId}}</label>
                                </div>
                                <label class="col-sm-2 form-control-label mt-1">处理人</label>
                                <div class="col-sm-4">
                                    <label>{{process.username}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">处理类型（1确认2拒绝）</label>
                                <div class="col-sm-4">
                                    <label>{{process.processType}}</label>
                                </div>
                                <label class="col-sm-2 form-control-label mt-1">处理时间</label>
                                <div class="col-sm-4">
                                    <label>{{process.processTime}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">处理备注</label>
                                <div class="col-sm-4">
                                    <label>{{process.remark}}</label>
                                </div>
                                <label class="col-sm-2 form-control-label mt-1">删除（0否1是）</label>
                                <div class="col-sm-4">
                                    <label>{{process.deleted}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">删除时间</label>
                                <div class="col-sm-4">
                                    <label>{{process.delTime}}</label>
                                </div>
                    </div>

            <div class="form-group row">
                <div class="col-sm-9 offset-sm-2">
                    <button class="btn btn-info" [routerLink]="'../../edit/'+process.processId" type="button">编辑</button>
                    <button class="btn btn-inverse ml-1" type="button" (click)="goBack()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
