<page-header [title]="title"></page-header>
<nz-card [nzBordered]="false">
  <form nz-form [formGroup]="commonForm">

    <nz-form-item>

      <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="configName">模板名称</nz-form-label>
      <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
        <input nz-input formControlName="configName" id="configName" placeholder="请输入模板名称">
        <nz-form-explain *ngIf="commonForm.get('configName').dirty&&commonForm.get('configName').errors">
          <ng-container *ngFor="let error of formErrors.configName">
            <nz-form-explain *ngIf="commonForm.get('configName').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>

    </nz-form-item>
    <nz-form-item>

      <nz-form-label nzXs="3" nzSm="3" nzRequired nzFor="deliveryTime">发货时间</nz-form-label>
      <nz-form-control nzXs="4" nzSm="4">
        <nz-select formControlName="deliveryTime">
          <nz-option *ngFor="let time of deliveryTimes" [nzValue]="time.value" [nzLabel]="time.name"></nz-option>
        </nz-select>
        <nz-form-explain class="has-error"
                         *ngIf="commonForm.get('deliveryTime').dirty&&commonForm.get('deliveryTime').errors">
          <ng-container *ngFor="let error of formErrors.deliveryTime">
            <nz-form-explain *ngIf="commonForm.get('deliveryTime').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>

    </nz-form-item>
    <nz-form-item>

      <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="chargeMode">计价方式</nz-form-label>
      <nz-form-control nzXs="16" nzSm="8" nzMd="7">
        <nz-radio-group formControlName="chargeMode" id="chargeMode">
          <label nz-radio [nzValue]="1">按件数</label>
          <label nz-radio [nzValue]="2">按重量</label>
          <label nz-radio [nzValue]="3">按体积</label>
        </nz-radio-group>
      </nz-form-control>

    </nz-form-item>
    <nz-form-item>

      <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="freightType">是否包邮</nz-form-label>
      <nz-form-control nzXs="16" nzSm="8" nzMd="7">
        <nz-radio-group formControlName="freightType" id="freightType">
          <label nz-radio [nzValue]="1">自定义运费</label>
          <label nz-radio [nzValue]="2">卖家承担运费</label>
        </nz-radio-group>
      </nz-form-control>

    </nz-form-item>

    <nz-form-item>

      <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="state">状态</nz-form-label>
      <nz-form-control nzXs="16" nzSm="8" nzMd="7">
        <nz-radio-group formControlName="state" id="state">
          <label nz-radio [nzValue]="0">启用</label>
          <label nz-radio [nzValue]="1">禁用</label>
        </nz-radio-group>
      </nz-form-control>

    </nz-form-item>

    <nz-form-item *ngIf="commonForm.value.freightType!=2">
      <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="deliveryMode">运送方式</nz-form-label>
      <span class="transport-tip">除指定地区外，其余地区的运费采用“默认运费“</span>
      <nz-form-control nzXs="14" nzSm="21" nzMd="21" class="animalForm">
        <nz-card formArrayName="customFreightTemplates" class="flex transport-form">
          <div [formGroupName]="i" *ngFor="let item of commonForm.get('customFreightTemplates').controls;let i=index" nz-form [nzLayout]="'inline'">
            <nz-form-control *ngIf="item.value.defaulted==1">
              <nz-form-label>默认运费</nz-form-label>
              <nz-form-control nzXs="2" nzSm="2" nzMd="2"><input nz-input formControlName="firstQuantity" placeholder="输入模板配置名称"></nz-form-control>
              <span *ngIf="commonForm.value.chargeMode == 1">&nbsp;&nbsp;件内&nbsp;&nbsp;</span>
              <span *ngIf="commonForm.value.chargeMode == 2">&nbsp;&nbsp;kg内&nbsp;&nbsp;</span>
              <span *ngIf="commonForm.value.chargeMode == 3">&nbsp;&nbsp;m³内&nbsp;&nbsp;</span>
              <nz-form-control nzXs="2" nzSm="2" nzMd="2"><input nz-input formControlName="firstFee" placeholder="输入模板配置名称"></nz-form-control>
              <span>&nbsp;&nbsp;元，&nbsp;&nbsp;每增加&nbsp;&nbsp;</span>
              <nz-form-control nzXs="2" nzSm="2" nzMd="2"><input nz-input formControlName="extraQuantity" placeholder="输入模板配置名称"></nz-form-control>
              <span *ngIf="commonForm.value.chargeMode == 1">&nbsp;&nbsp;件，&nbsp;&nbsp;增加运费&nbsp;&nbsp;</span>
              <span *ngIf="commonForm.value.chargeMode == 2">&nbsp;&nbsp;kg，&nbsp;&nbsp;增加运费&nbsp;&nbsp;</span>
              <span *ngIf="commonForm.value.chargeMode == 3">&nbsp;&nbsp;m³，&nbsp;&nbsp;增加运费&nbsp;&nbsp;</span>
              <nz-form-control nzXs="2" nzSm="2" nzMd="2"><input nz-input formControlName="extraFee" placeholder="输入模板配置名称"></nz-form-control>
              <span>&nbsp;&nbsp;元</span>
            </nz-form-control>

          </div>
          <nz-table [nzShowPagination]="false" [nzData]="[{}]" *ngIf="commonForm.get('customFreightTemplates').controls.length>1">
            <thead nzSingleSort>
            <tr>
              <th style="min-width: 75px;">运送到</th>
              <th *ngIf="commonForm.value.chargeMode == 1">首件数(件)</th>
              <th style="float: right" *ngIf="commonForm.value.chargeMode == 2">首重量(kg)</th>
              <th *ngIf="commonForm.value.chargeMode == 3">首体积(m³)</th>
              <th>首费(元)</th>
              <th *ngIf="commonForm.value.chargeMode == 1">续件数(件)</th>
              <th *ngIf="commonForm.value.chargeMode == 2">续重量(kg)</th>
              <th *ngIf="commonForm.value.chargeMode == 3">续体积(m³)</th>
              <th>续费(元)</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody [formGroupName]="i" *ngFor="let item of commonForm.get('customFreightTemplates').controls;let i=index">
            <tr *ngIf="item.value.defaulted==0">
              <td width="50%">
                <app-region-group [checkedValues]="checkedValues" [checkedKeys]="item.value.regions" [title]="'选择地区'" [buttonName]="'编辑'"
                                  (result)="setArea($event,item)"></app-region-group>
              </td>
              <td width="10%"><input nz-input formControlName="firstQuantity" placeholder="请输入模板配置名称"></td>
              <td width="10%"><input nz-input formControlName="firstFee" placeholder="请输入模板配置名称"></td>
              <td width="10%"><input nz-input formControlName="extraQuantity" placeholder="请输入模板配置名称"></td>
              <td width="10%"><input nz-input formControlName="extraFee" placeholder="请输入模板配置名称"></td>
              <td width="10%">
                <button nz-button (click)="_remove(i,'customFreightTemplates')">删除
                </button>
              </td>
            </tr>
            </tbody>
          </nz-table>
          <nz-form-control>
            <button nz-button (click)="_addCustomFreight('customFreightTemplates')" class="add-btn">新增</button>
          </nz-form-control>
        </nz-card>
      </nz-form-control>


    </nz-form-item>

    <nz-form-item *ngIf="commonForm.value.freightType!=2">
      <nz-form-control nzXs="10" nzSm="3" nzFor="freeCondition"></nz-form-control>
      <nz-form-control nzXs="16" nzSm="8" nzMd="7">
        <label nz-checkbox formControlName="freeCondition">指定条件包邮</label>
      </nz-form-control>

    </nz-form-item>
    <nz-form-item *ngIf="commonForm.value.freightType!=2&&(commonForm.value.freeCondition||commonForm.value.freeCondition==1)">
      <nz-form-control nzXs="10" nzSm="3" nzMd="3"></nz-form-control>
      <nz-form-control nzXs="14" nzSm="21" nzMd="21">

        <nz-card style="width: 100%;" class="flex transport-form" >
          <nz-table [nzShowPagination]="false" [nzData]="[{}]" formArrayName="freeFreightTemplates">
            <thead nzSingleSort>
            <tr>
              <th>选择地区</th>
              <th>选择运送方式</th>
              <th>设置包邮条件</th>
              <th>操作</th>
            </tr>
            </thead>

            <tbody>
            <tr [formGroupName]="i" *ngFor="let item of commonForm.get('freeFreightTemplates').controls;let i=index">
              <td width="49%">
                <app-region-group [checkedKeys]="item.value.regions" [title]="'选择地区'" [buttonName]="'编辑'"
                                  (result)="setArea($event,item)"></app-region-group>
              </td>
              <td width="12%">
                <nz-select formControlName="deliveryMode">
                  <nz-option [nzValue]="1" nzLabel="快递"></nz-option>
                </nz-select>
              </td>
              <td width="24%">
                <p style="margin: 0">
                  <nz-select formControlName="freeType" style="width: 40%">
                    <nz-option [nzValue]="1" nzLabel="件数"></nz-option>
                    <nz-option [nzValue]="2" nzLabel="金额"></nz-option>
                    <nz-option [nzValue]="3" nzLabel="件数+金额"></nz-option>
                  </nz-select>
                  <span *ngIf="item.value.freeType==1||item.value.freeType==3">
                  &nbsp;&nbsp;满&nbsp;&nbsp;
                  <input style="width: 45px;" nz-input formControlName="fullQuantity" placeholder="请输入模板配置名称">&nbsp;&nbsp;<span>件包邮</span>
                </span>
                  <span *ngIf="item.value.freeType==2||item.value.freeType==3">
                  &nbsp;&nbsp;满&nbsp;&nbsp;
                  <input style="width: 45px;" nz-input formControlName="fullAmount" placeholder="请输入模板配置名称">&nbsp;&nbsp;<span>元包邮</span>
                </span>
                </p>
              </td>
              <td width="15%">
                <button nz-button (click)="_addCustomFreight('freeFreightTemplates')">新增
                </button>
                <button nz-button (click)="_remove(i,'freeFreightTemplates')">删除
                </button>
              </td>
            </tr>
            </tbody>
          </nz-table>
        </nz-card>
      </nz-form-control>

    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 18 }">
        <nz-modal-customer [showButton]="false" (ok)="onSubmit()" [title]="'提示！'" [content]="'确认要提交吗？'"
                           [buttonName]="'提交'">
          <nz-divider nzType="vertical"></nz-divider>
        </nz-modal-customer>
        <button nz-button class="ml-sm" type="button" (click)="goBack()">返回</button>
      </nz-form-control>
    </nz-form-item>

  </form>
</nz-card>
