<page-header [title]="title"></page-header>
<nz-card [nzBordered]="false">
  <form nz-form [formGroup]="commonForm">

    <nz-form-item>

      <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="name">奖品名称</nz-form-label>
      <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
        <input nz-input formControlName="name" id="name" placeholder="输入奖品名称">
        <nz-form-explain *ngIf="commonForm.get('name').dirty&&commonForm.get('name').errors">
          <ng-container *ngFor="let error of formErrors.name">
            <nz-form-explain *ngIf="commonForm.get('name').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>

    </nz-form-item>
    <nz-form-item>

      <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="prizeType">奖品类型</nz-form-label>
      <nz-form-control nzXs="16" nzSm="8" nzMd="7">
        <nz-radio-group formControlName="prizeType" id="prizeType">
          <label nz-radio [nzValue]="1">积分</label>
          <label nz-radio [nzValue]="2">报考</label>
          <label nz-radio [nzValue]="3">优惠券</label>
        </nz-radio-group>
      </nz-form-control>

    </nz-form-item>
    <nz-form-item *ngIf="commonForm.value.prizeType == 1">

      <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="integral">积分</nz-form-label>
      <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
        <input nz-input formControlName="integral" id="integral" placeholder="输入积分">
        <nz-form-explain *ngIf="commonForm.get('integral').dirty&&commonForm.get('integral').errors">
          <ng-container *ngFor="let error of formErrors.integral">
            <nz-form-explain *ngIf="commonForm.get('integral').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>

    </nz-form-item>
    <nz-form-item *ngIf="commonForm.value.prizeType == 2">

      <nz-form-label nzXs="10" nzSm="3" nzFor="commodity">报考</nz-form-label>
      <nz-form-control nzXs="16" nzSm="8" nzMd="7">
        <app-modal-selecet
          [pageQuery]="commodityPageQuery"
          [filters]="[{filterName:'commodityName',name:'报考名',value:''}]"
          [showCol]="[{name:'commodityNo',value:'编码',isShow:false},{name:'commodityName',value:'报考名',isShow:true}]"
          [select]="commonForm.value.commodity"
          [resultName]="commonForm.value.commodity ? commonForm.value.commodity.commodityName : '请选择'"
          [baseService]="commodityService"
          (result)="setCommodity($event)">
        </app-modal-selecet>
        <nz-form-explain *ngIf="commonForm.get('commodity').dirty&&commonForm.get('commodity').errors">
          <ng-container *ngFor="let error of formErrors.commodity">
            <nz-form-explain *ngIf="commonForm.get('commodity').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>

    </nz-form-item>
    <nz-form-item *ngIf="commonForm.value.prizeType == 3">

      <nz-form-label nzXs="10" nzSm="3" nzFor="coupon">优惠券</nz-form-label>
      <nz-form-control nzXs="16" nzSm="8" nzMd="7">
        <app-modal-selecet
          [pageQuery]="couponPageQuery"
          [filters]="[{filterName:'couponName',name:'优惠券名称',value:''}]"
          [showCol]="[{name:'couponNo',value:'编码',isShow:false},{name:'parValue',value:'面值',isShow:false},{name:'couponName',value:'优惠券名称',isShow:true}]"
          [select]="commonForm.value.coupon"
          [resultName]="commonForm.value.coupon ? commonForm.value.coupon.couponName : '请选择'"
          [baseService]="couponService"
          (result)="setCoupon($event)">
        </app-modal-selecet>
        <nz-form-explain *ngIf="commonForm.get('coupon').dirty&&commonForm.get('coupon').errors">
          <ng-container *ngFor="let error of formErrors.coupon">
            <nz-form-explain *ngIf="commonForm.get('coupon').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>

    </nz-form-item>
    <nz-form-item>

      <nz-form-label nzXs="3" nzSm="3" nzRequired nzFor="state">状态</nz-form-label>
      <nz-form-control nzXs="8" nzSm="8">
        <nz-radio-group formControlName="state" id="state">
          <label nz-radio [nzValue]="0">启用</label>
          <label nz-radio [nzValue]="1">禁用</label>
        </nz-radio-group>
      </nz-form-control>

    </nz-form-item>
    <nz-form-item>

      <nz-form-label nzXs="3" nzSm="3" nzFor="remark">备注</nz-form-label>
      <nz-form-control nzXs="8" nzSm="8">
        <textarea nz-input style="height: 120px" formControlName="remark" id="remark" placeholder="输入备注"></textarea>
        <nz-form-explain *ngIf="commonForm.get('remark').dirty&&commonForm.get('remark').errors">
          <ng-container *ngFor="let error of formErrors.remark">
            <nz-form-explain *ngIf="commonForm.get('remark').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 18 }">
        <nz-modal-customer [showButton]="false" (ok)="onSubmit()" [title]="'提示！'" [content]="'确认要提交吗？'"
                           [buttonName]="'提交'">
          <nz-divider nzType="vertical"></nz-divider>
        </nz-modal-customer>
        <button nz-button class="ml-sm" type="button" (click)="goBack()">返回</button>
      </nz-form-control>
    </nz-form-item>

  </form>
</nz-card>
