<page-header [title]="'查看 '+ groupBuyActivity.activityName +' 信息'"></page-header>

<nz-card>

  <nz-card nzTitle="团购活动信息" nzType="inner">

    <desc-list class="mb-lg">
      <desc-list-item term="团购活动封面"><img class="table-img-customer-details" [src]="groupBuyActivity.coverUrl"></desc-list-item>
      <desc-list-item term="团购活动名称">{{groupBuyActivity.activityName}}</desc-list-item>
      <desc-list-item term="优先级">{{groupBuyActivity.priority}}</desc-list-item>
      <desc-list-item term="发布人">{{groupBuyActivity.publishUser?.fullName}}</desc-list-item>
      <desc-list-item term="运费设置">
        <span *ngIf="groupBuyActivity.hasPost == 1">卖家包邮</span>
        <span *ngIf="groupBuyActivity.hasPost == 2">买家承担运费</span>
      </desc-list-item>
      <desc-list-item term="是否支持优惠券">
        <span *ngIf="groupBuyActivity.hasCoupon == 0">不支持</span>
        <span *ngIf="groupBuyActivity.hasCoupon == 1">支持</span>
      </desc-list-item>
    </desc-list>

  </nz-card>

  <nz-card nzTitle="团购设置" nzType="inner">

    <p>活动时间段</p>
    <p *ngFor="let time of groupBuyActivity.groupBuyActivityTimes">{{time.startTime}} -- {{time.endTime}}</p>
    <p></p>

    <nz-card nzTitle="商品属性" nzType="inner">

      <table class="address-border" style="width: 100%">
        <thead>
        <tr>
          <th>商品</th>
          <th>货品</th>
          <th>拼团价</th>
          <th>成团人数</th>
          <th>活动库存</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>

  </nz-card>

  <nz-form-item>

    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="activityName">团购活动名称</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{groupBuyActivity.activityName}}</nz-form-text>
    </nz-form-control>

    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="priority">优先级</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{groupBuyActivity.priority}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>

    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="type">团购活动类型</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{groupBuyActivity.type}}</nz-form-text>
    </nz-form-control>

    <nz-form-label nzXs="10" nzSm="3" nzFor="promotionType">优惠方式类型</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{groupBuyActivity.promotionType}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>

    <nz-form-label nzXs="10" nzSm="3" nzFor="sponsor">团购活动主办方</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{groupBuyActivity.sponsor}}</nz-form-text>
    </nz-form-control>

    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="coverUrl">团购活动封面</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{groupBuyActivity.coverUrl}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>

    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="hasPost">是否包邮</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{groupBuyActivity.hasPost}}</nz-form-text>
    </nz-form-control>

    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="hasCoupon">是否支持优惠券抵扣</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{groupBuyActivity.hasCoupon}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>

    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="audited">审核状态 :0为未审核,1为审核</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{groupBuyActivity.audited}}</nz-form-text>
    </nz-form-control>

    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="published">发布状态:0为未发布,1为以发布</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{groupBuyActivity.published}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>

    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="stockState">库存状态</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{groupBuyActivity.stockState}}</nz-form-text>
    </nz-form-control>

    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="deleted">删除状态</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{groupBuyActivity.deleted}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>

    <nz-form-label nzXs="10" nzSm="3" nzFor="remark">备注</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{groupBuyActivity.remark}}</nz-form-text>
    </nz-form-control>

    <nz-form-label nzXs="10" nzSm="3" nzFor="auditUserId">审核人</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{groupBuyActivity.auditUserId}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>

    <nz-form-label nzXs="10" nzSm="3" nzFor="auditDate">审核时间</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{groupBuyActivity.auditDate}}</nz-form-text>
    </nz-form-control>

    <nz-form-label nzXs="10" nzSm="3" nzFor="publishUserId">发布人</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{groupBuyActivity.publishUserId}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>

    <nz-form-label nzXs="10" nzSm="3" nzFor="publishDate">发布时间</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{groupBuyActivity.publishDate}}</nz-form-text>
    </nz-form-control>

    <nz-form-label nzXs="10" nzSm="3" nzFor="updateUserId">更新人(更新，终结，删除)</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{groupBuyActivity.updateUserId}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>

    <nz-form-label nzXs="10" nzSm="3" nzFor="updateDate">更新时间</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{groupBuyActivity.updateDate}}</nz-form-text>
    </nz-form-control>

    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="createUserId">创建人</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{groupBuyActivity.createUserId}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>

    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="createDate">创建时间</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{groupBuyActivity.createDate}}</nz-form-text>
    </nz-form-control>

    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="finished">终结状态
      0:未终结，1：已终结（如果活动有多个时间段的，则必须最后一个时间段结束后，才能变为已终结状态）
    </nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{groupBuyActivity.finished}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 7 }">
      <button nz-button nzType="primary" type="submit" [routerLink]="'../../edit/'+ groupBuyActivity.id">编辑</button>
      <button nz-button class="ml-sm" type="button" (click)="goBack()">返回</button>
    </nz-form-control>
  </nz-form-item>

</nz-card>
