<ion-content no-padding>
    <ion-list>
        <div class="customer-head">
            <!--<div class="set-icon" (click)="goSystemSet()"></div>-->
            <div class="flex-row" style="justify-content: flex-start; align-items: center ;height: 100%">
                <img class="member-avater" onerror="this.src='../../assets/imgs/null-category.png'" [src]="member?.avater" (click)="goPersonalCenter()">
                <span class="common-title white" (click)="goPersonalCenter()">{{member?.nickname || "请登录"}}</span>
            </div>
        </div>

        <div class="bg-white">
            <div class="flex-row" style="justify-content:space-between" (click)="goMyOrderPage()">
                <div>我的订单</div>
                <div class="common-sub-title greys flex-center">查看全部订单
                    <ion-icon float-right class="icon-forward" name="ios-arrow-forward"></ion-icon>
                </div>
            </div>
            <div class="common-hr" style="height:1px!important;background-color:#e5e5e5!important; "></div>
            <div class="flex-row order-state-btn">
                <div (click)="goMyOrderPage('unpaid')">
                    <img src="../../assets/app_icon/customer/待付款icon@2x.png">
                    <div>待付款</div>
                    <span class="bubble" *ngIf="orderNum[0] != 0">{{orderNum[0]}}</span>
                </div>
                <div (click)="goMyOrderPage('deliver')">
                    <img src="../../assets/app_icon/customer/待发货icon@2x.png">
                    <div>预约中</div>
                    <span class="bubble" *ngIf="orderNum[2] != 0">{{orderNum[2]}}</span>
                </div>
                <div (click)="goMyOrderPage('stayEvaluation')">
                    <img src="../../assets/app_icon/customer/待评价icon@2x.png">
                    <div>待评价</div>
                    <span class="bubble" *ngIf="orderNum[3] != 0">{{orderNum[3]}}</span>
                </div>
                <div (click)="goAfterSales()">
                    <img src="../../assets/app_icon/customer/售后icon@2x.png">
                    <div>售后服务</div>
                </div>
            </div>
        </div>

        <div class="common-hr"></div>
        <div class="function-btns" style="justify-content:flex-start">
            <div (click)="goMyTeam()">
                <img src="../../assets/app_icon/customer/团队icon@2x.png">
                <div class="common-sub-title greys">我的团队</div>
            </div>
            <div (click)="goCoupon()">
                <img src="../../assets/app_icon/customer/礼物icon@2x.png">
                <div class="common-sub-title greys">我的红包</div>
            </div>
            <div (click)="goFineBalance()">
                <img src="../../assets/app_icon/customer/账单icon@2x.png">
                <div class="common-sub-title greys">账单明细</div>
            </div>
            <div (click)="goCart()">
                <img src="../../assets/app_icon/customer/账单icon@2x.png">
                <div class="common-sub-title greys">我的预约</div>
            </div>
            <div (click)="goServiceCenter()">
                <img src="../../assets/app_icon/customer/账单icon@2x.png">
                <div class="common-sub-title greys">帮助列表</div>
            </div>
        </div>

    </ion-list>
</ion-content>




<!--<ion-content no-padding>
    <ion-list>
        <div class="customer-head">
            &lt;!&ndash;<ion-label class="set-icon QR-code" (click)="goMycode()"></ion-label>&ndash;&gt;
            &lt;!&ndash;<ion-label class="set-icon" (click)="goSystemSet()"></ion-label>&ndash;&gt;
            <ion-item style="background: transparent" padding-top="30px">
                <ion-label align-items-center>
                    <img width="60" height="60" class="radius" onerror="this.src='../../assets/imgs/null-category.png'"
                         [src]="member?.avater" (click)="goPersonalCenter()">
                    <span class="common-title white" (click)="goLogin()">{{member?.nickname || "请登录"}}</span>
                </ion-label>
            </ion-item>
        </div>

        <ion-card class="head-card move-top">
            <ion-card-content style="padding-bottom: 0">
                <ion-row>
                    <ion-col size="4" text-center (click)="goCoupan()">
                        <ion-label class="common-big-icon-no-float coupon"></ion-label>
                        <p>优惠券</p>
                    </ion-col>
                    <ion-col size="4" text-center (click)="goInvitesCourtesy()">
                        <span class="line left"></span>
                        <div style="display: inline-block">
                            <ion-label class="common-big-icon-no-float gift"></ion-label>
                            <p>邀请有礼</p>
                        </div>
                        <span class="line right"></span>
                    </ion-col>
                    <ion-col size="4" text-center (click)="goMyTeam()">
                        <ion-label class="common-big-icon-no-float team"></ion-label>
                        <p>我的团队</p>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>

        <ion-card class="my-balance move-top">
            <ion-card-header>我的余额</ion-card-header>
            <ion-card-content no-margin>
                <ion-row>
                    <ion-col size="4" (click)="goMyBalance()">
                        <div class="common-icon customer-balance"></div>
                        <p class="font-left">我的余额</p>
                    </ion-col>
                    <ion-col size="4" (click)="goStorageVolume()">
                        <div class="common-icon storage-volume"></div>
                        <p class="font-left">我的代金券</p>
                    </ion-col>
                    <ion-col size="4" (click)="goFineBalance()">
                        <div class="common-icon billing-record"></div>
                        <p class="font-left">账单记录</p>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>

        <ion-card class="move-top">
            <ion-card-header (click)="goMyOrderPage()">我的订单
                <ion-icon float-right class="icon-forward" name="ios-arrow-forward"></ion-icon>
                <ion-note float-right class="grey">所有订单</ion-note>
            </ion-card-header>
            <ion-card-content style="padding: 1rem 0;margin: 0">
                <ion-row>
                    <ion-col size="3" (click)="goMyOrderPage('unpaid')">
                        <ion-label class="common-big-icon-no-float pending-payment"></ion-label>
                        <p>待付款</p>
                        <span class="bubble" *ngIf="orderNum[0] != 0">{{orderNum[0]}}</span>
                    </ion-col>
                    <ion-col size="3" (click)="goMyOrderPage('deliver')">
                        <ion-label class="common-big-icon-no-float goods-to-be-received"></ion-label>
                        <p>待收货</p>
                        <span class="bubble" *ngIf="(orderNum[2]+ orderNum[1])!= 0">{{orderNum[2]+ orderNum[1]}}</span>
                    </ion-col>
                    <ion-col size="3" (click)="goMyOrderPage('stayEvaluation')">
                        <ion-label class="common-big-icon-no-float to-be-evaluated"></ion-label>
                        <p>待评价</p>
                        <span class="bubble" *ngIf="orderNum[3] != 0">{{orderNum[3]}}</span>
                    </ion-col>
                    <ion-col size="3" (click)="goAfterSales()">
                        <ion-label class="common-big-icon-no-float return-and-after-sale"></ion-label>
                        <p>退款与售后</p>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>

        &lt;!&ndash;<ion-card class="move-top bottom-item">
            <ion-list lines="full">
                <ion-item (click)="goMyAddress()">
                    <ion-label>我的地址</ion-label>
                    <ion-icon class="icon-forward" name="ios-arrow-forward"></ion-icon>
                </ion-item>
                <ion-item (click)="goServiceCenter()">
                    <ion-label>客服与帮助</ion-label>
                    <ion-icon class="icon-forward" name="ios-arrow-forward"></ion-icon>
                </ion-item>
                &lt;!&ndash;<ion-item>&ndash;&gt;
                &lt;!&ndash;<ion-label>欢迎评分</ion-label>&ndash;&gt;
                &lt;!&ndash;<ion-icon class="icon-forward" name="ios-arrow-forward"></ion-icon>&ndash;&gt;
                &lt;!&ndash;</ion-item>&ndash;&gt;
            </ion-list>
        </ion-card>&ndash;&gt;
    </ion-list>
</ion-content>-->
