<ion-header>
    <ion-toolbar>
        <ion-title>版本更新</ion-title>
        <goback></goback>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <img src="../../assets/imgs/版本更新banner@2x.png" width="100%" height="200px">
    <!--<p>
        <span class="title black common-sub-title">&nbsp;新版本特性：</span>
        <br/>
        &nbsp; 1.购物满88包邮，48小时退款，30天无忧退货
        <br/>
        &nbsp; 2.邀请好友，领走300元
        <br/>
        &nbsp; 3.商品标签，一眼get商品制造商
    </p>
    <br/>
    <br/>
        <ion-button expand="full" shape="round" color="danger" margin-horizontal>立&nbsp;即&nbsp;升&nbsp;级</ion-button>-->

    <div class="isNew">已是新版本~~</div>
</ion-content>

