<ion-header>
    <ion-toolbar>
        <ion-title>成长值记录</ion-title>
        <goback></goback>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-row class="main" *ngFor="let item of data">
        <ion-col size="9">
            <ion-label class="common-font">{{item.taskName}}</ion-label>
            <ion-label class="time">{{item.createTime}}</ion-label>
        </ion-col>
        <ion-col size="3" class="red ver-midd">
            <span *ngIf="item.operateType==0">
                +{{item.operateIntegral}}
            </span>
            <span *ngIf="item.operateType==1">
                -{{item.operateIntegral}}
            </span>
        </ion-col>
    </ion-row>

    <div class="nolist" *ngIf="!data?.length">
        <ion-label class="grey">暂无记录~</ion-label>
    </div>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>