<page-header [title]="title"></page-header>
<nz-card [nzBordered]="false">
  <form nz-form [formGroup]="commonForm">

    <nz-form-item>
      <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="title">标题</nz-form-label>
      <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
        <input nz-input formControlName="title" id="title" placeholder="输入标题">
        <nz-form-explain *ngIf="commonForm.get('title').dirty&&commonForm.get('title').errors">
          <ng-container *ngFor="let error of formErrors.title">
            <nz-form-explain *ngIf="commonForm.get('title').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>

    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzXs="10" nzSm="3" nzFor="imgPath">上传图片</nz-form-label>
      <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
        <app-upload [fileList]="commonForm.value.imgPath?[{url:commonForm.value.imgPath}]:[]" (onFileUploaded)="getPic($event)"></app-upload>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item>
      <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="url">链接路径</nz-form-label>
      <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
        <input nz-input formControlName="url" id="url" placeholder="输入链接路径">
        <nz-form-explain *ngIf="commonForm.get('url').dirty&&commonForm.get('url').errors">
          <ng-container *ngFor="let error of formErrors.url">
            <nz-form-explain *ngIf="commonForm.get('url').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
      </nz-form-item>
      <nz-form-item>

      <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="sort">排序</nz-form-label>
      <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
        <input nz-input formControlName="sort" id="sort" placeholder="输入排序">
        <nz-form-explain *ngIf="commonForm.get('sort').dirty&&commonForm.get('sort').errors">
          <ng-container *ngFor="let error of formErrors.sort">
            <nz-form-explain *ngIf="commonForm.get('sort').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="state">状态</nz-form-label>
      <nz-form-control nzXs="16" nzSm="8" nzMd="7">
        <nz-radio-group formControlName="state" id="state">
          <label nz-radio [nzValue]="0">启用</label>
          <label nz-radio [nzValue]="1">禁用</label>
        </nz-radio-group>
        <nz-form-explain *ngIf="commonForm.get('state').dirty && commonForm.get('state').errors">
          <ng-container *ngFor="let error of formErrors.state">
            <nz-form-explain *ngIf="commonForm.get('state').errors[error.name]">{{ error.msg }}</nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>

    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 7 }">
        <nz-modal-customer (ok)="onSubmit()" [title]="'提示！'" [content]="'确认要提交吗？'"
                           [buttonName]="'提交'" >
          <nz-divider nzType="vertical"></nz-divider>
        </nz-modal-customer>
        <button nz-button class="ml-sm" type="button" (click)="goBack()">返回</button>
      </nz-form-control>
    </nz-form-item>

  </form>
</nz-card>
