<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>
    <div class="card-body widget-body">
        <form [formGroup]="searchForm">
            <div class=" form-inline form-group">

                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">GUID</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('guid',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">member表ID</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('memberId',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">姓名</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('fullName',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>

                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">手机号</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('phone',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">省</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('province',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">市</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('city',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>

                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">区</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('district',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">详细地址</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('address',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">默认地址（0非默认1默认）</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('preferred',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>

                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">创建时间</label>

                                    <input class="col-lg-4 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('createTime',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">-
                                    <input class="col-lg-4 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('createTime',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">删除（0否1是）</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('deleted',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">删除时间</label>

                                    <input class="col-lg-4 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('delTime',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">-
                                    <input class="col-lg-4 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('delTime',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>

            </div>
        </form>

        <div class=" form-inline form-group">
            <div class="col-lg-12">
                <div class=" pull-right">
                    <button class="btn btn-primary  mr-1" [routerLink]="'../add'"><i class="fa fa-plus"></i>&nbsp;新增
                    </button>
                    <button class="btn btn-danger  mr-1" (click)="remove()"><i class="fa fa-remove"></i>&nbsp;删除
                    </button>
                    <button class="btn btn-inverse  mr-1" (click)="edit()"><i class="fa fa-edit"></i>&nbsp;编辑
                    </button>
                    <button class="btn btn-success  mr-1" (click)="searchData()"><i class="fa fa-search"></i>&nbsp;查询
                    </button>
                    <button class="btn btn-warning  mr-1" (click)="view()"><i class="fa fa-book"></i>&nbsp;详情
                    </button>
                    <button class="btn btn-info  mr-1" (click)="clearSearch()"><i class="fa fa-refresh"></i>&nbsp;重置
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body pt-0 widget-body">
        <table class="table table-hover">
            <thead>
            <tr>
                        <th>GUID</th>
                        <th>member表ID</th>
                        <th>姓名</th>
                        <th>手机号</th>
                        <th>省</th>
                        <th>市</th>
                        <th>区</th>
                        <th>详细地址</th>
                        <th>默认地址（0非默认1默认）</th>
                        <th>创建时间</th>
                        <th>删除（0否1是）</th>
                        <th>删除时间</th>
            </tr>
            </thead>
            <tbody>
            <ng-template [ngIf]="anys|isNotEmpty">
                <tr *ngFor="let shippingAddress of anys;let i=index"    (click)="getSelect(shippingAddress.shippingAddressId,i)">
                                            <td><input type="radio" name="select">
                                            </td>
                    <td>{{shippingAddress.guid}}</td>
                    <td>{{shippingAddress.memberId}}</td>
                    <td>{{shippingAddress.fullName}}</td>
                    <td>{{shippingAddress.phone}}</td>
                    <td>{{shippingAddress.province}}</td>
                    <td>{{shippingAddress.city}}</td>
                    <td>{{shippingAddress.district}}</td>
                    <td>{{shippingAddress.address}}</td>
                    <td>{{shippingAddress.defaulted}}</td>
                    <td>{{shippingAddress.createTime}}</td>
                    <td>{{shippingAddress.deleted}}</td>
                    <td>{{shippingAddress.delTime}}</td>
                </tr>

                <ngb-pagination class="d-flex justify-content-center"
                                [collectionSize]="pageQuery.responses.totalElements" [(page)]="pageQuery.page"
                                [maxSize]="pageQuery.pageSize"
                                [rotate]="true" [boundaryLinks]="true"
                                (pageChange)="pageChange($event)"></ngb-pagination>
            </ng-template>

            </tbody>
        </table>

        <app-no-data-tip [isShow]="anys|isEmpty"></app-no-data-tip>
    </div>
</div>


