<div class="n-elastic">
    <div class="n-add-head open">
        <div class="s-h5" (click)="showOrHiddenDetail()">{{title}}</div>
        <div class="n-info-open" (click)="showOrHiddenDetail()">
            <img *ngIf="showDetail" src="/assets/images/top-arrow.png">
            <img *ngIf="!showDetail" src="/assets/images/bottom-arrow.png">
        </div>
    </div>

    <div class="n-add-main">
        <ng-template [ngIf]="showDetail">
            <ng-content select="custom-btns"></ng-content>
            <ng-content></ng-content>
        </ng-template>
        <div class="clearfix"></div>
    </div>
</div>
