<page-header [title]="'查看信息'"></page-header>

<nz-card>

  <nz-card nzTitle="商品信息" nzType="inner">

    <desc-list class="mb-lg">
      <desc-list-item term="商品名称">{{comment?.commodity?.commodityName}}</desc-list-item>
    </desc-list>
    <desc-list class="mb-lg">
      <desc-list-item term="商品图片">
        <img class="table-img-customer-details" [src]="comment?.commodity?.imgPath">
      </desc-list-item>
    </desc-list>

  </nz-card>

  <nz-card nzTitle="评论信息" nzType="inner">

    <desc-list class="mb-lg">
      <desc-list-item term="会员名称">{{comment?.member?.username}}</desc-list-item>
      <desc-list-item term="评价星级">
        <nz-rate [ngModel]="comment.commentStar" nzDisabled></nz-rate>
      </desc-list-item>
      <desc-list-item term="状态">
        <span *ngIf="comment.display==0">未显示</span>
        <span *ngIf="comment.display==1">显示中</span>
      </desc-list-item>
    </desc-list>
    <desc-list class="mb-lg">
      <desc-list-item term="评价时间">{{comment.commentTime}}</desc-list-item>
    </desc-list>
    <nz-card nzTitle="评论图片" nzType="inner">
      <nz-form-control>
        <nz-form-text>
        <span *ngFor="let attachmentVo of comment.attachmentVos">
          <img class="table-img-customer-details" [src]="attachmentVo.filePath">
        </span>
        </nz-form-text>
      </nz-form-control>
    </nz-card>
    <nz-card nzTitle="评价内容" nzType="inner">
      <nz-form-control>
        <div [innerHtml]="sanli.bypassSecurityTrustHtml(comment.commentContent)"></div>
      </nz-form-control>
    </nz-card>
    <desc-list class="mb-lg">
      <desc-list-item term="回复时间">{{comment.replyTime}}</desc-list-item>
    </desc-list>
    <nz-card nzTitle="回复内容" nzType="inner">
      <nz-form-control>
        <div [innerHtml]="sanli.bypassSecurityTrustHtml(comment.replyContent)"></div>
      </nz-form-control>
    </nz-card>

  </nz-card>

  <nz-form-item>
    <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 18 }">
      <button nz-button class="ml-sm" type="button" (click)="goBack()">返回</button>
    </nz-form-control>
  </nz-form-item>

</nz-card>
