<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>
    <div class="card-body widget-body">
        <form class="form-horizontal ">


            <div class="form-group row text-sm-right">

                <label class="col-sm-2 form-control-label mt-1">业务对象类型</label>
                <div class="col-sm-4">
                    <label>{{appendixTable.objectType}}</label>
                </div>
            </div>

            <div class="form-group row text-sm-right">

                <label class="col-sm-2 form-control-label mt-1">访问路径</label>
                <div class="col-sm-4">
                    <label>{{appendixTable.filePath}}</label>
                </div>
                <label class="col-sm-2 form-control-label mt-1">业务对象id</label>
                <div class="col-sm-4">
                    <label>{{appendixTable.objectId}}</label>
                </div>
            </div>

            <div class="form-group row text-sm-right">

                <label class="col-sm-2 form-control-label mt-1">所属业务对象路径</label>
                <div class="col-sm-4">
                    <label>{{appendixTable.objectPath}}</label>
                </div>
                <label class="col-sm-2 form-control-label mt-1">附件名称</label>
                <div class="col-sm-4">
                    <label>{{appendixTable.fileName}}</label>
                </div>
            </div>

            <div class="form-group row text-sm-right">

                <label class="col-sm-2 form-control-label mt-1">扩展文件名</label>
                <div class="col-sm-4">
                    <label>{{appendixTable.fileExt}}</label>
                </div>
                <label class="col-sm-2 form-control-label mt-1">文件类型</label>
                <div class="col-sm-4">
                    <label>{{appendixTable.fileType}}</label>
                </div>
            </div>

            <div class="form-group row text-sm-right">

                <label class="col-sm-2 form-control-label mt-1">文件大小</label>
                <div class="col-sm-4">
                    <label>{{appendixTable.fileSize}}</label>
                </div>
                <label class="col-sm-2 form-control-label mt-1">文件存储系统标识</label>
                <div class="col-sm-4">
                    <label>{{appendixTable.fsGuid}}</label>
                </div>
            </div>

            <div class="form-group row text-sm-right">

                <label class="col-sm-2 form-control-label mt-1">上传时间</label>
                <div class="col-sm-4">
                    <label>{{appendixTable.createTime}}</label>
                </div>
                <label class="col-sm-2 form-control-label mt-1">上传人id</label>
                <div class="col-sm-4">
                    <label>{{appendixTable.userId}}</label>
                </div>
            </div>

            <div class="form-group row text-sm-right">

                <label class="col-sm-2 form-control-label mt-1">长传人</label>
                <div class="col-sm-4">
                    <label>{{appendixTable.userName}}</label>
                </div>
                <label class="col-sm-2 form-control-label mt-1">描述</label>
                <div class="col-sm-4">
                    <label>{{appendixTable.description}}</label>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-9 offset-sm-2">
                    <button class="btn btn-info" [routerLink]="'../../edit/'+appendixTable.appendixTableId" type="button">编辑</button>
                    <button class="btn btn-inverse ml-1" type="button" (click)="goBack()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
