@import "../../global";
.withdraw{
  margin: 1rem 0 1rem -0.5rem;
  span{
    font-size: 3rem;
  }
  input{
    border: none;
    background: transparent;
    width: 80%;
  }
}

.btns{
  margin: 1rem 0 2rem;
  .btn{
    padding: 0.4rem 2.5rem;
    margin-right: 0.3rem;
  }
  .btn-select{
      color: #e51765;
      border-color: #e51765;
  }
}
