<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>
    <div class="card-body widget-body">
        <form [formGroup]="searchForm">
            <div class=" form-inline form-group">

                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">GUID</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('guid',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">会员（member表ID）</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('memberId',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">成交单数</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('orderQuantity',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>

                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">消费金额</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('consumeAmount',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">账户余额</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('balance',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">冻结金额</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('freezeAmount',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>

                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">积分</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('integral',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">剩余积分</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('residualIntegral',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">备注</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('remark',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>

            </div>
        </form>

        <div class=" form-inline form-group">
            <div class="col-lg-12">
                <div class=" pull-right">
                    <button class="btn btn-primary  mr-1" [routerLink]="'../add'"><i class="fa fa-plus"></i>&nbsp;新增
                    </button>
                    <button class="btn btn-danger  mr-1" (click)="remove()"><i class="fa fa-remove"></i>&nbsp;删除
                    </button>
                    <button class="btn btn-inverse  mr-1" (click)="edit()"><i class="fa fa-edit"></i>&nbsp;编辑
                    </button>
                    <button class="btn btn-success  mr-1" (click)="searchData()"><i class="fa fa-search"></i>&nbsp;查询
                    </button>
                    <button class="btn btn-warning  mr-1" (click)="view()"><i class="fa fa-book"></i>&nbsp;详情
                    </button>
                    <button class="btn btn-info  mr-1" (click)="clearSearch()"><i class="fa fa-refresh"></i>&nbsp;重置
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body pt-0 widget-body">
        <table class="table table-hover">
            <thead>
            <tr>
                        <th>GUID</th>
                        <th>会员（member表ID）</th>
                        <th>成交单数</th>
                        <th>消费金额</th>
                        <th>账户余额</th>
                        <th>冻结金额</th>
                        <th>积分</th>
                        <th>剩余积分</th>
                        <th>备注</th>
            </tr>
            </thead>
            <tbody>
            <ng-template [ngIf]="anys|isNotEmpty">
                <tr *ngFor="let account of anys;let i=index"    (click)="getSelect(account.accountId,i)">
                                            <td><input type="radio" name="select">
                                            </td>
                    <td>{{account.guid}}</td>
                    <td>{{account.memberId}}</td>
                    <td>{{account.orderQuantity}}</td>
                    <td>{{account.consumeAmount}}</td>
                    <td>{{account.balance}}</td>
                    <td>{{account.freezeAmount}}</td>
                    <td>{{account.integral}}</td>
                    <td>{{account.residualIntegral}}</td>
                    <td>{{account.remark}}</td>
                </tr>

                <ngb-pagination class="d-flex justify-content-center"
                                [collectionSize]="pageQuery.responses.totalElements" [(page)]="pageQuery.page"
                                [maxSize]="pageQuery.pageSize"
                                [rotate]="true" [boundaryLinks]="true"
                                (pageChange)="pageChange($event)"></ngb-pagination>
            </ng-template>

            </tbody>
        </table>

        <app-no-data-tip [isShow]="anys|isEmpty"></app-no-data-tip>
    </div>
</div>


