

<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>
    <div class="card-body widget-body">
        <form class="form-horizontal "  >


                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">GUID</label>
                                <div class="col-sm-4">
                                    <label>{{attributeGroup.guid}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">编码</label>
                                <div class="col-sm-4">
                                    <label>{{attributeGroup.groupNo}}</label>
                                </div>
                                <label class="col-sm-2 form-control-label mt-1">名称</label>
                                <div class="col-sm-4">
                                    <label>{{attributeGroup.groupName}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">图片</label>
                                <div class="col-sm-4">
                                    <label>{{attributeGroup.imgPath}}</label>
                                </div>
                                <label class="col-sm-2 form-control-label mt-1">排序</label>
                                <div class="col-sm-4">
                                    <label>{{attributeGroup.sort}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">状态（0启用1禁用）</label>
                                <div class="col-sm-4">
                                    <label>{{attributeGroup.state}}</label>
                                </div>
                                <label class="col-sm-2 form-control-label mt-1">创建时间</label>
                                <div class="col-sm-4">
                                    <label>{{attributeGroup.createTime}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">备注</label>
                                <div class="col-sm-4">
                                    <label>{{attributeGroup.remark}}</label>
                                </div>
                                <label class="col-sm-2 form-control-label mt-1">删除（0否1是）</label>
                                <div class="col-sm-4">
                                    <label>{{attributeGroup.deleted}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">删除时间</label>
                                <div class="col-sm-4">
                                    <label>{{attributeGroup.delTime}}</label>
                                </div>
                    </div>

            <div class="form-group row">
                <div class="col-sm-9 offset-sm-2">
                    <button class="btn btn-info" [routerLink]="'../../edit/'+attributeGroup.attributeGroupId" type="button">编辑</button>
                    <button class="btn btn-inverse ml-1" type="button" (click)="goBack()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
