
<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>

    <div class="card-body widget-body">
        <form class="form-horizontal "  [formGroup]="commonForm">

                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">GUID </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('guid')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="guid" placeholder="请输入GUID">

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">member表ID <span class="text-danger">*</span></label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('memberId')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="memberId" placeholder="请输入member表ID">
                                        <app-form-error [control]="commonForm.get('memberId')" [formErrors]="formErrors.memberId"></app-form-error>

                                </div>
                                <label class="col-sm-2 form-control-label mt-1">姓名 <span class="text-danger">*</span></label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('fullName')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="fullName" placeholder="请输入姓名">
                                        <app-form-error [control]="commonForm.get('fullName')" [formErrors]="formErrors.fullName"></app-form-error>

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">手机号 <span class="text-danger">*</span></label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('phone')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="phone" placeholder="请输入手机号">
                                        <app-form-error [control]="commonForm.get('phone')" [formErrors]="formErrors.phone"></app-form-error>

                                </div>
                                <label class="col-sm-2 form-control-label mt-1">省 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('province')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="province" placeholder="请输入省">

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">市 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('city')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="city" placeholder="请输入市">

                                </div>
                                <label class="col-sm-2 form-control-label mt-1">区 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('district')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="district" placeholder="请输入区">

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">详细地址 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('address')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="address" placeholder="请输入详细地址">

                                </div>
                                <label class="col-sm-2 form-control-label mt-1">默认地址（0非默认1默认） <span class="text-danger">*</span></label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('preferred')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="preferred" placeholder="请输入默认地址（0非默认1默认）">
                                        <app-form-error [control]="commonForm.get('preferred')" [formErrors]="formErrors.preferred"></app-form-error>

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">创建时间 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('createTime')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="createTime" placeholder="请输入创建时间">

                                </div>
                                <label class="col-sm-2 form-control-label mt-1">删除（0否1是） <span class="text-danger">*</span></label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('deleted')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="deleted" placeholder="请输入删除（0否1是）">
                                        <app-form-error [control]="commonForm.get('deleted')" [formErrors]="formErrors.deleted"></app-form-error>

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">删除时间 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('delTime')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="delTime" placeholder="请输入删除时间">

                                </div>
                    </div>

            <div class="form-group row">
                <div class="col-sm-9 offset-sm-2">
                    <button class="btn btn-info" type="button" (click)="onSubmit()" >保存</button>
                    <button class="btn btn-gray ml-1" type="button" (click)="goBack()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>