.maximum{
    width: 98%;
  table{
     width: 100%;
    tr{
      th{
          padding: 5px;
          padding-left: 25px;
          border: 1px slategrey solid;
          font-size: 18px;
      }
      td{


      }
    }
  }
}