<!--
<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>
    <div class="card-body widget-body">
        <form [formGroup]="searchForm">
            <div class=" form-inline form-group">

                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">GUID</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('guid',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">父级资源</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('parentId',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">资源编码</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('code',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>

                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">资源名称</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('name',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">资源路径</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('url',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">创建时间</label>

                                    <input class="col-lg-4 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('createTime',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">-
                                    <input class="col-lg-4 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('createTime',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>

                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">删除（0否1是）</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('deleted',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">删除时间</label>

                                    <input class="col-lg-4 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('delTime',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">-
                                    <input class="col-lg-4 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('delTime',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>

            </div>
        </form>

        <div class=" form-inline form-group">
            <div class="col-lg-12">
                <div class=" pull-right">
                    <button class="btn btn-primary  mr-1" [routerLink]="'../add'"><i class="fa fa-plus"></i>&nbsp;新增
                    </button>
                    <button class="btn btn-danger  mr-1" (click)="remove()"><i class="fa fa-remove"></i>&nbsp;删除
                    </button>
                    <button class="btn btn-inverse  mr-1" (click)="edit()"><i class="fa fa-edit"></i>&nbsp;编辑
                    </button>
                    <button class="btn btn-success  mr-1" (click)="searchData()"><i class="fa fa-search"></i>&nbsp;查询
                    </button>
                    <button class="btn btn-warning  mr-1" (click)="view()"><i class="fa fa-book"></i>&nbsp;详情
                    </button>
                    <button class="btn btn-info  mr-1" (click)="clearSearch()"><i class="fa fa-refresh"></i>&nbsp;重置
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body pt-0 widget-body">
        <table class="table table-hover">
            <thead>
            <tr>
                        <th>GUID</th>
                        <th>父级资源</th>
                        <th>资源编码</th>
                        <th>资源名称</th>
                        <th>资源路径</th>
                        <th>创建时间</th>
                        <th>删除（0否1是）</th>
                        <th>删除时间</th>
            </tr>
            </thead>
            <tbody>
            <ng-template [ngIf]="anys|isNotEmpty">
                <tr *ngFor="let resc of anys;let i=index"    (click)="getSelect(resc.rescId,i)">
                                            <td><input type="radio" name="select">
                                            </td>
                    <td>{{resc.guid}}</td>
                    <td>{{resc.parentId}}</td>
                    <td>{{resc.code}}</td>
                    <td>{{resc.name}}</td>
                    <td>{{resc.url}}</td>
                    <td>{{resc.createTime}}</td>
                    <td>{{resc.deleted}}</td>
                    <td>{{resc.delTime}}</td>
                </tr>

                <ngb-pagination class="d-flex justify-content-center"
                                [collectionSize]="pageQuery.responses.totalElements" [(page)]="pageQuery.page"
                                [maxSize]="pageQuery.pageSize"
                                [rotate]="true" [boundaryLinks]="true"
                                (pageChange)="pageChange($event)"></ngb-pagination>
            </ng-template>

            </tbody>
        </table>

        <app-no-data-tip [isShow]="anys|isEmpty"></app-no-data-tip>
    </div>
</div>


-->
<!--<div class="maximum">
    <table>
        <tr>
            <th>
                权限列表
            </th>

        </tr>
        <tr>
            <td>
                   asdasd
            </td>
        </tr>
        <tr>
            <td>
                asdasd
            </td>
        </tr>
    </table>
</div>-->
<app-jurisdiction  (result)="setParentResc($event)"></app-jurisdiction>




