<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>

    <div class="card-body widget-body">
        <form class="form-horizontal " [formGroup]="commonForm">

            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">GUID </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('guid')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="guid"
                           placeholder="请输入GUID">

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">会员（member表ID） <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('memberId')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="memberId"
                           placeholder="请输入会员（member表ID）">
                    <app-form-error [control]="commonForm.get('memberId')"
                                    [formErrors]="formErrors.memberId"></app-form-error>

                </div>
                <label class="col-sm-2 form-control-label mt-1">订单编号 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('orderNo')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="orderNo"
                           placeholder="请输入订单编号">

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">订单状态（1待付款2待发货3已发货4已完成5已关闭） <span
                        class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('state')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="state"
                           placeholder="请输入订单状态（1待付款2待发货3已发货4已完成5已关闭）">
                    <app-form-error [control]="commonForm.get('state')"
                                    [formErrors]="formErrors.state"></app-form-error>

                </div>
                <label class="col-sm-2 form-control-label mt-1">买家留言 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('buyerMessage')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="buyerMessage"
                           placeholder="请输入买家留言">

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">收货人 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('consignee')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="consignee"
                           placeholder="请输入收货人">

                </div>
                <label class="col-sm-2 form-control-label mt-1">收货人电话 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('consigneePhone')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="consigneePhone"
                           placeholder="请输入收货人电话">

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">收货人地址 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('consigneeAddr')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="consigneeAddr"
                           placeholder="请输入收货人地址">

                </div>
                <label class="col-sm-2 form-control-label mt-1">配送方式 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('deliveryMode')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="deliveryMode"
                           placeholder="请输入配送方式">

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">物流公司 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('logisticsCompany')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="logisticsCompany"
                           placeholder="请输入物流公司">

                </div>
                <label class="col-sm-2 form-control-label mt-1">快递单号 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('trackingNo')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="trackingNo"
                           placeholder="请输入快递单号">

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">订单金额 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('orderAmount')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="orderAmount"
                           placeholder="请输入订单金额">

                </div>
                <label class="col-sm-2 form-control-label mt-1">优惠金额 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('discountAmount')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="discountAmount"
                           placeholder="请输入优惠金额">

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">运费 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('freight')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="freight"
                           placeholder="请输入运费">

                </div>
                <label class="col-sm-2 form-control-label mt-1">实付金额 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('payAmount')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="payAmount"
                           placeholder="请输入实付金额">

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">交易号 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('tradeNo')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="tradeNo"
                           placeholder="请输入交易号">

                </div>
                <label class="col-sm-2 form-control-label mt-1">支付方式（1支付宝2微信3银联） </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('payMode')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="payMode"
                           placeholder="请输入支付方式（1支付宝2微信3银联）">

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">下单时间 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('createTime')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="createTime"
                           placeholder="请输入下单时间">

                </div>
                <label class="col-sm-2 form-control-label mt-1">付款时间 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('paymentTime')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="paymentTime"
                           placeholder="请输入付款时间">

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">发货时间 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('deliveryTime')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="deliveryTime"
                           placeholder="请输入发货时间">

                </div>
                <label class="col-sm-2 form-control-label mt-1">成交时间 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('dealTime')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="dealTime"
                           placeholder="请输入成交时间">

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">备注 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('remark')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="remark"
                           placeholder="请输入备注">

                </div>
                <label class="col-sm-2 form-control-label mt-1">删除（0否1是） <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('deleted')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="deleted"
                           placeholder="请输入删除（0否1是）">
                    <app-form-error [control]="commonForm.get('deleted')"
                                    [formErrors]="formErrors.deleted"></app-form-error>

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">删除时间 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('delTime')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="delTime"
                           placeholder="请输入删除时间">

                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-9 offset-sm-2">
                    <button class="btn btn-info" type="button" (click)="onSubmit()">保存</button>
                    <button class="btn btn-gray ml-1" type="button" (click)="goBack()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>