@import "../../../global";
.segment-button {
  border-bottom: none !important;
}

ion-footer {
  padding: 10px;
  background-color: $space-color;
}
.nolist {
  background: url("../../../assets/app_icon/basic/无储值券数据@2x.png") no-repeat center center;
  background-size: 100%;
  width: 50%;
}
.backBtn {
  width: 10px;
  margin-left: 7px;
}