<ion-row class="buttons">

    <ion-col (click)="goAreaDoubleStar()">
        <img src="../../assets/app_icon/home/01-01帮助中心@2x.png"/>
        <p>双星专区</p>
    </ion-col>
    <ion-col (click)="goNationalGroupPurchase()">
        <img src="assets/app_icon/home/01-01全国拼团@2x.png"/>
        <p>全国拼团</p>
    </ion-col>
    <ion-col (click)="goRecommend()">
        <img src="../../assets/app_icon/home/01-01今日推荐@2x.png"/>
        <p>今日推荐</p>
    </ion-col>
    <ion-col (click)="goCouponReceive()">
        <img src="../../assets/app_icon/home/01-01优惠券专区@2x.png"/>
        <p>优惠券专区</p>
    </ion-col>
    <!--<ion-col (click)="goInvitesCourtesy()">-->
        <!--<img src="../../assets/app_icon/home/01-01邀请有礼@2x.png"/>-->
        <!--<p>邀请有礼</p>-->
    <!--</ion-col>-->

    <ion-col (click)="goSignIn()">
        <img src="../../assets/app_icon/home/01-01每日签到@2x.png"/>
        <p>每日签到</p>
    </ion-col>

    <!--<ion-col (click)="goAreaGift()">
      <img src="assets/app_icon/home/01-01商城活动@2x.png">
      <p>商城活动</p>
    </ion-col>-->


    <!--
    <ion-col (click)="goServiceCenter()">
      <img src="../../assets/app_icon/home/01-01帮助中心@2x.png"/>
      <p>帮助中心</p>
    </ion-col>
    <ion-col (click)="goFlashPurchase()">
        <img src="assets/app_icon/home/01-01秒杀活动@2x.png"/>
        <p>秒杀活动</p>
    </ion-col>
    <ion-col (click)="goCommunityGrouPurchase()">
        <img src="assets/app_icon/home/01-01小区拼团@2x.png"/>
        <p>小区拼团</p>
    </ion-col>
    <ion-col (click)="goCashbackGroupPurchase()">
        <img src="assets/app_icon/home/01-01返现拼团@2x.png"/>
        <p>返现拼团</p>
    </ion-col>
    -->


</ion-row>