.back-color-v2{
  background-color: #f2f2f2;
}

.card-body{
  padding: 0px!important;
}

.text-align-right{
  text-align: right;
}

.text-align-center{
  text-align: center;
}

.text-align-left{
  text-align: left;
}