<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>


    <form class="form-horizontal " [formGroup]="commonForm">

        <div class="large">

            <div class="head">
                <span class="size">  储值券基础信息</span>
            </div>

            <div class="content">
                <!--<button class="btn btn-inverse ml-1" type="button" (click)="goBack()">返回</button>-->
                <br>
                <br>
                <div class="form-group row text-sm-right">
                    <label class="col-sm-2 form-control-label mt-1">储值券名称 <span class="text-danger">*</span></label>
                    <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('couponName')|formMark}">
                        <input class="form-control validation-field" type="text" formControlName="couponName"
                               placeholder="请输入储值券名称">
                        <!--   <app-form-error [control]="commonForm.get('couponName')" [formErrors]="formErrors.couponName"></app-form-error>-->
                        <app-form-error [control]="commonForm.get('couponName')"
                                        [formErrors]="formErrors.couponName"></app-form-error>
                    </div>
                </div>

                <div class="form-group row text-sm-right">
                    <label class="col-sm-2 form-control-label mt-1">总量 <span class="text-danger">*</span></label>
                    <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('quantity')|formMark}">
                        <input class="form-control validation-field" type="text" formControlName="quantity"
                               placeholder="请输入总量">
                        <app-form-error [control]="commonForm.get('quantity')"
                                        [formErrors]="formErrors.quantity"></app-form-error>
                    </div>
                </div>

                <div class="form-group row text-sm-right">
                    <label class="col-sm-2 form-control-label mt-1">面值 <span class="text-danger">*</span></label>
                    <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('parValue')|formMark}">
                        <input class="form-control validation-field" type="text" formControlName="parValue"
                               placeholder="请输入面值">
                        <app-form-error [control]="commonForm.get('parValue')"
                                        [formErrors]="formErrors.parValue"></app-form-error>
                    </div>

                </div>

                <div class="form-group row text-sm-right">
                    <label class="col-sm-2 form-control-label mt-1">领取方式 <span class="text-danger">*</span></label>
                    <div class="col-sm-4 left" [ngClass]="{'has-error':commonForm.get('receiveMode')|formMark}">
                        <!--  <input class="form-control validation-field" type="text" formControlName="full" placeholder="请输入满减">-->
                        <input type="radio" formControlName="receiveMode" value="1"/>手工发放&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" formControlName="receiveMode" value="2"/>自助领取
                        <app-form-error [control]="commonForm.get('receiveMode')"
                                        [formErrors]="formErrors.receiveMode"></app-form-error>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>

        <div class="large">
            <div class="head">
                <span class="size"> 基本规则</span>
            </div>
            <div class="content">
                <br>
                <br>
                <div class="form-group row text-sm-right"></div>
                <div class="form-group row text-sm-right">
                    <label class="col-sm-2 form-control-label mt-1">会员等级 <span class="text-danger">*</span></label>
                    <!--<div class="col-sm-4 left" [ngClass]="{'has-error':commonForm.get('memberLevel.Id')|formMark}">-->

                        <div class="col-sm-4 text-align-left"
                             [ngClass]="{'has-error':commonForm.get('memberLevel.name')|formMark}">
                            <app-modal-selecet
                                    [showCol]="[{name:'id',value:'编码',isShow:false},{name:'name',value:'分类名',isShow:true}]"
                                    [select]="commonForm.value.memberLevel"
                                    [resultName]="commonForm.value.memberLevel.name"
                                    [baseService]="memberLevelService"
                                    (result)="setMemberLevel($event)">
                            </app-modal-selecet>
                        </div>

                    <!--</div>-->
                </div>
                <div class="form-group row text-sm-right">
                    <label class="col-sm-2 form-control-label mt-1">每人限领 <span class="text-danger">*</span></label>
                    <div class="col-sm-4 left" [ngClass]="{'has-error':commonForm.get('limited')|formMark}">
                        <app-select [items]="list" [placeholder]="limited" [titleField]="'key'" [idField]="'value'"
                                    (valueChange)="selectValue('limited',$event)"></app-select>
                        <app-form-error [control]="commonForm.get('limited')"
                                        [formErrors]="formErrors.limited"></app-form-error>
                    </div>
                </div>
                <div class="form-group row text-sm-right">

                    <label class="col-sm-2 form-control-label mt-1">有效期 <span class="text-danger">*</span></label>
                    <div class="col-sm-8 left" [ngClass]="{'has-error':commonForm.get('validType')|formMark}">
                        <input type="radio" formControlName="validType" value="1"/>
                        日期范围
                        <div class="col-lg-4 form-group">
                            <app-date-time-picker #dateTime1 (result)="startTime($event)"></app-date-time-picker>
                        </div>
                        <span style="margin-left: 50px">至</span>
                        <div class="col-lg-4 form-group">
                            <app-date-time-picker #dateTime2  (result)="endTime($event)"></app-date-time-picker>
                        </div>
                    </div>
                </div>
                <div class="form-group row text-sm-right">
                    <label class="col-sm-2 form-control-label mt-1"></label>
                    <div class="col-sm-5 left" [ngClass]="{'has-error':commonForm.get('validType')|formMark}">
                        <input type="radio" formControlName="validType" value="2"/>
                        固定天数 <input style="width:203px;margin: 0 5px" type="text" formControlName="fixedDay">天
                    </div>
                </div>

                <!--<div class="form-group row text-sm-right">-->
                    <!--<label class="col-sm-2 form-control-label mt-1">全部商品</label>-->
                    <!--&lt;!&ndash;<input type="checkbox"   formControlName="commodities" value="null" (click)="chose()"   ng-true-value="" >&ndash;&gt;-->
                <!--</div>-->

                <div class="form-group row text-sm-right" *ngIf="choice">
                    <label class="col-sm-2 form-control-label mt-1">选择商品 </label>
                    <div class="col-sm-4 text-align-left"
                         [ngClass]="{'has-error':commonForm.get('commodities.commodityName')|formMark}">
                        <app-modal-selecet
                                [showCol]="[{name:'id',value:'ID',isShow:false},{name:'commodityNo',value:'编码',isShow:false},{name:'commodityName',value:'商品名',isShow:true}]"
                                [select]="commonForm.value.commodities"
                                [resultName]="selectCommodityName"
                                [baseService]="commodityService"
                                [isMulti]="true"
                                (result)="setParentCategory($event)">
                        </app-modal-selecet>
                    </div>
                </div>
                <br>
                <br>
                <br>

            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-2">
                <br>
                <button class="btn btn-info" type="button" (click)="onSubmit()">保存</button>
                <button class="btn btn-gray ml-1" type="button" (click)="goBack()">返回</button>
                <br>
                <br>
            </div>
        </div>
    </form>

</div>