.large{
  border: 1px #e9ecef solid;
  width: 96%;
  margin: 10px auto;
}
.head{
  padding: 10px;
  background-color: #f7f7f7 !important;

}
.content{
  border: 1px #e9ecef solid;
  /* height: 200px;*/
}
.size{
  font-size: 14px;
}
.commodity{
  tr{
    th{
      /* border: 1px #e9ecef solid;*/
      padding: 3px 15px !important;
    }
    td{
      text-align: center;
      /* border: 1px #e9ecef solid;*/

    }
    .delete{
      text-decoration:underline;
      cursor:pointer;
    }
  }
}
.colorr{
  background-color: #f7f7f7 !important;
}
.left{
  text-align: left !important;
  margin: auto 0 !important;
}

.text-align-left{
  text-align: left;
}
