<page-header [title]="'库存列表查询'">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/dashboard/stock/list']">库存管理</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>库存列表</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
</page-header>

<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'inline'" [formGroup]="searchForm" class="search__form">
    <nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32  }">

      <nz-col nzXs="6" nzSm="6">
        <nz-form-item>
          <nz-form-label>商品名称</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="commodityName" placeholder="请输入商品名称">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzXs="6" nzSm="6">
        <nz-form-item>
          <nz-form-label>货品名称</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="productName" placeholder="请输入货品名称">
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzXs="6" nzSm="6">
        <nz-form-item>
          <nz-form-label>供应商</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="supplierName" placeholder="请输入供应商">
          </nz-form-control>
        </nz-form-item>
      </nz-col>

      <nz-col [nzSpan]="expandForm ? 24 : 6" [class.text-right]="expandForm">
        <button nz-button [nzType]="'primary'" (click)="searchData()" [nzLoading]="loading">查询</button>
        <button nz-button (click)="clearSearch()" class="mx-sm">重置</button>
      </nz-col>
    </nz-row>
  </form>

  <nz-table
    #ajaxTable
    [nzShowSizeChanger]="true"
    [nzFrontPagination]="false"
    [nzData]="datas"
    [nzLoading]="loading"
    [nzTotal]="pageQuery.responses.totalElements"
    [(nzPageIndex)]="pageQuery.page"
    [(nzPageSize)]="pageQuery.pageSize"
    (nzPageIndexChange)="searchData()"
    (nzPageSizeChange)="searchData(true)">

    <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzWidth="23%">商品名称</th>
      <th nzWidth="23%">货品名称</th>
      <th nzWidth="12%">供应商名称</th>
      <th nzWidth="8%">库存量</th>
      <th nzWidth="10%">锁定库存量</th>
      <th nzWidth="10%">使用库存量</th>
      <th nzWidth="7%">排序</th>
      <th nzWidth="7%">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of ajaxTable.data">
      <td>{{data?.commodity?.commodityName}}</td>
      <td>{{data?.product?.productName}}</td>
      <td>{{data?.supplier?.supplierName}}</td>
      <td>{{data.stockQuantity}}</td>
      <td>{{data.lockQuantity}}</td>
      <td>{{data.useQuantity}}</td>
      <td>{{data.sort}}</td>
      <td>
        <a [routerLink]="'../edit/'+data.id">盘点</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>

