<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>
    <div class="card-body widget-body">
        <form [formGroup]="searchForm" >
            <div class=" form-inline form-group">

                <div class="col-lg-4 form-group" >
                    <label class="col-lg-4 form-control-label text-lg-right">会员</label>

                    <input class="col-lg-8 form-control filter" formControlName="username"
                           (blur)="pageQuery.addOnlyFilter('member.username',$event.target.value,'eq')"
                           placeholder="请输入会员" type="text">
                </div>

            </div>
        </form>

        <div class=" form-inline form-group">
            <div class="col-lg-12">
                <div class=" pull-right">
                    <!--<button class="btn btn-primary  mr-1" [routerLink]="'../add'"><i class="fa fa-plus"></i>&nbsp;新增
                    </button>-->
                    <button class="btn btn-success  mr-1" (click)="searchData()"><i class="fa fa-search"></i>&nbsp;查询
                    </button>
                    <button class="btn btn-info  mr-1" (click)="clearSearch()"><i class="fa fa-refresh"></i>&nbsp;重置
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body pt-0 widget-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>会员</th>
                <th>交易号</th>
                <th>订单号</th>
                <th>收货人</th>
                <th>实付金额</th>
                <th>完成时间</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <ng-template [ngIf]="anys|isNotEmpty">
                <tr *ngFor="let consumeRecord of anys;let i=index" (click)="getSelect(consumeRecord.id,i)">
                    <td style="display: none"><input type="radio" name="select">
                    </td>
                    <td>{{consumeRecord?.member?.username}}</td>
                    <td>{{consumeRecord.tradeNo}}</td>
                    <td>{{consumeRecord.orderNo}}</td>
                    <td>{{consumeRecord.consignee}}</td>
                    <td>{{consumeRecord.payAmount}}</td>
                    <td>{{consumeRecord.finishTime}}</td>
                    <td>{{consumeRecord.remark}}</td>
                    <td>
                        <!--<span class="span" [routerLink]="'../edit/'+consumeRecord.id">编辑</span>&nbsp;&nbsp;-->
                        <span class="span" [routerLink]="'../view/'+consumeRecord.id">详情</span>
                    </td>
                </tr>

                <ngb-pagination class="d-flex justify-content-center"
                                [collectionSize]="pageQuery.responses.totalElements" [(page)]="pageQuery.page"
                                [maxSize]="pageQuery.pageSize"
                                [rotate]="true" [boundaryLinks]="true"
                                (pageChange)="pageChange($event)"></ngb-pagination>
            </ng-template>

            </tbody>
        </table>

        <app-no-data-tip [isShow]="anys|isEmpty"></app-no-data-tip>
    </div>
</div>


