<page-header [title]="'查看成员'"></page-header>

<nz-card>

  <nz-form-item>

    <nz-form-label nzXs="10" nzSm="3" nzFor="deptId">部门</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{user?.dept?.deptName}}</nz-form-text>
    </nz-form-control>

    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="username">用户名</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{user.username}}</nz-form-text>
    </nz-form-control>

  </nz-form-item>

  <nz-form-item>

    <nz-form-label nzXs="10" nzSm="3" nzFor="fullName">姓名</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{user.fullName}}</nz-form-text>
    </nz-form-control>

    <nz-form-label nzXs="10" nzSm="3" nzFor="jobNo">工号</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{user.jobNo}}</nz-form-text>
    </nz-form-control>

  </nz-form-item>

  <nz-form-item>

    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="password">密码</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{user.password}}</nz-form-text>
    </nz-form-control>

    <nz-form-label nzXs="10" nzSm="3" nzFor="phone">手机号</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{user.phone}}</nz-form-text>
    </nz-form-control>

  </nz-form-item>

  <nz-form-item>

    <nz-form-label nzXs="10" nzSm="3" nzFor="email">邮箱</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{user.email}}</nz-form-text>
    </nz-form-control>

    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="state">状态</nz-form-label>
    <!--（0启用1禁用）-->
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text *ngIf="user.state==0">启用</nz-form-text>
      <nz-form-text *ngIf="user.state==1">禁用</nz-form-text>
    </nz-form-control>

  </nz-form-item>


  <nz-form-item>
    <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 7 }">
      <button nz-button nzType="primary" type="submit" [routerLink]="'../../edit/'+ user.id">编辑</button>
      <button nz-button class="ml-sm" type="button" (click)="goBack()">返回</button>
    </nz-form-control>
  </nz-form-item>

</nz-card>
