

<page-header [title]="'查看信息'"></page-header>

<nz-card>
    <nz-form-item>


                    <nz-form-label nzXs="10" nzSm="3" nzFor="guid">GUID</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{question.guid}}</nz-form-text>
                    </nz-form-control>
    </nz-form-item>
    <nz-form-item>

                    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="questionTypeId">问题类型(question_type表ID)</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{question.questionTypeId}}</nz-form-text>
                    </nz-form-control>

                    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="askQuestion">提出问题</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{question.askQuestion}}</nz-form-text>
                    </nz-form-control>
    </nz-form-item>
    <nz-form-item>

                    <nz-form-label nzXs="10" nzSm="3" nzFor="answerQuestion">回答问题</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{question.answerQuestion}}</nz-form-text>
                    </nz-form-control>

                    <nz-form-label nzXs="10" nzSm="3" nzFor="sort">排序</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{question.sort}}</nz-form-text>
                    </nz-form-control>
    </nz-form-item>
    <nz-form-item>

                    <nz-form-label nzXs="10" nzSm="3" nzFor="state">显示（0显示1不显示）</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{question.state}}</nz-form-text>
                    </nz-form-control>

                    <nz-form-label nzXs="10" nzSm="3" nzFor="createTime">创建时间</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{question.createTime}}</nz-form-text>
                    </nz-form-control>
    </nz-form-item>
    <nz-form-item>

                    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="deleted">删除（0否1是）</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{question.deleted}}</nz-form-text>
                    </nz-form-control>

                    <nz-form-label nzXs="10" nzSm="3" nzFor="delTime">删除时间</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{question.delTime}}</nz-form-text>
                    </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 7 }">
            <button nz-button nzType="primary" type="submit" [routerLink]="'../../edit/'+ question.id">编辑</button>
            <button nz-button class="ml-sm" type="button" (click)="goBack()">返回</button>
        </nz-form-control>
    </nz-form-item>

</nz-card>
