<div class="row pt-md pb-md">
    <div class="col-lg-9 pt-md">
        <ng-container *ngFor="let dep of dept.parents">
            <a href="#" (click)="loadDataByDeptId(dep.deptId)">{{dep.deptName}}</a>&nbsp;/
        </ng-container>
        <span class="text-muted">{{dept?.dept?.deptName}}</span>
    </div>
    <div class="col-lg-3 ">
        <ng-template [ngIf]="dept.children | isNotEmpty">
            <select class="form-control" (change)="loadDataByDeptId($event.target.value)">
                <option [value]="null">请选择子部门</option>
                <ng-container *ngFor="let dep of dept.children">
                    <option value="{{dep.deptId}}">{{dep.deptName}}</option>
                </ng-container>
            </select>
        </ng-template>
    </div>
</div>
