<ion-header>
    <ion-toolbar>
        <ion-title>订单详情</ion-title>
        <goback></goback>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <ion-list class="banner">
        <ion-row class="status" ngClass="{{banner}}">
            <ion-col>
                <span class="common-font">{{order?.orderStateMsg}}</span>
                <!--<ion-label *ngIf="order?.orderState==1">剩余时间59分50秒</ion-label>-->
                <!--<ion-label *ngIf="(order?.orderState==2 || order?.orderState==3)">普通快递</ion-label>-->
            </ion-col>
        </ion-row>
    </ion-list>

    <div class="common-hr"></div>
    <ion-list class="common-list">
        <ion-list-header>商品信息</ion-list-header>
        <commodity-item *ngFor="let commodity of order?.productList;let i = index" [commodity]="commodity">
            <span class="red common-notice" margin-start>￥{{order.saleOrderItems[i].price}}</span>
            <span>&nbsp;&nbsp;<del class="common-spec grey" *ngIf="commodity.price > order.saleOrderItems[i].price">￥{{commodity.price}}</del></span>
            <span class="right red common-notice">x{{commodity.quantity}}</span>
        </commodity-item>
    </ion-list>
    <div class="common-hr"></div>

    <ion-list class="common-list info">
        <ion-list-header>后续缴费<span class="note-float-right red">{{PayAllInfo}}</span></ion-list-header>
        <ion-row>
            <ion-col size="3"><p class="greys">报考学校</p></ion-col>
            <ion-col size="8"><p>￥{{order?.orderAmount}}</p></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="3"><p class="greys">选取专业</p></ion-col>
            <ion-col size="8"><p>￥{{order?.orderAmount}}</p></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="3"><p class="greys">学历类型</p></ion-col>
            <ion-col size="8"><p>￥{{order?.orderAmount}}</p></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="3"><p class="greys">学历费用</p></ion-col>
            <ion-col size="8"><p>￥{{order?.orderAmount}}</p></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="3"><p class="greys">红包抵扣</p></ion-col>
            <ion-col size="8"><p><span *ngIf="order?.couponAmount">-</span> ￥{{order?.couponAmount || 0}}</p></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="3"><p class="greys">最终缴费</p></ion-col>
            <ion-col size="8"><p><span *ngIf="order?.couponAmount">-</span> ￥{{order?.couponAmount || 0}}</p></ion-col>
        </ion-row>
    </ion-list>

    <ion-list class="common-list info">
        <ion-list-header>订单信息</ion-list-header>
        <ion-row>
            <ion-col size="3"><p class="greys">预约费用</p></ion-col>
            <ion-col size="8"><p>￥{{order?.orderAmount}}</p></ion-col>
        </ion-row>
    </ion-list>

    <div class="common-hr"></div>

    <ion-list class="common-list info">
        <ion-row>
            <ion-col size="3"><p class="greys">订单编号</p></ion-col>
            <ion-col size="8"><p>{{order?.orderNo}}</p></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="3"><p class="greys">提交时间</p></ion-col>
            <ion-col size="8"><p>{{order?.orderTime}}</p></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="3"><p class="greys">支付方式</p></ion-col>
            <ion-col size="8"><p>{{order?.payMode}}</p></ion-col>
        </ion-row>
        <ion-row *ngIf="(order?.orderState!=1 && order?.orderState!=5)">
            <ion-col size="3"><p class="greys">实付金额</p></ion-col>
            <ion-col size="8"><p>￥{{order?.payAmount}}</p></ion-col>
        </ion-row>
        <ion-row *ngIf="(order?.orderState!=1 && order?.orderState!=5)">
            <ion-col size="3"><p class="greys">付款时间</p></ion-col>
            <ion-col size="8"><p>{{order?.paymentTime}}</p></ion-col>
        </ion-row>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <div *ngIf="order?.orderState==1" margin-top>
            应付金额:
            <span class="small red">￥<span class="common-font">{{order?.payAmount}}</span></span>
        </div>
        <div text-right float-right>
            <ion-button size="small" shape="round" fill="outline" color="danger" *ngIf="order?.orderState==1"
                        (click)="goOrderPay(order)">立即付款
            </ion-button>
            <ion-button size="small" shape="round" fill="outline" color="dark" *ngIf="(order?.orderState==4 || order?.orderState==5)"
                        (click)="delOrder(order)">删除订单
            </ion-button>
            <ion-button size="small" shape="round" fill="outline" color="dark" *ngIf="order?.afterSaleState==1"
                        (click)="goApplyReturn(order)">申请售后
            </ion-button>
            <ion-button size="small" shape="round" fill="outline" color="dark" *ngIf="order?.afterSaleState==2 || order?.afterSaleState==3"
                        (click)="goRecordDetailsPage(order)">查看进度
            </ion-button>
            <ion-button size="small" shape="round" fill="outline" color="danger" *ngIf="order?.commentState==1"
                        (click)="goEvaluation(order)">评价商品
            </ion-button>
            <ion-button size="small" shape="round" fill="outline" color="danger" *ngIf="(order?.orderState==4 || order?.orderState==5)"
                        (click)="shippngAgain(order)">再次购买
            </ion-button>
        </div>
    </ion-toolbar>
</ion-footer>