<ul class="choose_shelf">
    <li (click)="onItemClick(i)" *ngFor="let menu of menus;let i=index"
        [ngStyle]="{'background-color':selectMenu ===i ? 'white' : '#e9ecef' }">{{menu.name}}
    </li>
</ul>
<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>
    <div class="card-body widget-body">
        <form [formGroup]="searchForm">
            <div class=" form-inline form-group">

                <div class="col-lg-4 form-group">
                    <label class="col-lg-3 form-control-label text-lg-right">省</label>

                    <input class="col-lg-6 form-control filter" formControlName="province"
                           (blur)="pageQuery.addOnlyFilter('province',$event.target.value,'eq')"
                           placeholder="请输入省" type="text">
                </div>
                <div class="col-lg-4 form-group">
                    <label class="col-lg-3 form-control-label text-lg-right">市</label>

                    <input class="col-lg-6 form-control filter" formControlName="city"
                           (blur)="pageQuery.addOnlyFilter('city',$event.target.value,'eq')"
                           placeholder="请输入市" type="text">
                </div>

            </div>
        </form>

        <div class=" form-inline form-group">
            <div class="col-lg-12">
                <div class=" pull-right">
                    <button class="btn btn-primary  mr-1" [routerLink]="'../add'"><i class="fa fa-plus"></i>&nbsp;新增
                    </button>
                    <button class="btn btn-success  mr-1" (click)="searchData()"><i class="fa fa-search"></i>&nbsp;查询
                    </button>
                    <button class="btn btn-info  mr-1" (click)="clearSearch()"><i class="fa fa-refresh"></i>&nbsp;重置
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body pt-0 widget-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>省</th>
                <th>市</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <ng-template [ngIf]="anys|isNotEmpty">
                <tr *ngFor="let region of anys;let i=index" (click)="getSelect(region.id,i)">
                    <td style="display: none"><input type="radio" name="select">
                    </td>
                    <td>{{region.province}}</td>
                    <td>{{region.city}}</td>
                    <td>{{region.createTime}}</td>
                    <td>
                        <span class="span" [routerLink]="'../edit/'+region.id">编辑</span>&nbsp;&nbsp;
                        <span class="span" [routerLink]="'../view/'+region.id">详情</span>
                        <br>
                        <span *ngIf="region.state==1">
                            <span class="span"  (click)="enable(region.id)" >启用</span>&nbsp;&nbsp;
                            <span class="span" (click)="remove()">删除</span>
                        </span>
                        <span class="span" *ngIf="region.state==0" (click)="disable(region.id)" >禁用</span>
                    </td>
                </tr>

                <ngb-pagination class="d-flex justify-content-center"
                                [collectionSize]="pageQuery.responses.totalElements" [(page)]="pageQuery.page"
                                [maxSize]="pageQuery.pageSize"
                                [rotate]="true" [boundaryLinks]="true"
                                (pageChange)="pageChange($event)"></ngb-pagination>
            </ng-template>

            </tbody>
        </table>

        <app-no-data-tip [isShow]="anys|isEmpty"></app-no-data-tip>
    </div>
</div>


