<ion-header>
    <ion-toolbar>
        <ion-title>账户与安全</ion-title>
        <goback></goback>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <ion-list class="common-list" lines="none">
        <ion-item (click)="goPaymentPwd()">
            <ion-label>支付密码</ion-label>
            <ion-note *ngIf="hasPaypsw">未设置</ion-note>
            <ion-icon class="icon-forward" name="ios-arrow-forward"></ion-icon>
        </ion-item>
        <div class="line-divid"></div>
        <ion-item (click)="goChangePhoneId()">
            <ion-label>手机号</ion-label>
            <ion-note>{{phone}}</ion-note>
            <ion-icon class="icon-forward" name="ios-arrow-forward"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
