<page-header [title]="'查看信息'"></page-header>

<nz-card>
  <nz-form-item>


    <nz-form-label nzXs="10" nzSm="3" nzFor="guid">GUID</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{freightTemplateConfig.guid}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>

    <nz-form-label nzXs="10" nzSm="3" nzFor="configNo">模板配置编号</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{freightTemplateConfig.configNo}}</nz-form-text>
    </nz-form-control>

    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="configName">模板配置名称</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{freightTemplateConfig.configName}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>

    <nz-form-label nzXs="10" nzSm="3" nzFor="supplierId">供应商（supplier表ID）</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{freightTemplateConfig.supplier.supplierName}}</nz-form-text>
    </nz-form-control>

    <nz-form-label nzXs="10" nzSm="3" nzFor="deliveryTime">发货时间（1-12小时内，2-24小时内，3-1天内，4-3天内，5-5天内）</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{freightTemplateConfig.deliveryTime}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>

    <nz-form-label nzXs="10" nzSm="3" nzFor="timeUnit">发货时间单位（1小时，2天）</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{freightTemplateConfig.timeUnit}}</nz-form-text>
    </nz-form-control>

    <nz-form-label nzXs="10" nzSm="3" nzFor="freightType">运费类型（1自定义运费，2卖家承担运费）</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{freightTemplateConfig.freightType}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>

    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="chargeMode">计价方式（1按件数，2按重量，3按体积）</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{freightTemplateConfig.chargeMode}}</nz-form-text>
    </nz-form-control>

    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="deliveryMode">运送方式（1快递，2EMS，3平邮）</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{freightTemplateConfig.deliveryMode}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>

    <nz-form-label nzXs="10" nzSm="3" nzFor="freeCondition">包邮条件（0非指定条件1指定条件）</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{freightTemplateConfig.freeCondition}}</nz-form-text>
    </nz-form-control>

    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="state">状态（0启用1禁用）</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{freightTemplateConfig.state}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>

    <nz-form-label nzXs="10" nzSm="3" nzFor="createTime">创建时间</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{freightTemplateConfig.createTime}}</nz-form-text>
    </nz-form-control>

    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="deleted">删除（0否1是）</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{freightTemplateConfig.deleted}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>

    <nz-form-label nzXs="10" nzSm="3" nzFor="delTime">删除时间</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{freightTemplateConfig.delTime}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 7 }">
      <button nz-button nzType="primary" type="submit" [routerLink]="'../../edit/'+ freightTemplateConfig.id">编辑
      </button>
      <button nz-button class="ml-sm" type="button" (click)="goBack()">返回</button>
    </nz-form-control>
  </nz-form-item>

</nz-card>
