<page-header [title]="'交易记录'">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/dashboard/account-record/list']">财务管理</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>交易记录</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
</page-header>

<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'inline'" [formGroup]="searchForm" class="search__form">
    <nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32  }">

      <nz-col nzXs="6" nzSm="6">
        <nz-form-item>
          <nz-form-label>会员账号</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="username" placeholder="请输入会员账号">
          </nz-form-control>
        </nz-form-item>
      </nz-col>

      <nz-col nzXs="6" nzSm="6">
        <nz-form-item>
          <nz-form-label>交易类型</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="tradeType" [nzPlaceHolder]="'不限'">
              <nz-option *ngFor="let tradeType of types" [nzLabel]="tradeType.name" [nzValue]="tradeType.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>

      <nz-col nzXs="6" nzSm="6">
        <nz-form-item>
          <nz-form-label>时间段</nz-form-label>
          <nz-form-control>
            <nz-range-picker (ngModelChange)="changeRange($event)" formControlName="tradeTime"></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </nz-col>

      <nz-col [nzSpan]="expandForm ? 24 : 6" [class.text-right]="expandForm">
        <button nz-button [nzType]="'primary'" (click)="searchData()" [nzLoading]="loading">查询</button>
        <button nz-button (click)="clearSearch()" class="mx-sm">重置</button>
      </nz-col>
    </nz-row>
  </form>

  <nz-table
    #ajaxTable
    [nzShowSizeChanger]="true"
    [nzFrontPagination]="false"
    [nzData]="datas"
    [nzLoading]="loading"
    [nzTotal]="pageQuery.responses.totalElements"
    [(nzPageIndex)]="pageQuery.page"
    [(nzPageSize)]="pageQuery.pageSize"
    (nzPageIndexChange)="searchData()"
    (nzPageSizeChange)="searchData(true)">

    <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th>流水号</th>
      <th>会员账号</th>
      <th>交易金额</th>
      <th>账户余额</th>
      <th>交易类型</th>
      <th>交易时间</th>
      <th>备注</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of ajaxTable.data">
      <td>{{data.serialNo}}</td>
      <td>{{data.member?.username}}</td>
      <td>
        <span *ngIf="data.operateType == 1">+</span><span *ngIf="data.operateType == 2">-</span>{{data.tradeAmount}}
      </td>
      <td>{{data.balance}}</td>
      <td>
        <span *ngIf="data.tradeType == 1">佣金转入</span>
        <span *ngIf="data.tradeType == 2">在线支付</span>
        <span *ngIf="data.tradeType == 3">提现</span>
        <span *ngIf="data.tradeType == 4">小区提成</span>
        <span *ngIf="data.tradeType == 6">退款(原路返回)</span>
      </td>
      <td>{{data.tradeTime}}</td>
      <td>{{data.remark}}</td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>

