<ion-header>
    <ion-toolbar>
        <img class="left backBtn" src="assets/app_icon/home/back@2x.png" (click)="goWriteOrder()">
        <ion-title>我的红包</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <!--<ion-segment [(ngModel)]="pet">-->
        <!--<ion-segment-button value="canuse" (click)="ordersFilter('canuse')">-->
            <!--可用优惠券-->
        <!--</ion-segment-button>-->
        <!--<ion-segment-button value="unuse" (click)="ordersFilter('unuse')">-->
            <!--不可用优惠券-->
        <!--</ion-segment-button>-->
    <!--</ion-segment>-->

    <ion-list>
        <ticket [ticket]="list" [checkId]="checkedId"></ticket>
    </ion-list>

    <div class="nolist ver-midd" *ngIf="!list.length">
        <ion-label class="grey">无相关红包~</ion-label>
    </div>

</ion-content>

<ion-footer>
    <ion-button expand="full" shape="round" color="danger" (click)="goWriteOrder()">确&nbsp;&nbsp;认</ion-button>
</ion-footer>
