@import "../../../global";
.nolist {
  background: url("../../../assets/app_icon/customer/无优惠券数据@2x.png") no-repeat center center;
  background-size: 100%;
  width: 50%;
}

.segment-button {
  border-bottom: none !important;
  background-color: white;
}

ion-footer {
  padding: 10px;
  background-color: $space-color;
}
.backBtn {
  width: 10px;
  margin-left: 7px;
}