.card-body{
  padding: 0px!important;
}

.mt-1, .my-1 {
  margin: 0px !important;
}

.table{
  margin: 0px!important;
}

.back-color-v2{
  background-color: #f2f2f2;
}

.border-show{
  border: #d0cdcb 1px solid;
}


tr th{
  border: #d0cdcb 1px solid;
  text-align: center;
  background-color: #f2f2f2;
}

tr td{
  border: #d0cdcb 1px solid;
  text-align: center;
}