<div widget class="card border-0 box-shadow">
    <div class="card-body pt-0 widget-body border-show">
        <div class="back-color-v2 border-show" style="padding: 10px" col-sm-12><strong>修改价格</strong>&nbsp;&nbsp;(订单原价：￥{{saleOrder.orderAmount}})</div>
        <br>
        <table class="table table-hover" style="width: 95%!important;margin: 0px auto!important;">
            <tr>
                <th>商品信息</th>
                <th>单价</th>
                <th>数量</th>
                <th>涨价或优惠</th>
                <th>小计</th>
                <th>运费</th>
            </tr>

            <tr *ngFor="let saleOrderItems of saleOrder.saleOrderItems" >
                <td>{{saleOrderItems?.commodityName}}</td>
                <td>{{saleOrderItems?.price}}</td>
                <td>{{saleOrderItems?.quantity}}</td>
                <td>
                    <input type="text">&nbsp;&nbsp;
                    <button type="button" style="padding: 0px 10px!important;">加</button>&nbsp;
                    <button type="button" style="padding: 0px 10px!important;">减</button>
                </td>
                <td>{{saleOrderItems?.total}}</td>
                <td><input type="text"></td>
            </tr>
        </table>

        <br>

        <div class="form-group row">
            <div class="col-sm-11 " style="text-align: right!important;">
                <button class="btn btn-info" style="padding: 10px 40px" type="button">保存
                </button>
                <button class="btn btn-inverse ml-1" style="padding: 10px 40px" type="button" (click)="goBack()">取消</button>
            </div>
        </div>
        <label>&nbsp;&nbsp;&nbsp;&nbsp;买家实付=原价-优惠+运费+涨价或折扣</label>
        <br>
        <label>&nbsp;&nbsp;&nbsp;&nbsp;买家实付：{{saleOrder.orderAmount}}-{{saleOrder.discountAmount}}+{{saleOrder.freight}}+0.00={{saleOrder.orderAmount-saleOrder.discountAmount+saleOrder.freight}}</label>
        <br>
        <label>&nbsp;&nbsp;&nbsp;&nbsp;店铺优惠的{{saleOrder.discountAmount}}元已均摊到每个宝贝，并计算在每个宝贝的折扣中</label>
        <br><br><br><br><br><br>
    </div>
</div>

