<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>
    <div class="card-body widget-body">
        <form [formGroup]="searchForm">
            <div class=" form-inline form-group">


                <div class="col-lg-4 form-group">
                    <label class="col-lg-4 form-control-label text-lg-right">优惠券名称</label>


                    <input class="col-lg-6 form-control filter" formControlName="couponName"
                           (blur)="pageQuery.addOnlyFilter('couponName',$event.target.value,'eq')"
                           placeholder="请输入优惠券名称" type="text">
                </div>


                <div class="col-lg-4 form-group">
                    <label class="col-sm-4 form-control-label mt-1">优惠券类型</label>
                    <div class="col-sm-6 left">
                        <app-select [items]="couponType" placeholder="满减券"  [titleField]="'key'" [idField]="'value'"
                                    (valueChange)="selectValue($event)"></app-select>
                    </div>
                </div>

            </div>
        </form>

        <div class=" form-inline form-group">
            <div class="col-lg-12">
                <div class=" pull-right">
                    <button class="btn btn-primary  mr-1" [routerLink]="'../add'"><i class="fa fa-plus"></i>&nbsp;新增
                    </button>
                    <button class="btn btn-success  mr-1" (click)="searchData()"><i class="fa fa-search"></i>&nbsp;查询
                    </button>
                    <button class="btn btn-info  mr-1" (click)="clearSearch()"><i class="fa fa-refresh"></i>&nbsp;重置
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body pt-0 widget-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>优惠券名称</th>
                <th>优惠券类型</th>
                <th>面值</th>
                <th>发放数量</th>
                <th>使用数量</th>
                <th>类型</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>固定天数</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <ng-template [ngIf]="anys|isNotEmpty">
                <tr *ngFor="let coupon of anys;let i=index" (click)="getSelect(coupon.id,i)">
                    <td style="display: none"><input type="radio" name="select">
                    </td>
                    <td>{{coupon.couponName}}</td>
                    <td *ngIf="coupon.couponType==1">满减券</td>
                    <td *ngIf="coupon.couponType==2">买送券</td>
                    <td>{{coupon.parValue}}</td>
                    <td>{{coupon.quantity}}</td>
                    <td>{{coupon.useQuantity}}</td>
                    <th *ngIf="coupon.validType==1">时间段</th>
                    <th *ngIf="coupon.validType==2">固定天数</th>
                    <td>{{coupon.startTime}}</td>
                    <td>{{coupon.endTime}}</td>
                    <td>{{coupon.fixedDay}}</td>
                    <td>
                        <span [routerLink]="'../edit/'+coupon.id">编辑</span>&nbsp;&nbsp;
                        <span [routerLink]="'../view/'+coupon.id">详情</span>
                        <br>
                        <span (click)="remove()">删除</span>
                    </td>
                </tr>

                <ngb-pagination class="d-flex justify-content-center"
                                [collectionSize]="pageQuery.responses.totalElements" [(page)]="pageQuery.page"
                                [maxSize]="pageQuery.pageSize"
                                [rotate]="true" [boundaryLinks]="true"
                                (pageChange)="pageChange($event)"></ngb-pagination>
            </ng-template>

            </tbody>
        </table>

        <app-no-data-tip [isShow]="anys|isEmpty"></app-no-data-tip>
    </div>
</div>


