<ion-header>
    <ion-toolbar>
        <ion-title>我的代金券</ion-title>
        <goback *ngIf="check == 'true'"></goback>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <!--<ion-segment [(ngModel)]="pet" *ngIf="check != 'true'">
      <ion-segment-button value="canuse" (click)="listFilter('canuse')">
        可用储值卷
      </ion-segment-button>
      <ion-segment-button value="unuse" (click)="listFilter('unuse')">
        不可用储值卷
      </ion-segment-button>
    </ion-segment>-->
    <div style="min-height:400px">
        <ion-list class="min-height" *ngIf="tickets.length != 0">
            <ticket [ticket]="tickets" color="white" [type]="check"></ticket>
        </ion-list>

        <div class="nolist ver-midd min-height" *ngIf="!tickets.length && !isLoading">
            <ion-label class="grey">无相关代金券~</ion-label>
        </div>

        <div class="loading" *ngIf="isLoading">
            <ion-spinner></ion-spinner>
        </div>

        <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载..."></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>

    <adv-commodity [list]="advertisingCommodity"></adv-commodity>
</ion-content>
