<ul class="choose_state">
    <li class="card"  (click)="onItemClick(i)" *ngFor="let menu of menus;let i=index"
        [ngStyle]="{'background-color':selectMenu ===i ? 'white' : '#e9ecef' }">{{menu.name}}
    </li>
</ul>
<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>
    <div class="card-body widget-body">
        <form [formGroup]="searchForm">
            <div class=" form-inline form-group">

                <div class="col-lg-4 form-group">
                    <label class="col-lg-3 form-control-label text-lg-right">会员</label>

                    <input class="col-lg-6 form-control filter" formControlName="username"
                           (blur)="pageQuery.addOnlyFilter('username',$event.target.value,'eq')"
                           placeholder="请输入会员" type="text">
                    <!--<div class="col-sm-4"-->
                         <!--[ngClass]="{'has-error':searchForm.get('member?.username')|formMark}">-->

                        <!--<app-modal-selecet #select-->
                                <!--[showCol]="[{name:'username',value:'会员',isShow:true},{name:'id',value:'ID',isShow:false}]"-->
                                <!--[select]="searchForm.value.member"-->
                                <!--[baseService]="memberService"-->
                                <!--(result)="setSaleOrderMember($event)">-->
                        <!--</app-modal-selecet>-->
                    <!--</div>-->
                </div>
                <div class="col-lg-4 form-group">
                    <label class="col-lg-4 form-control-label text-lg-right">订单编号</label>

                    <input class="col-lg-6 form-control filter" formControlName="orderNo"
                           (blur)="pageQuery.addOnlyFilter('orderNo',$event.target.value,'eq')"
                           placeholder="请输入订单编号" type="text">
                </div>

                <div class="col-lg-4 form-group">
                    <label class="col-lg-4 form-control-label text-lg-right">支付方式</label>

                    <select class="col-lg-6 form-control filter" formControlName="payMode">
                        <option *ngFor="let pro of payModes" [value]="pro.code"  >{{pro.title}}</option>
                    </select>

                </div>

            </div>
        </form>

        <div class=" form-inline form-group">
            <div class="col-lg-12">
                <div class=" pull-right">
                    <button class="btn btn-success  mr-1" (click)="searchData()"><i class="fa fa-search"></i>&nbsp;查询
                    </button>
                    <button class="btn btn-info  mr-1" (click)="clearSearch()"><i class="fa fa-refresh"></i>&nbsp;重置
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body pt-0 widget-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>会员</th>
                <th>订单编号</th>
                <th>订单状态</th>
                <th>订单金额</th>
                <th>支付方式</th>
                <th>下单时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <ng-template [ngIf]="anys|isNotEmpty">
                <tr *ngFor="let saleOrder of anys;let i=index" (click)="getSelect(saleOrder.id,i)">
                    <td  style="display: none"><input type="radio" name="select">
                    </td>
                    <td>{{saleOrder.member.username}}</td>
                    <td>{{saleOrder.orderNo}}</td>
                    <td *ngIf="saleOrder.state==1">待付款</td>
                    <td *ngIf="saleOrder.state==2">待发货</td>
                    <td *ngIf="saleOrder.state==3">已发货</td>
                    <td *ngIf="saleOrder.state==4">已完成</td>
                    <td *ngIf="saleOrder.state==5">已关闭</td>
                    <td *ngIf="saleOrder.state>5"></td>
                    <td>{{saleOrder.orderAmount}}</td>
                    <td *ngIf="saleOrder.payMode==1">支付宝</td>
                    <td *ngIf="saleOrder.payMode==2">微信</td>
                    <td *ngIf="saleOrder.payMode==3">银联</td>
                    <td *ngIf="saleOrder.payMode==4">待支付</td>
                    <td>{{saleOrder.createTime}}</td>

                    <td *ngIf="saleOrder.state!='5'"><a [routerLink]="'../view/'+saleOrder.id">查看订单</a></td>
                    <td
                            *ngIf="saleOrder.state=='5'"(click)="goUpdateOrderState(saleOrder.id,'1')"><span>恢复订单
                    </span></td>
                </tr>

                <ngb-pagination class="d-flex justify-content-center"
                                [collectionSize]="pageQuery.responses.totalElements" [(page)]="pageQuery.page"
                                [maxSize]="pageQuery.pageSize"
                                [rotate]="true" [boundaryLinks]="true"
                                (pageChange)="pageChange($event)"></ngb-pagination>
            </ng-template>

            </tbody>
        </table>

        <app-no-data-tip [isShow]="anys|isEmpty"></app-no-data-tip>
    </div>
</div>


