<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>

    <div class="card-body widget-body">
        <form class="form-horizontal " [formGroup]="commonForm">

            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">地区</label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('provinceCityId')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="provinceCityId" placeholder="请输入">

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1"> 管理员</label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('accountId')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="accountId" placeholder="请输入">

                </div>
               <label class="col-sm-2 form-control-label mt-1">区县 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('addressId')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="addressId" placeholder="请输入">

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">小区名称 <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('areaName')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="areaName" placeholder="请输入小区名称">
                    <app-form-error [control]="commonForm.get('areaName')" [formErrors]="formErrors.areaName"></app-form-error>

                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-9 offset-sm-2">
                    <button class="btn btn-info" type="button" (click)="onSubmit()">保存</button>
                    <button class="btn btn-gray ml-1" type="button" (click)="goBack()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>