<page-header [title]="title"></page-header>
<nz-card [nzBordered]="false">
  <form nz-form [formGroup]="commonForm">

    <nz-form-item>
      <nz-form-label nzXs="3" nzSm="3" nzRequired nzFor="name">区域名称</nz-form-label>
      <nz-form-control nzXs="8" nzSm="8" nzHasFeedback>
        <input nz-input formControlName="name" id="name" placeholder="请输入区域名称">
        <nz-form-explain *ngIf="commonForm.get('name').dirty&&commonForm.get('name').errors">
          <ng-container *ngFor="let error of formErrors.name">
            <nz-form-explain *ngIf="commonForm.get('name').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzXs="3" nzSm="3" nzRequired>区域选择</nz-form-label>
      <nz-form-control nzXs="21" nzSm="21" nzMd="21">
        <app-region-tree-select  #regionTreeSelect [select]="this.commonForm.value.regions"
                                 [title]="'选择区域'" [buttonName]="'选择区域'"
                                 (result)="setRegion($event)">
        </app-region-tree-select>
        <nz-form-explain class="has-error" *ngIf="commonForm.get('regions').dirty&&commonForm.get('regions').errors">
          <ng-container *ngFor="let error of formErrors.regions">
            <nz-form-explain *ngIf="commonForm.get('regions').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>

      <nz-form-label nzXs="3" nzSm="3" nzFor="sort">排序</nz-form-label>
      <nz-form-control nzXs="8" nzSm="8">
        <nz-input-number nz-input style="width: 50%" [nzMin]="1" [nzMax]="127" formControlName="sort" id="sort"
                         [nzPlaceHolder]="'请输入排序号'"></nz-input-number>
      </nz-form-control>

    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzXs="3" nzSm="3" nzRequired nzFor="state">状态</nz-form-label>
      <nz-form-control nzXs="8" nzSm="8">
        <nz-radio-group formControlName="state" id="state">
          <label nz-radio [nzValue]="0">启用</label>
          <label nz-radio [nzValue]="1">禁用</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 18 }">
        <nz-modal-customer [showButton]="false" (ok)="onSubmit()" [title]="'提示！'" [content]="'确认要提交吗？'"
                           [buttonName]="'提交'" >
          <nz-divider nzType="vertical"></nz-divider>
        </nz-modal-customer>
        <button nz-button class="ml-sm" type="button" (click)="goBack()">返回</button>
      </nz-form-control>
    </nz-form-item>

  </form>
</nz-card>
