<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>
    <div class="card-body widget-body">
        <div class="row form-inline">

            <div class="col-lg-4 form-group">
                <label class="col-lg-4 form-control-label text-lg-right">卡号</label>


                <input class="col-lg-8 form-control filter"
                       (blur)="pageQuery.addOnlyFilter('cardNo',$event.target.value,'eq')"
                       placeholder="请输入查询条件..." type="text">
            </div>

            <div class="col-lg-4 form-group">
                <label class="col-lg-4 form-control-label text-lg-right">是否允许</label>


                <!--  <input class="col-lg-8 form-control filter"
                         (blur)="pageQuery.addOnlyFilter('isWithdraw',$event.target.value,'eq')"
                         placeholder="请输入查询条件..." type="text">-->
                <app-select (valueChange)="toexamine($event)" [items]="list" [titleField]="'key'"
                            [idField]="'value'"></app-select>
            </div>

            <div class="col-lg-4 form-group">
                <label class="col-lg-4 form-control-label text-lg-right">创建时间</label>
                <input class="col-lg-4 form-control"
                       (blur)="pageQuery.addOnlyFilter('createTime',$event.target.value,'eq')"
                       placeholder="请输入查询条件..." type="text">-
                <input class="col-lg-4 form-control"
                       (blur)="pageQuery.addOnlyFilter('createTime',$event.target.value,'eq')"
                       placeholder="请输入查询条件..." type="text">
            </div>

            <div class="col-lg-4 form-group">
                <label class="col-lg-4 form-control-label text-lg-right">收款人</label>


                <input class="col-lg-8 form-control filter"
                       (blur)="pageQuery.addOnlyFilter('name',$event.target.value,'eq')"
                       placeholder="请输入查询条件..." type="text">
            </div>
            <div class="col-lg-4 form-group">
                <label class="col-lg-4 form-control-label text-lg-right">提现金额</label>


                <input class="col-lg-8 form-control filter"
                       (blur)="pageQuery.addOnlyFilter('price',$event.target.value,'eq')"
                       placeholder="请输入查询条件..." type="text">
            </div>
            <div class="col-lg-4 form-group">
                <label class="col-lg-4 form-control-label text-lg-right">审核时间</label>

                <input class="col-lg-4 form-control"
                       (blur)="pageQuery.addOnlyFilter('auditTime',$event.target.value,'eq')"
                       placeholder="请输入查询条件..." type="text">-
                <input class="col-lg-4 form-control"
                       (blur)="pageQuery.addOnlyFilter('auditTime',$event.target.value,'eq')"
                       placeholder="请输入查询条件..." type="text">
            </div>


            <div class="col-lg-4">
                <button class="btn btn-primary  mr-1" [routerLink]="'../add'"><i class="fa fa-plus"></i>&nbsp;新增
                </button>
                <button class="btn btn-danger  mr-1" (click)="remove()"><i class="fa fa-remove"></i>&nbsp;删除
                </button>
                <button class="btn btn-inverse  mr-1" (click)="edit()"><i class="fa fa-edit"></i>&nbsp;编辑
                </button>
                <button class="btn btn-success  mr-1" (click)="getDatas()"><i class="fa fa-search"></i>&nbsp;查询
                </button>
                <button class="btn btn-warning  mr-1" (click)="view()"><i class="fa fa-book"></i>&nbsp;详情
                </button>
                <button class="btn btn-info  mr-1" (click)="clear()"><i class="fa fa-refresh"></i>&nbsp;重置
                </button>
            </div>
        </div>

    </div>
    <div class="card-body pt-0 widget-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <td></td>
                <th>卡号</th>

                <th>创建时间</th>
                <th>收款人</th>
                <th>提现金额</th>
                <th>审核时间</th>
                <th>是否允许</th>
            </tr>
            </thead>
            <tbody>
            <ng-template [ngIf]="anys|isNotEmpty">
                <tr *ngFor="let withdraw of anys;let i=index" (click)="getSelect(withdraw.withdrawId,i)">

                    <td><input type="radio" name="select">
                    </td>
                    <td>{{withdraw.cardNo}}</td>

                    <td>{{withdraw.createTime}}</td>
                    <td>{{withdraw.name}}</td>
                    <td>{{withdraw.price}}</td>
                    <td>{{withdraw.auditTime}}</td>
                    <td *ngIf="withdraw.isWithdraw">
                        <button class="btn btn-primary  mr-1"><i class="fa"></i>&nbsp; 审核成功
                        </button>

                    </td>
                    <td *ngIf="withdraw.isWithdraw!=true" (click)="getToexamine(withdraw.withdrawId)">
                        <button class="btn btn-primary  mr-1"><i class="fa fa-plus"></i>&nbsp; 待审核
                        </button>
                    </td>

                </tr>

                <ngb-pagination class="d-flex justify-content-center"
                                [collectionSize]="pageQuery.responses.totalElements" [(page)]="pageQuery.page"
                                [maxSize]="pageQuery.pageSize"
                                [rotate]="true" [boundaryLinks]="true"
                                (pageChange)="pageChange($event)"></ngb-pagination>
            </ng-template>

            </tbody>
        </table>

        <!--<app-no-data-tip [isShow]="withdraws|isEmpty"></app-no-data-tip>-->
    </div>
</div>