<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>

    <div class="card-body widget-body">
        <form class="form-horizontal " [formGroup]="commonForm">

            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1"> </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('accountId')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="accountId" placeholder="请输入">

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">是否删除 <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('isDel')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="isDel" placeholder="请输入是否删除">
                    <app-form-error [control]="commonForm.get('isDel')" [formErrors]="formErrors.isDel"></app-form-error>

                </div>
                <label class="col-sm-2 form-control-label mt-1">地址 <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('address')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="address" placeholder="请输入地址">
                    <app-form-error [control]="commonForm.get('address')" [formErrors]="formErrors.address"></app-form-error>

                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-9 offset-sm-2">
                    <button class="btn btn-info" type="button" (click)="onSubmit()">保存</button>
                    <button class="btn btn-gray ml-1" type="button" (click)="goBack()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>