.card-body{
  padding: 0px!important;
}

.mt-1, .my-1 {
  margin: 0px !important;
}

.back-color-v2{
  background-color: #f2f2f2;
}

.col-sm-10{
  float: right;
}

.border-show{
  border: #d0cdcb 1px solid;
}


.text-align-left{
  text-align: left!important;
}