<ng-template [ngIf]="showRecordNum">
    <div class="h55">沟通({{comments?.length}})</div>
</ng-template>

<div class="lb_mytask_main">
    <ng-template [ngIf]="replyToUser">
        <a class="text-muted link-unstyled">回复：{{replyToUser.userName}}</a>
    </ng-template>

    <div class="lb_textarea_div">
        <form [formGroup]="commonForm">
            <div class="mytask_textarea">
                <rich-editor [minHeight]="150" [formControl]="commonForm.get('content')" placeholder="请输入内容"></rich-editor>
            </div>
            <div class="mytask_btn_wrap">
                <a href="#" class="annex" (click)="commentAttachUpload.fileSelect()">上传附件</a>
                <a href="#" (click)="callUsersChoose()">@ 同事</a>
                <button class="btn posted_btn" [disabled]="!commonForm.valid&&!submitted" (click)="onSubmit()">发表</button>
            </div>
        </form>

        <ng-template [ngIf]="callToUsers|isNotEmpty">
            <app-user-multiple-tag [objs]="callToUsers"></app-user-multiple-tag>
        </ng-template>

        <app-attachment-upload #commentAttachUpload [showHeader]="false" (onAttachmentResults)="attachmentResultsSubscription($event)"></app-attachment-upload>
    </div>

    <ng-template [ngIf]="comments|isNotEmpty">
        <div class="mytask_message">
            <ul class="list-unstyled">
                <ng-container *ngFor="let cot of comments">
                    <app-comment-item [comment]="cot" (onReplyUser)="replyUserSubscription($event)"
                                      (onRemoveCommentItem)="removeCommentItemSubscription($event)"></app-comment-item>
                </ng-container>
            </ul>
            <div class="message_page">
                <ngb-pagination class="d-flex justify-content-center" [collectionSize]="pageQuery.responses.totalElements" [(page)]="pageQuery.page" [maxSize]="pageQuery.pageSize"
                                [rotate]="true" [boundaryLinks]="true" (pageChange)="commentPageChange($event)"></ngb-pagination>
            </div>
        </div>
    </ng-template>

</div>
