<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>
    <div class="card-body widget-body">
        <form [formGroup]="searchForm">
            <div class=" form-inline form-group">

                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">GUID</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('guid',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">货品编码</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('productNo',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">货品名称</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('productName',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>

                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">商品（commodity表ID）</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('commodityId',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">分类（category表ID）</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('categoryId',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">供应商（supplier表ID）</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('supplierId',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>

                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">排序</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('sort',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">是否参与分销(0参加1不参加)</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('distribution',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">佣金比例</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('commissionRate',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>

                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">运费类型（1统一运费2运费模板）</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('freightType',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">统一运费</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('unifiedFreight',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">运费模板（freight_template表ID）</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('freightTemplateId',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>

                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">库存设置（1下单减库存2支付减库存）</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('stockSet',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">体积</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('volume',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">重量</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('weight',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>

                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">是否上架（1立即上架2放入仓库）</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('shelf',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">商品介绍</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('description',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">属性名</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('attrName',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>

                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">属性值</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('attrValue',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">原价</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('originalPrice',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">现价</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('currentPrice',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>

                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">会员价</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('memberPrice',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">SKU</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('sku',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">库存</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('stock',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>

                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">创建时间</label>

                                    <input class="col-lg-4 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('createTime',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">-
                                    <input class="col-lg-4 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('createTime',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">删除（0否1是）</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('deleted',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">删除时间</label>

                                    <input class="col-lg-4 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('delTime',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">-
                                    <input class="col-lg-4 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('delTime',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>

            </div>
        </form>

        <div class=" form-inline form-group">
            <div class="col-lg-12">
                <div class=" pull-right">
                    <button class="btn btn-primary  mr-1" [routerLink]="'../add'"><i class="fa fa-plus"></i>&nbsp;新增
                    </button>
                    <button class="btn btn-danger  mr-1" (click)="remove()"><i class="fa fa-remove"></i>&nbsp;删除
                    </button>
                    <button class="btn btn-inverse  mr-1" (click)="edit()"><i class="fa fa-edit"></i>&nbsp;编辑
                    </button>
                    <button class="btn btn-success  mr-1" (click)="searchData()"><i class="fa fa-search"></i>&nbsp;查询
                    </button>
                    <button class="btn btn-warning  mr-1" (click)="view()"><i class="fa fa-book"></i>&nbsp;详情
                    </button>
                    <button class="btn btn-info  mr-1" (click)="clearSearch()"><i class="fa fa-refresh"></i>&nbsp;重置
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body pt-0 widget-body">
        <table class="table table-hover">
            <thead>
            <tr>
                        <th>GUID</th>
                        <th>货品编码</th>
                        <th>货品名称</th>
                        <th>商品（commodity表ID）</th>
                        <th>分类（category表ID）</th>
                        <th>供应商（supplier表ID）</th>
                        <th>排序</th>
                        <th>是否参与分销(0参加1不参加)</th>
                        <th>佣金比例</th>
                        <th>运费类型（1统一运费2运费模板）</th>
                        <th>统一运费</th>
                        <th>运费模板（freight_template表ID）</th>
                        <th>库存设置（1下单减库存2支付减库存）</th>
                        <th>体积</th>
                        <th>重量</th>
                        <th>是否上架（1立即上架2放入仓库）</th>
                        <th>商品介绍</th>
                        <th>属性名</th>
                        <th>属性值</th>
                        <th>原价</th>
                        <th>现价</th>
                        <th>会员价</th>
                        <th>SKU</th>
                        <th>库存</th>
                        <th>创建时间</th>
                        <th>删除（0否1是）</th>
                        <th>删除时间</th>
            </tr>
            </thead>
            <tbody>
            <ng-template [ngIf]="anys|isNotEmpty">
                <tr *ngFor="let product of anys;let i=index"    (click)="getSelect(product.productId,i)">
                                            <td><input type="radio" name="select">
                                            </td>
                    <td>{{product.guid}}</td>
                    <td>{{product.productNo}}</td>
                    <td>{{product.productName}}</td>
                    <td>{{product.commodityId}}</td>
                    <td>{{product.categoryId}}</td>
                    <td>{{product.supplierId}}</td>
                    <td>{{product.sort}}</td>
                    <td>{{product.distribution}}</td>
                    <td>{{product.commissionRate}}</td>
                    <td>{{product.freightType}}</td>
                    <td>{{product.unifiedFreight}}</td>
                    <td>{{product.freightTemplateId}}</td>
                    <td>{{product.stockSet}}</td>
                    <td>{{product.volume}}</td>
                    <td>{{product.weight}}</td>
                    <td>{{product.shelf}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.attrName}}</td>
                    <td>{{product.attrValue}}</td>
                    <td>{{product.originalPrice}}</td>
                    <td>{{product.currentPrice}}</td>
                    <td>{{product.memberPrice}}</td>
                    <td>{{product.sku}}</td>
                    <td>{{product.stock}}</td>
                    <td>{{product.createTime}}</td>
                    <td>{{product.deleted}}</td>
                    <td>{{product.delTime}}</td>
                </tr>

                <ngb-pagination class="d-flex justify-content-center"
                                [collectionSize]="pageQuery.responses.totalElements" [(page)]="pageQuery.page"
                                [maxSize]="pageQuery.pageSize"
                                [rotate]="true" [boundaryLinks]="true"
                                (pageChange)="pageChange($event)"></ngb-pagination>
            </ng-template>

            </tbody>
        </table>

        <app-no-data-tip [isShow]="anys|isEmpty"></app-no-data-tip>
    </div>
</div>


