<page-header [title]="title"></page-header>
<nz-card [nzBordered]="false">
  <form nz-form [formGroup]="commonForm">

    <nz-form-item>
      <nz-form-label nzXs="3" nzSm="3" nzRequired nzFor="categoryName">分类名称</nz-form-label>
      <nz-form-control nzXs="8" nzSm="8" nzHasFeedback>
        <input nz-input formControlName="categoryName" id="categoryName" placeholder="请输入分类名称">
        <nz-form-explain *ngIf="commonForm.get('categoryName').dirty&&commonForm.get('categoryName').errors">
          <ng-container *ngFor="let error of formErrors.categoryName">
            <nz-form-explain *ngIf="commonForm.get('categoryName').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="isShowPreCategory">
      <nz-form-label nzXs="3" nzSm="3" nzFor="parent">上级分类</nz-form-label>
      <nz-form-control nzXs="8" nzSm="8">
        <app-category-tree-select #categoryTreeSelect (result)="setParent($event)" [isCheck]="false" [showRoot]="false"
                                  [nodeLevel]="1"></app-category-tree-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzXs="3" nzSm="3" nzFor="sort">排序</nz-form-label>
      <nz-form-control nzXs="8" nzSm="8">
        <nz-input-number nz-input style="width: 50%" [nzPrecision]="0" [nzMin]="1" [nzMax]="127" [nzStep]="1"
                         formControlName="sort"
                         id="sort"
                         [nzPlaceHolder]="'请输入排序号'"></nz-input-number>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzXs="3" nzSm="3" nzFor="remark">备注</nz-form-label>
      <nz-form-control nzXs="8" nzSm="8">
        <textarea nz-input formControlName="remark" id="remark" style="height: 120px" placeholder="请输入备注"></textarea>
        <nz-form-explain *ngIf="commonForm.get('remark').dirty&&commonForm.get('remark').errors">
          <ng-container *ngFor="let error of formErrors.remark">
            <nz-form-explain *ngIf="commonForm.get('remark').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>

    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 18 }">
        <nz-modal-customer [showButton]="false" (ok)="onSubmit()" [title]="'提示！'" [content]="'确认要提交吗？'"
                           [buttonName]="'提交'">
          <nz-divider nzType="vertical"></nz-divider>
        </nz-modal-customer>
        <button nz-button class="ml-sm" type="button" (click)="goBack()">返回</button>
      </nz-form-control>
    </nz-form-item>

  </form>
</nz-card>
