<ion-header>
    <ion-toolbar>
        <ion-title>收货人</ion-title>
        <goback></goback>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <form [formGroup]="commonForm">
        <ion-list class="common-list" lines="none">
            <ion-item class="bottom-divid">
                <ion-label style="width: 22%;" class="common-sub-title">姓名</ion-label>
                <label style="text-align: left;width: 78%;">
                    <input class="common-sub-title common-input" type="text" placeholder="请输入收货人姓名" formControlName="fullName"/>
                </label>
            </ion-item>

            <ion-item>
                <ion-label style="width: 22%;" class="common-sub-title">手机号码</ion-label>
                <label  style="text-align: left;width: 78%;">
                    <input class="common-sub-title common-input" type="number" placeholder="请输入手机号码" formControlName="phone"/>
                </label>
            </ion-item>
            <div class="common-spec red tip" [innerHtml]="rexPhone()"></div>

            <div class="common-hr"></div>

            <ion-item class="bottom-divid">
                <ion-label style="width: 22%;" class="common-sub-title">邮政编号</ion-label>
                <label  style="text-align: left;width: 78%;">
                    <input class="common-sub-title common-input" type="text" placeholder="请输入邮政编号" formControlName="zipCode"/>
                </label>
            </ion-item>
            <div class="common-spec red tip" [innerHtml]="rexZipCode()"></div>

            <ion-item class="city bottom-divid">
                <ion-label style="width: 22%;" class="common-sub-title">所在城市</ion-label>
                <districts [multiCity]="multiCity" (result)="changMultiCity($event)" style="text-align: left;width: 78%;"></districts>
            </ion-item>

            <ion-item>
                <ion-label style="width: 22%;" class="common-sub-title">详细地址</ion-label>
                <label  style="text-align: left;width: 78%;">
                    <input class="common-sub-title common-input" type="text" placeholder="街道、楼牌号等详细地址" formControlName="address"/>
                </label>
            </ion-item>
        </ion-list>

        <ion-item lines="none">
            <ion-checkbox color="danger" formControlName="defaulted"></ion-checkbox>
            <ion-label class="grey">设为默认收货地址</ion-label>
        </ion-item>

    </form>
</ion-content>
<ion-footer>
    <ion-button shape="round" expand="full" color="danger"
                [disabled]="!commonForm.valid"
                (click)="goChooseConsignee()">保&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;存
    </ion-button>
</ion-footer>