

<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>
    <div class="card-body widget-body">
        <form class="form-horizontal "  >


                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">GUID</label>
                                <div class="col-sm-4">
                                    <label>{{resc.guid}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">父级资源</label>
                                <div class="col-sm-4">
                                    <label>{{resc.parentId}}</label>
                                </div>
                                <label class="col-sm-2 form-control-label mt-1">资源编码</label>
                                <div class="col-sm-4">
                                    <label>{{resc.code}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">资源名称</label>
                                <div class="col-sm-4">
                                    <label>{{resc.name}}</label>
                                </div>
                                <label class="col-sm-2 form-control-label mt-1">资源路径</label>
                                <div class="col-sm-4">
                                    <label>{{resc.url}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">创建时间</label>
                                <div class="col-sm-4">
                                    <label>{{resc.createTime}}</label>
                                </div>
                                <label class="col-sm-2 form-control-label mt-1">删除（0否1是）</label>
                                <div class="col-sm-4">
                                    <label>{{resc.deleted}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">删除时间</label>
                                <div class="col-sm-4">
                                    <label>{{resc.delTime}}</label>
                                </div>
                    </div>

            <div class="form-group row">
                <div class="col-sm-9 offset-sm-2">
                    <button class="btn btn-info" [routerLink]="'../../edit/'+resc.rescId" type="button">编辑</button>
                    <button class="btn btn-inverse ml-1" type="button" (click)="goBack()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
