<ng-template [ngIf]="control && options">
    <ng-template [ngIf]="options.dialogConfig.mode === 'multiple'">
        <div class="n-frombox-li">
            <span class="left-span">{{options.text}}</span>
            <div class="r-sbox2">
                <div class="n-add-dl">
                    <div class="dt">
                        <a class="blue-addbtn fl" href="#" (click)="dialogChoose(options.dialogConfig.mode,options.dialogConfig.target)"><img src="/assets/images/add.png"></a>
                    </div>
                    <ng-template [ngIf]="options.dialogConfig.target === 'user'">
                        <div [ngClass]="{'has-error':control|formMark}">
                            <app-user-multiple-tag [formControl]="control" placeholder="请选择{{options.text}}"></app-user-multiple-tag>
                        </div>
                    </ng-template>

                    <ng-template [ngIf]="options.dialogConfig.target !== 'user'">
                        <div [ngClass]="{'has-error':control|formMark}">
                            <app-multiple-tag [formControl]="control" [fieldName]="options.dialogConfig.fieldName" placeholder="请选择{{options.text}}"></app-multiple-tag>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template [ngIf]="options.dialogConfig.mode === 'single'">
        <div class="n-frombox-li half-li">
            <span class="left-span">{{options.text}}</span>
            <div class="r-sbox">
                <div class="right-input-80" [ngClass]="{'has-error':control|formMark}">
                    <span class="input-search" (click)="dialogChoose(options.dialogConfig.mode,options.dialogConfig.target)"></span>
                    <app-single-tag [formControl]="control" [fieldName]="options.dialogConfig.fieldName" placeholder="请选择{{options.text}}"></app-single-tag>
                </div>
            </div>
        </div>
    </ng-template>
</ng-template>
