.large{
  /*border: 1px #000000 solid;*/
  width: 96%;
  margin: 20px auto;
}
.colorr{
  background-color: #f7f7f7 !important;
}
.head{
  padding: 10px;
  background-color: #f7f7f7;
  border: 1px #e9ecef solid;
}
.head>span{
  margin-right: 20px;
}
.size{
  font-size: 14px;
  margin-right: 20px;
}
.content{
  border: 1px #e9ecef solid;
  height: 200px;
}
.img{
  width:15%;

  height: 200px;

}
.img .images{
  margin: 40px auto;
  width: 120px;
  height: 120px;
  border: 1px #e9ecef solid;
  border-radius:50% 50% 50% 50%;
}
.details ul li{
  line-height: 30px;
  list-style-type:none
}
.content>div{
  float: left;
  margin-right: 30px;
}
.member tr td{
  padding: 5px !important;
  text-align: center;
  border: 1px #e9ecef solid;
}
.member tr th{
  border: 1px #e9ecef solid;
  padding: 5px !important;
  text-align: center;
}

.AccountInfo table tr td{
  padding: 75px 0;
}
.AccountInfo table tr td .data{
  font-size: 30px;
  font-weight: 100;
}
.shippingaddress{
  margin-left: 2%;
}

