.categoryChoose{
  padding: 10px 16px;
  border: #3e50b4 1px solid;
  font-size: larger;
  border-radius: 5px;
}

.categoryChoose:hover{
  background-color: #3e50b4;
  color: white;
  font-family: strong;
}