

<page-header [title]="'查看信息'"></page-header>

<nz-card>
    <nz-form-item>


                    <nz-form-label nzXs="10" nzSm="3" nzFor="guid">GUID</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{stock.guid}}</nz-form-text>
                    </nz-form-control>
    </nz-form-item>
    <nz-form-item>

                    <nz-form-label nzXs="10" nzSm="3" nzFor="commodityId">商品（commodity表ID）</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{stock.commodity}}</nz-form-text>
                    </nz-form-control>

                    <nz-form-label nzXs="10" nzSm="3" nzFor="productId">货品（product表ID）</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{stock.product}}</nz-form-text>
                    </nz-form-control>
    </nz-form-item>
    <nz-form-item>

                    <nz-form-label nzXs="10" nzSm="3" nzFor="stockQuantity">库存量</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{stock.stockQuantity}}</nz-form-text>
                    </nz-form-control>

                    <nz-form-label nzXs="10" nzSm="3" nzFor="lockQuantity">锁定库存量</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{stock.lockQuantity}}</nz-form-text>
                    </nz-form-control>
    </nz-form-item>
    <nz-form-item>

                    <nz-form-label nzXs="10" nzSm="3" nzFor="useQuantity">使用库存量</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{stock.useQuantity}}</nz-form-text>
                    </nz-form-control>

                    <nz-form-label nzXs="10" nzSm="3" nzFor="sort">排序</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{stock.sort}}</nz-form-text>
                    </nz-form-control>
    </nz-form-item>
    <nz-form-item>

                    <nz-form-label nzXs="10" nzSm="3" nzFor="remark">备注</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{stock.remark}}</nz-form-text>
                    </nz-form-control>

                    <nz-form-label nzXs="10" nzSm="3" nzFor="createTime">创建时间</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{stock.createTime}}</nz-form-text>
                    </nz-form-control>
    </nz-form-item>
    <nz-form-item>

                    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="deleted">删除（0否1是）</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{stock.deleted}}</nz-form-text>
                    </nz-form-control>

                    <nz-form-label nzXs="10" nzSm="3" nzFor="delTime">删除时间</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{stock.delTime}}</nz-form-text>
                    </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 7 }">
            <button nz-button nzType="primary" type="submit" [routerLink]="'../../edit/'+ stock.id">编辑</button>
            <button nz-button class="ml-sm" type="button" (click)="goBack()">返回</button>
        </nz-form-control>
    </nz-form-item>

</nz-card>
