

<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>
    <div class="card-body widget-body">
        <form class="form-horizontal "  >


                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">GUID</label>
                                <div class="col-sm-4">
                                    <label>{{accountRecord.guid}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">会员（member表ID）</label>
                                <div class="col-sm-4">
                                    <label>{{accountRecord.memberId}}</label>
                                </div>
                                <label class="col-sm-2 form-control-label mt-1">操作类型（1收入2支出）</label>
                                <div class="col-sm-4">
                                    <label>{{accountRecord.operateType}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">流水号</label>
                                <div class="col-sm-4">
                                    <label>{{accountRecord.serialNo}}</label>
                                </div>
                                <label class="col-sm-2 form-control-label mt-1">交易金额</label>
                                <div class="col-sm-4">
                                    <label>{{accountRecord.tradeAmount}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">账户余额</label>
                                <div class="col-sm-4">
                                    <label>{{accountRecord.balance}}</label>
                                </div>
                                <label class="col-sm-2 form-control-label mt-1">交易类型（1佣金转入2在线支付3提现）</label>
                                <div class="col-sm-4">
                                    <label>{{accountRecord.tradeType}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">交易方式（1店铺佣金2余额）</label>
                                <div class="col-sm-4">
                                    <label>{{accountRecord.tradeMode}}</label>
                                </div>
                                <label class="col-sm-2 form-control-label mt-1">交易时间</label>
                                <div class="col-sm-4">
                                    <label>{{accountRecord.tradeTime}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">备注</label>
                                <div class="col-sm-4">
                                    <label>{{accountRecord.remark}}</label>
                                </div>
                    </div>

            <div class="form-group row">
                <div class="col-sm-9 offset-sm-2">
                    <button class="btn btn-info" [routerLink]="'../../edit/'+accountRecord.accountRecordId" type="button">编辑</button>
                    <button class="btn btn-inverse ml-1" type="button" (click)="goBack()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
