
<page-header [title]="title"></page-header>
<nz-card [nzBordered]="false">
    <form nz-form [formGroup]="commonForm">
         <nz-form-item>
                        <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="guid">GUID</nz-form-label>
                        <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
                            <input nz-input formControlName="guid" id="guid" placeholder="输入GUID">
                            <nz-form-explain *ngIf="commonForm.get('guid').dirty&&commonForm.get('guid').errors">
                                <ng-container *ngFor="let error of formErrors.guid">
                                    <nz-form-explain *ngIf="commonForm.get('guid').errors[error.name]">{{ error.msg }}
                                    </nz-form-explain>
                                </ng-container>
                            </nz-form-explain>
                        </nz-form-control>
         </nz-form-item>
         <nz-form-item>
                        <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="memberId">会员（member表ID）</nz-form-label>
                        <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
                            <input nz-input formControlName="memberId" id="memberId" placeholder="输入会员（member表ID）">
                            <nz-form-explain *ngIf="commonForm.get('memberId').dirty&&commonForm.get('memberId').errors">
                                <ng-container *ngFor="let error of formErrors.memberId">
                                    <nz-form-explain *ngIf="commonForm.get('memberId').errors[error.name]">{{ error.msg }}
                                    </nz-form-explain>
                                </ng-container>
                            </nz-form-explain>
                        </nz-form-control>
                        <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="couponGrantConfigId">发放配置（coupon_grant_config表ID）</nz-form-label>
                        <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
                            <input nz-input formControlName="couponGrantConfigId" id="couponGrantConfigId" placeholder="输入发放配置（coupon_grant_config表ID）">
                            <nz-form-explain *ngIf="commonForm.get('couponGrantConfigId').dirty&&commonForm.get('couponGrantConfigId').errors">
                                <ng-container *ngFor="let error of formErrors.couponGrantConfigId">
                                    <nz-form-explain *ngIf="commonForm.get('couponGrantConfigId').errors[error.name]">{{ error.msg }}
                                    </nz-form-explain>
                                </ng-container>
                            </nz-form-explain>
                        </nz-form-control>
         </nz-form-item>
         <nz-form-item>
                        <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="couponId">优惠券（coupon表ID）</nz-form-label>
                        <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
                            <input nz-input formControlName="couponId" id="couponId" placeholder="输入优惠券（coupon表ID）">
                            <nz-form-explain *ngIf="commonForm.get('couponId').dirty&&commonForm.get('couponId').errors">
                                <ng-container *ngFor="let error of formErrors.couponId">
                                    <nz-form-explain *ngIf="commonForm.get('couponId').errors[error.name]">{{ error.msg }}
                                    </nz-form-explain>
                                </ng-container>
                            </nz-form-explain>
                        </nz-form-control>
                        <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="grantNode">发放节点（1购买，2收货，3评论，4超过15天）</nz-form-label>
                        <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
                            <input nz-input formControlName="grantNode" id="grantNode" placeholder="输入发放节点（1购买，2收货，3评论，4超过15天）">
                            <nz-form-explain *ngIf="commonForm.get('grantNode').dirty&&commonForm.get('grantNode').errors">
                                <ng-container *ngFor="let error of formErrors.grantNode">
                                    <nz-form-explain *ngIf="commonForm.get('grantNode').errors[error.name]">{{ error.msg }}
                                    </nz-form-explain>
                                </ng-container>
                            </nz-form-explain>
                        </nz-form-control>
         </nz-form-item>
         <nz-form-item>
                        <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="parValue">面值</nz-form-label>
                        <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
                            <input nz-input formControlName="parValue" id="parValue" placeholder="输入面值">
                            <nz-form-explain *ngIf="commonForm.get('parValue').dirty&&commonForm.get('parValue').errors">
                                <ng-container *ngFor="let error of formErrors.parValue">
                                    <nz-form-explain *ngIf="commonForm.get('parValue').errors[error.name]">{{ error.msg }}
                                    </nz-form-explain>
                                </ng-container>
                            </nz-form-explain>
                        </nz-form-control>
                        <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="remark">备注</nz-form-label>
                        <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
                            <input nz-input formControlName="remark" id="remark" placeholder="输入备注">
                            <nz-form-explain *ngIf="commonForm.get('remark').dirty&&commonForm.get('remark').errors">
                                <ng-container *ngFor="let error of formErrors.remark">
                                    <nz-form-explain *ngIf="commonForm.get('remark').errors[error.name]">{{ error.msg }}
                                    </nz-form-explain>
                                </ng-container>
                            </nz-form-explain>
                        </nz-form-control>
         </nz-form-item>
         <nz-form-item>
                        <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="createTime">创建时间</nz-form-label>
                        <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
                            <input nz-input formControlName="createTime" id="createTime" placeholder="输入创建时间">
                            <nz-form-explain *ngIf="commonForm.get('createTime').dirty&&commonForm.get('createTime').errors">
                                <ng-container *ngFor="let error of formErrors.createTime">
                                    <nz-form-explain *ngIf="commonForm.get('createTime').errors[error.name]">{{ error.msg }}
                                    </nz-form-explain>
                                </ng-container>
                            </nz-form-explain>
                        </nz-form-control>
                        <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="deleted">删除（0否1是）</nz-form-label>
                        <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
                            <input nz-input formControlName="deleted" id="deleted" placeholder="输入删除（0否1是）">
                            <nz-form-explain *ngIf="commonForm.get('deleted').dirty&&commonForm.get('deleted').errors">
                                <ng-container *ngFor="let error of formErrors.deleted">
                                    <nz-form-explain *ngIf="commonForm.get('deleted').errors[error.name]">{{ error.msg }}
                                    </nz-form-explain>
                                </ng-container>
                            </nz-form-explain>
                        </nz-form-control>
         </nz-form-item>
         <nz-form-item>
                        <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="delTime">删除时间</nz-form-label>
                        <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
                            <input nz-input formControlName="delTime" id="delTime" placeholder="输入删除时间">
                            <nz-form-explain *ngIf="commonForm.get('delTime').dirty&&commonForm.get('delTime').errors">
                                <ng-container *ngFor="let error of formErrors.delTime">
                                    <nz-form-explain *ngIf="commonForm.get('delTime').errors[error.name]">{{ error.msg }}
                                    </nz-form-explain>
                                </ng-container>
                            </nz-form-explain>
                        </nz-form-control>
         </nz-form-item>

        <nz-form-item>
            <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 7 }">
                <nz-modal-customer [showButton]="false" (ok)="onSubmit()" [title]="'提示！'" [content]="'确认要提交吗？'"
                                   [buttonName]="'提交'">
                    <nz-divider nzType="vertical"></nz-divider>
                </nz-modal-customer>
                <button nz-button class="ml-sm" type="button" (click)="goBack()">返回</button>
            </nz-form-control>
        </nz-form-item>

    </form>
</nz-card>