<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>
    <div class="card-body widget-body">
        <form class="form-horizontal ">

            <div class="form-group row text-sm-right">

                <label class="col-sm-2 form-control-label mt-1">服务单号</label>
                <div class="col-sm-10 text-align-left">
                    <label>{{refundOrder.refundNo}}</label>
                </div>
            </div>

            <div class="form-group row text-sm-right">

                <label class="col-sm-2 form-control-label mt-1">申请状态</label>
                <div class="col-sm-10 text-align-left">
                    <label *ngIf="refundOrder.state==1">待处理</label>
                    <label *ngIf="refundOrder.state==2">已处理</label>
                </div>
            </div>

            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">订单编号</label>
                <div class="col-sm-10 text-align-left">
                    <label>{{refundOrder.orderNo}}</label>
                </div>
            </div>

            <div class="form-group row text-sm-right">

                <label class="col-sm-2 form-control-label mt-1">申请时间</label>
                <div class="col-sm-4 text-align-left">
                    <label>{{refundOrder.applyTime}}</label>
                </div>
            </div>

            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">用户账号</label>
                <div class="col-sm-4 text-align-left">
                    <label>{{refundOrder.memberPhone}}</label>
                </div>
            </div>

        </form>
    </div>
</div>

<br>

<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>
    <div class="card-body widget-body">
        <form class="form-horizontal ">

            <div class="form-group row text-sm-right">

                <label class="col-sm-2 form-control-label mt-1">订单金额</label>
                <div class="col-sm-10 text-align-left">
                    <label>{{refundOrder.orderAmount}}</label>
                </div>
            </div>

            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">确认退款金额</label>
                <div class="col-sm-10 text-align-left">
                    <label>{{refundOrder.refundAmount}}</label>
                </div>
            </div>

            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">退款方式</label>
                <div class="col-sm-10 text-align-left">
                    <label *ngIf="refundOrder.refundMode==1">退回原支付渠道</label>
                </div>
            </div>

            <div class="form-group row text-sm-right">

                <label class="col-sm-2 form-control-label mt-1">退款类型</label>
                <div class="col-sm-4 text-align-left">
                    <label *ngIf="refundOrder.refundType==1">取消订单</label>
                </div>
            </div>

            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">退款原因</label>
                <div class="col-sm-4 text-align-left">
                    <label>{{refundOrder.refundReason}}</label>
                </div>
            </div>

        </form>
    </div>
</div>

<br>

<div widget class="card border-0 box-shadow" *ngIf="refundOrder.state == 1">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>
    <div class="card-body widget-body" [formGroup]="commonForm">
        <form class="form-horizontal " formGroupName="refundProcesse">
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">处理人员<span
                        class="text-danger">*</span></label>
                    <div class="col-sm-4 text-align-left"
                         [ngClass]="{'has-error':commonForm.get('refundProcesse?.user?.fullName')|formMark}">
                        <app-modal-selecet
                                [showCol]="[{name:'id',value:'ID',isShow:false},{name:'fullName',value:'姓名',isShow:true}]"
                                [select]="commonForm.value.refundProcesse?.user"
                                [resultName]="commonForm.value.refundProcesse?.user?.fullName"
                                [baseService]="userService"
                                (result)="setMemberLevel($event)">
                        </app-modal-selecet>
                    </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">操作备注</label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('refundProcesse.remark')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="remark"
                           placeholder="请输入操作备注">
                    <app-form-error [control]="commonForm.get('refundProcesse?.remark')"
                                    [formErrors]="formErrors.refundProcesse?.remark"></app-form-error>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-9 offset-sm-2">
                    <button class="btn btn-info" (click)="goRefundOrder(refundOrder.id,1)" type="button">确认退款
                    </button>
                    <button class="btn btn-inverse ml-1" type="button" (click)="goRefundOrder(refundOrder.id,2)">拒绝退款</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div widget class="card border-0 box-shadow" *ngIf="refundOrder.state == 2">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>

    <div class="card-body widget-body" *ngFor="let refund of refundOrder.refundProcesses">
        <div class="form-group row text-sm-right">
            <label class="col-sm-2 form-control-label mt-1">处理人员<span
                    class="text-danger">*</span></label>
            <div class="col-sm-4">
                <input class="form-control validation-field" type="text" disabled
                       value="{{refund?.user?.fullName}}">
            </div>
        </div>

        <div class="form-group row text-sm-right">
            <label class="col-sm-2 form-control-label mt-1">操作备注</label>
            <div class="col-sm-4">
                <input class="form-control validation-field" type="text" disabled
                       value="{{refund?.remark}}">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-9 offset-sm-2">
                <button class="btn btn-inverse ml-1" type="button" disabled>已处理</button>
            </div>
        </div>
    </div>
</div>

