
.form-group {
  margin-bottom: 30px !important;
}

.mt-1, .my-1{
  margin: 0px!important;
}

.text-align-left{
  text-align: left!important;
}

.input-style{
  width: inherit;
  /*border: none;*/
}

.border-show{
  border: #d0cdcb 1px solid;
}

.padding-10{
  padding: 10px;
}

.back-color-lable1{
  background-color: #f2f2f2;
}