<div text-center margin *ngIf="list?.length != 0"><span class="line"></span><span class="text">更多火热商品~</span><span class="line"></span></div>
<ion-row *ngFor="let commodityList of list">
    <ion-col size="6" *ngFor="let item of commodityList.commodities | sortPipe ">
        <div class="commodity" (click)="goCommodity(item.id)">
            <img-lazy-load class="img" [src]="item.imgPath | thumbnailPipe : 's'"></img-lazy-load>
            <p class="common-sub-title text-wrap text-wrap">{{item.commodityName}}</p>
            <p class="red">¥<span style="font-size: 16px;">{{item.currentPrice}}</span></p>
        </div>
    </ion-col>
</ion-row>