<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>

    <div class="card-body widget-body">
        <form class="form-horizontal " [formGroup]="commonForm">

            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">等级名称 <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('name')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="name"
                           placeholder="请输入等级名称" (blur)="onlyName($event.target.value)"  >
                        <app-form-error [control]="commonForm.get('name')" [formErrors]="formErrors.name"></app-form-error>

                </div>
            </div>

            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">成长值满足点 <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('growthValue')|formMark}">
                    <input class="form-control validation-field" type="number" formControlName="growthValue"
                           placeholder="请输入成长值满足点">
                    <app-form-error [control]="commonForm.get('growthValue')"
                                    [formErrors]="formErrors.growthValue"></app-form-error>
                </div>
            </div>

            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">是否默认 <span class="text-danger">*</span></label>
                <div class="col-sm-4 left" [ngClass]="{'has-error':commonForm.get('initial')|formMark}" style="text-align: left">
                    <!--  <input class="form-control validation-field" type="text" formControlName="full" placeholder="请输入满减">-->
                    <input type="radio" formControlName="initial" value="0"/>否&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" formControlName="initial" value="1"/>是
                    <app-form-error  [control]="commonForm.get('receiveMode')"
                                     [formErrors]="formErrors.initial"></app-form-error>
                </div>
            </div>

            <div class="form-group row text-sm-right">

                <label class="col-sm-2 form-control-label mt-1">折扣 <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('discount')|formMark}">
                    <input class="form-control validation-field" type="number" formControlName="discount"
                           placeholder="请输入折扣（0.00-100.00）">
                    <app-form-error [control]="commonForm.get('discount')"
                                    [formErrors]="formErrors.discount"></app-form-error>

                </div>
            </div>


            <div class="form-group row">
                <div class="col-sm-9 offset-sm-2">
                    <button class="btn btn-info" type="button" (click)="onSubmit()">保存</button>
                    <button class="btn btn-gray ml-1" type="button" (click)="goBack()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>