<ion-header>
    <ion-toolbar>
        <ion-title>版本号</ion-title>
        <goback></goback>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <ion-list class="common-list home">
        <img src="../../assets/imgs/版本号logo@2x.png" height="65" width="65">
        <br/><br/>
        <span class="common-notice grey">当前版本号v1.0.0</span>
    </ion-list>
<div class="common-hr"></div>
    <ion-list class="common-list">
        <ion-row>
            <ion-col size="3"><p>客服热线</p></ion-col>
            <ion-col size="8" class="right grey"><p>400-0000-00</p></ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="3"><p>客服邮箱</p></ion-col>
            <ion-col size="8" class="right grey"><p>666666@163.COM</p></ion-col>
        </ion-row>
    </ion-list>
</ion-content>
