<center-modal [height]="'300px'" [top]="'calc(50% - 150px)'">
    <div class="common-title white success-info">分享成功</div>
    <div class="share-tip">
        <div class="common-spec greys">分享3次以上，拼单成功率高达98%哦</div>
        <div>
            <ion-button expand="full" color="danger" shape="round">继续分享</ion-button>
        </div>
        <div class="common-spec red">好货提示~</div>
        <div class="common-spec grey">90%的人都在这里发现了心仪好货~</div>
        <div>
            <ion-button expand="full" color="danger" shape="round" fill="outline">前往壹壹优选首页</ion-button>
        </div>
    </div>
</center-modal>