<div class="modal-header bg-info">
    <h4 class="modal-title pull-left">{{configData.title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
        <em class="fa fa-remove fa-lg"></em>
    </button>
</div>
<div class="modal-body text-center">
    <div class="n-frombox">
        <div class="n-frombox-li pt-lg">
            <span class="left-span">{{configData.text}}</span>
            <div class="r-sbox">
                <input type="text" class="form-control right-input" placeholder="{{configData.placeholder}}" (blur)="getTextValue($event);"/>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="onAccept()">{{configData.confirmText}}</button>
    <button type="button" class="btn btn-danger" (click)="onClose()">{{configData.cancelText}}</button>
</div>
