<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>

    <div class="card-body widget-body">
        <form class="form-horizontal " [formGroup]="commonForm">

            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">GUID </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('guid')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="guid"
                           placeholder="请输入GUID">

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">服务单号 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('returnNo')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="returnNo"
                           placeholder="请输入服务单号">

                </div>
                <label class="col-sm-2 form-control-label mt-1">申请时间 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('applyTime')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="applyTime"
                           placeholder="请输入申请时间">

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">申请状态（1待处理2） <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('state')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="state"
                           placeholder="请输入申请状态（1待处理2）">
                    <app-form-error [control]="commonForm.get('state')"
                                    [formErrors]="formErrors.state"></app-form-error>

                </div>
                <label class="col-sm-2 form-control-label mt-1">会员（member表ID） <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('memberId')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="memberId"
                           placeholder="请输入会员（member表ID）">
                    <app-form-error [control]="commonForm.get('memberId')"
                                    [formErrors]="formErrors.memberId"></app-form-error>

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">会员账号 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('memberPhone')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="memberPhone"
                           placeholder="请输入会员账号">

                </div>
                <label class="col-sm-2 form-control-label mt-1">联系人 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('contact')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="contact"
                           placeholder="请输入联系人">

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">联系电话 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('contactPhone')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="contactPhone"
                           placeholder="请输入联系电话">

                </div>
                <label class="col-sm-2 form-control-label mt-1">订单（order表ID） <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('orderId')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="orderId"
                           placeholder="请输入订单（order表ID）">
                    <app-form-error [control]="commonForm.get('orderId')"
                                    [formErrors]="formErrors.orderId"></app-form-error>

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">订单编号 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('orderNo')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="orderNo"
                           placeholder="请输入订单编号">

                </div>
                <label class="col-sm-2 form-control-label mt-1">订单金额 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('orderAmount')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="orderAmount"
                           placeholder="请输入订单金额">

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">运费 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('freight')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="freight"
                           placeholder="请输入运费">

                </div>
                <label class="col-sm-2 form-control-label mt-1">退款金额 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('refundAmount')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="refundAmount"
                           placeholder="请输入退款金额">

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">退货原因 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('returnReason')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="returnReason"
                           placeholder="请输入退货原因">

                </div>
                <label class="col-sm-2 form-control-label mt-1">问题描述 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('problemDescription')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="problemDescription"
                           placeholder="请输入问题描述">

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">凭证照片 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('voucherPhoto')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="voucherPhoto"
                           placeholder="请输入凭证照片">

                </div>
                <label class="col-sm-2 form-control-label mt-1">收货人 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('consignee')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="consignee"
                           placeholder="请输入收货人">

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">收货人电话 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('consigneePhone')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="consigneePhone"
                           placeholder="请输入收货人电话">

                </div>
                <label class="col-sm-2 form-control-label mt-1">收货人地址 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('consigneeAddr')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="consigneeAddr"
                           placeholder="请输入收货人地址">

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">备注 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('remark')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="remark"
                           placeholder="请输入备注">

                </div>
                <label class="col-sm-2 form-control-label mt-1">删除（0否1是） </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('deleted')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="deleted"
                           placeholder="请输入删除（0否1是）">

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">删除时间 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('delTime')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="delTime"
                           placeholder="请输入删除时间">

                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-9 offset-sm-2">
                    <button class="btn btn-info" type="button" (click)="onSubmit()">保存</button>
                    <button class="btn btn-gray ml-1" type="button" (click)="goBack()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>