@import "../../../global";

.current {
  background: url("../../../assets/app_icon/customer/物流当前@2x.png");
  background-size: 100% 100%;
  z-index: 10;
}

.pass {
  background: url("../../../assets/app_icon/customer/物流@2x.png") no-repeat center;
  background-size: 50% 50%;
}

.line {
  border-right: 1px solid #ccc;
  width: 1px;
  height: 75px;
  position: relative;
  float: left;
  left: -23px;
  top: -67px;
}

ion-list {
  background-color: white;
  padding: 10px 10px 0 !important;
  .tip {
    img {
      margin-right: 10px;
    }
  }

  .progress {
    padding-top: 10px;
    border-bottom: none !important;
    .common-icon {
      position: absolute;
      left: -12px;
      top: -4px;
    }
    .info {
      padding-left: 30px;
      div {
        position: relative;
        border-left: 1px solid #ccc;
        padding-left: 25px;
      }
      div:not(:last-child) {
        padding-bottom: 20px;
      }
    }
    .common-notice {
      margin: 5px 0;
    }
    ion-row {
      border-bottom: none !important;
    }
  }
}