<ion-header>
    <ion-toolbar>
        <ion-title>全国火热拼团</ion-title>
        <goback></goback>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-toolbar>
        <ion-searchbar class="search-bar" placeholder="请输入商品名" (ionInput)="filterItems($event)"></ion-searchbar>
        <ion-label class="right red common-sub-title">搜索</ion-label>
    </ion-toolbar>

    <ion-segment [(ngModel)]="state">
        <ion-segment-button value="yesterday" (click)="listFilter('yesterday')">
            昨日榜单
        </ion-segment-button>
        <ion-segment-button value="already" (click)="listFilter('already')">
            已开团
        </ion-segment-button>
        <ion-segment-button value="mine" (click)="listFilter('mine')">
            我开团
        </ion-segment-button>
    </ion-segment>

    <ion-list class="commodity-list">
        <div *ngFor="let commodity of list" (click)="goCommodity(commodity)">
            <commodity-active [commodity]="commodity">
                <div class="bottom">
                    <p class="common-spec radiu red tip">拼团价</p>
                    <div>
                        <span class="common-spec red">{{commodity?.groupPeople}}人拼￥</span>
                        <span class="common-font red">{{commodity?.groupPrice}}</span>&nbsp;
                        <del class="common-spec grey">￥{{commodity?.product.currentPrice}}</del>
                    </div>
                </div>
            </commodity-active>
        </div>
    </ion-list>

    <div class="loading" *ngIf="isLoading">
        <ion-spinner></ion-spinner>
    </div>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
