@import "../../../global";

ion-toolbar {
  --ion-toolbar-background-color: white;
  ion-searchbar {
    display: inline-block;
    padding-top: 3px;
    width: 88%;
    padding-bottom: 0;
    height: 40px;
    --background: #f7f7fb;
  }
}

ion-segment {
  padding: 0;
  border: none;
  ion-segment-button {
    height: 46px;
    background-color: $space-color;
    @extend .common-sub-title;
  }
}

.commodity-list {
  background-color: white;
  .tip {
    border-radius: 9px;
    background-color: #ffeaed;
    padding: 1px 9px;
    display: inline-block;
    @extend .red;
  }
}

.bottom{
  position: absolute;
  bottom: 15px;
}

p {
  margin: 3px 0;
}

.loading{
  text-align: center;
  margin-top: 40%;
}