<div widget class="card border-0 box-shadow">
    <div class="card-body pt-0 widget-body border-show">
        <div class="back-color-v2 border-show" style="padding: 10px" col-sm-12>添加退货原因</div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>单据名称</th>
                <th>单据打印项</th>
                <th>单据背景图</th>
                <th>单据打印项</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr><!--*ngFor="let saleOrder of anys;let i=index" (click)="getSelect(saleOrder.orderId,i)"-->
                <td><input type="text"></td>
                <td>宽：<input type="text"><label>MM</label>&nbsp;&nbsp;高：<input type="text"><label>MM</label></td>
                <td><a>添加</a>&nbsp;&nbsp;<a>删除</a></td>
                <td>
                    <input type="text"><a>添加</a>&nbsp;&nbsp;<a>删除</a>
                </td>
                <td>
                    <button class="btn btn-info"  type="button">保存</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>