<page-header [title]="'角色列表'">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/dashboard/role/list']">管理员管理</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>角色管理</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
</page-header>

<nz-card [nzBordered]="false">


  <button nz-button [routerLink]="'../add'" [nzType]="'primary'">
    <i class="anticon anticon-plus"></i>
    <span>新建</span>
  </button>

  <nz-table
    #ajaxTable
    [nzShowSizeChanger]="true"
    [nzFrontPagination]="false"
    [nzData]="datas"
    [nzLoading]="loading"
    [nzTotal]="pageQuery.responses.totalElements"
    [(nzPageIndex)]="pageQuery.page"
    [(nzPageSize)]="pageQuery.pageSize"
    (nzPageIndexChange)="searchData()"
    (nzPageSizeChange)="searchData(true)">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th>角色名称</th>
      <th>角色描述</th>
      <th>创建时间</th>
      <th nzWidth="10%">状态</th>
      <th nzWidth="15%">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of ajaxTable.data;let i=index">
      <td>{{data.name}}</td>
      <td>{{data.description}}</td>
      <td>{{data.createTime}}</td>
      <td>
        <nz-switch nzCheckedChildren="启用" nzUnCheckedChildren="禁用" (ngModelChange)="chooseSwitch(i)"
                   [ngModel]="data.state==0"></nz-switch>
      </td>
      <td>
        <a [routerLink]="'../edit/'+data.id">编辑
          <nz-divider *ngIf="data.state==1" nzType="vertical"></nz-divider>
        </a>
        <nz-modal-customer *ngIf="data.state==1" (ok)="remove(data.id)" [title]="'提示！'" [content]="'确认要删除吗？'"
                           [buttonName]="'删除'">
        </nz-modal-customer>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>

