@import "../../../global";
.commodity {
  padding: 5px 10px;
  position: relative;
  .commodity-name{
    height: 42px;
    overflow: hidden;
    @extend .common-sub-title;
  }
  .title-tip {
    border: 1px solid $main-color;
    display: inline-block;
    padding: 0 3px;
    border-radius: 3px;
    margin-right: 5px;
    @extend .red
  }

}

ion-row:not(:last-of-type) {
  .common-shopping {
    border-bottom: 1px solid $divid-color;
  }
}

.bottom{
  position: absolute;
  bottom: 15px;
}

p {
  margin: 3px 0;
}