
<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>

    <div class="card-body widget-body">
        <form class="form-horizontal "  [formGroup]="commonForm">

                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">GUID </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('guid')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="guid" placeholder="请输入GUID">

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">优惠券（coupon表ID） <span class="text-danger">*</span></label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('couponId')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="couponId" placeholder="请输入优惠券（coupon表ID）">
                                        <app-form-error [control]="commonForm.get('couponId')" [formErrors]="formErrors.couponId"></app-form-error>

                                </div>
                                <label class="col-sm-2 form-control-label mt-1">优惠码 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('couponNo')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="couponNo" placeholder="请输入优惠码">

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">优惠券领取（coupon_receive表ID） <span class="text-danger">*</span></label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('couponReceiveId')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="couponReceiveId" placeholder="请输入优惠券领取（coupon_receive表ID）">
                                        <app-form-error [control]="commonForm.get('couponReceiveId')" [formErrors]="formErrors.couponReceiveId"></app-form-error>

                                </div>
                                <label class="col-sm-2 form-control-label mt-1">面值 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('parValue')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="parValue" placeholder="请输入面值">

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">使用 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('use')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="use" placeholder="请输入使用">

                                </div>
                                <label class="col-sm-2 form-control-label mt-1">剩余 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('surplus')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="surplus" placeholder="请输入剩余">

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">会员（member表ID） <span class="text-danger">*</span></label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('memberId')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="memberId" placeholder="请输入会员（member表ID）">
                                        <app-form-error [control]="commonForm.get('memberId')" [formErrors]="formErrors.memberId"></app-form-error>

                                </div>
                                <label class="col-sm-2 form-control-label mt-1">会员账号 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('memberPhone')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="memberPhone" placeholder="请输入会员账号">

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">使用时间 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('useTime')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="useTime" placeholder="请输入使用时间">

                                </div>
                                <label class="col-sm-2 form-control-label mt-1">订单（order表ID） <span class="text-danger">*</span></label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('orderId')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="orderId" placeholder="请输入订单（order表ID）">
                                        <app-form-error [control]="commonForm.get('orderId')" [formErrors]="formErrors.orderId"></app-form-error>

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">订单编号 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('orderNo')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="orderNo" placeholder="请输入订单编号">

                                </div>
                                <label class="col-sm-2 form-control-label mt-1">删除（0否1是） <span class="text-danger">*</span></label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('deleted')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="deleted" placeholder="请输入删除（0否1是）">
                                        <app-form-error [control]="commonForm.get('deleted')" [formErrors]="formErrors.deleted"></app-form-error>

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">删除时间 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('delTime')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="delTime" placeholder="请输入删除时间">

                                </div>
                    </div>

            <div class="form-group row">
                <div class="col-sm-9 offset-sm-2">
                    <button class="btn btn-info" type="button" (click)="onSubmit()" >保存</button>
                    <button class="btn btn-gray ml-1" type="button" (click)="goBack()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>