<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>

    <div class="card-body widget-body">
        <form class="form-horizontal " [formGroup]="commonForm">

            <div class="form-group row text-sm-right">

                <label class="col-sm-2 form-control-label mt-1">供应商编号 <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('supplierNo')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="supplierNo"
                           placeholder="请输入供应商编号">

                </div>

                <label class="col-sm-2 form-control-label mt-1">用户 <span class="text-danger">*</span></label>

                <div class="col-sm-4 text-align-left" [ngClass]="{'has-error':commonForm.get('user?.username')|formMark}">
                    <app-modal-selecet
                           [showCol]="[{name:'username',value:'用户名',isShow:true},{name:'id',value:'ID',isShow:false}]"
                           [select]="commonForm.value.user"
                           [resultName]="commonForm.value.user.username"
                           [baseService]="userService"
                           (result)="setSupplierUser($event)">

                    </app-modal-selecet>
                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">供应商名称 <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('supplierName')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="supplierName"
                           placeholder="请输入供应商名称">
                    <app-form-error [control]="commonForm.get('supplierName')"
                                    [formErrors]="formErrors.supplierName"></app-form-error>

                </div>
                <label class="col-sm-2 form-control-label mt-1">手机号码 <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('phone')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="phone"
                           placeholder="请输入手机号码">
                    <app-form-error [control]="commonForm.get('phone')"
                                    [formErrors]="formErrors.phone"></app-form-error>

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">密码 <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('password')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="password"
                           placeholder="请输入密码">
                    <app-form-error [control]="commonForm.get('password')"
                                    [formErrors]="formErrors.password"></app-form-error>

                </div>
                <label class="col-sm-2 form-control-label mt-1">状态 <span class="text-danger">*</span></label>

                <div class="col-sm-4 text-align-left" [ngClass]="{'has-error':commonForm.get('state')|formMark}">
                    <input name="state" value="0" type="radio" formControlName="state">&nbsp;&nbsp;启用
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input name="state" value="1" type="radio" formControlName="state">&nbsp;&nbsp;禁用
                    <app-form-error [control]="commonForm.get('state')"
                                    [formErrors]="formErrors.state"></app-form-error>

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">联系人 <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('contact')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="contact"
                           placeholder="请输入联系人">

                </div>
                <label class="col-sm-2 form-control-label mt-1">联系人电话 <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('contactPhone')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="contactPhone"
                           placeholder="请输入联系人电话">

                </div>
            </div>
      <!--      <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">省 <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('province')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="province"
                           placeholder="请输入省">

                </div>
                <label class="col-sm-2 form-control-label mt-1">市 <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('city')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="city" placeholder="请输入市">

                </div>
            </div>-->
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">省市区 <span
                        class="text-danger">*</span></label>
                <app-province [selectPro]="province"  [selectCity]="city" [selectAddress]="district"   (result)="getPro($event)"></app-province>

                <label class="col-sm-2 form-control-label mt-1">详细地址 <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('address')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="address"
                           placeholder="请输入详细地址">

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">备注 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('remark')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="remark"
                           placeholder="请输入备注">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-9 offset-sm-2">
                    <button class="btn btn-info" type="button" (click)="onSubmit()">保存</button>
                    <button class="btn btn-gray ml-1" type="button" (click)="goBack()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>