<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>
    <div class="card-body widget-body">
        <form class="form-horizontal ">


            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">商品名称</label>
                <div class="col-sm-4">
                    <label *ngFor="let recommends of recommend.commodities;let i=index">{{ recommends.commodityName}}
                        &nbsp;</label>

                </div>

                <label class="col-sm-2 form-control-label mt-1">推荐位标题</label>
                <div class="col-sm-4">
                    <label>{{recommend.title}}</label>
                </div>

                <br/>
                <label class="col-sm-2 form-control-label mt-1">商品编号</label>
                <div class="col-sm-4">
                    <label *ngFor="let recommends of recommend.commodities;let i=index">{{ recommends.commodityNo}}
                        &nbsp;
                    </label>

                </div>

                <!--<label class="col-sm-2 form-control-label mt-1">推荐位默认图片路径</label>
                <div class="col-sm-4">
                    <label>{{recommend.imgPath}}</label>
                </div>-->
            </div>

            <div class="form-group row text-sm-right">

                <label class="col-sm-2 form-control-label mt-1">状态</label>
                <div class="col-sm-4">
                    <label *ngIf="recommend.state==0">已启用</label>
                    <label *ngIf="recommend.state==1">已禁用</label>
                </div>
            </div>
            <!--
                                <div class="form-group row text-sm-right">

                                            <label class="col-sm-2 form-control-label mt-1">删除（0否1是）</label>
                                            <div class="col-sm-4">
                                                <label>{{recommend.deleted}}</label>
                                            </div>
                                            <label class="col-sm-2 form-control-label mt-1">删除时间</label>
                                            <div class="col-sm-4">
                                                <label>{{recommend.delTime}}</label>
                                            </div>
                                </div>-->

            <div class="form-group row">
                <div class="col-sm-9 offset-sm-2">
                    <button class="btn btn-info" [routerLink]="'../../edit/'+recommend.id" type="button">编辑
                    </button>
                    <button class="btn btn-inverse ml-1" type="button" (click)="goBack()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
