<ion-header>
    <ion-toolbar>
        <ion-title>我的小区</ion-title>
        <goback></goback>
    </ion-toolbar>
</ion-header>


<ion-content no-padding>
    <img onerror="this.src='../../assets/app_icon/home/小区图.jpg'" [src]="item?.imgPath | thumbnailPipe : 'l'" width="100%" height="200">

    <ion-list class="common-list">
        <div text-center padding (click)="chooseCommunity()">
            <span>{{item?.address}}</span>
            <ion-icon class="icon-forward" name="ios-arrow-forward"></ion-icon>
        </div>
    </ion-list>

    <div class="common-hr"></div>

    <ion-list class="common-list">
        <ion-row class="bottom-divid">
            <ion-col size="3"><p class="greys">收货点</p></ion-col>
            <ion-col size="8"><p>{{item?.receivingAddress}}</p></ion-col>
        </ion-row>
        <ion-row class="bottom-divid">
            <ion-col size="3"><p class="greys">管理员</p></ion-col>
            <ion-col size="8"><p>{{item?.member?.nickname}}</p></ion-col>
        </ion-row>
    </ion-list>

    <ion-list margin-top lines="none">
        <ion-item>
            <div class="common-sub-title greys description">
                <div [innerHtml]=item?.description></div>
            </div>
        </ion-item>
    </ion-list>

</ion-content>
