.nolist {
  background: url("../../assets/app_icon/basic/无记录@2x.png") no-repeat center center;
}

.segment-button {
  background-color: white;
  border: none !important;
}

.common-list {
  border-radius: 10px;
  margin: 10px !important;
}

.loading{
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -14px;
}