<page-header [title]="'查看 ' + commodity.commodityName + ' 信息'"></page-header>
<nz-card>

  <nz-card nzTitle="报考信息" nzType="inner">

    <desc-list class="mb-lg">
      <desc-list-item term="报考编码">{{commodity.commodityNo}}</desc-list-item>
      <desc-list-item term="报考名称">{{commodity.commodityName}}</desc-list-item>
      <desc-list-item term="报考简称">{{commodity.commodityShortName}}</desc-list-item>
      <desc-list-item term="供应商">{{commodity.supplier?.supplierName}}</desc-list-item>
      <desc-list-item term="报考体积">{{commodity.volume}}&nbsp;m²</desc-list-item>
      <desc-list-item term="报考重量">{{commodity.weight}}&nbsp;kg</desc-list-item>
      <desc-list-item term="排序号">{{commodity.sort}}</desc-list-item>
    </desc-list>

  </nz-card>

  <nz-card nzTitle="报考设置信息" nzType="inner">

    <desc-list class="mb-lg">
      <desc-list-item term="佣金比例">{{commodity.commissionRate}}&nbsp;%</desc-list-item>
      <desc-list-item term="是否上架">
        <span *ngIf="commodity.shelf==1">立即上架</span>
        <span *ngIf="commodity.shelf==2">放入仓库</span>
      </desc-list-item>
      <desc-list-item term="库存设置">
        <span *ngIf="commodity.stockSet==1">下单减库存</span>
        <span *ngIf="commodity.stockSet==2">支付减库存</span>
      </desc-list-item>
      <desc-list-item term="运费设置">
        <span *ngIf="commodity.freightSet==1">统一运费</span>
        <span *ngIf="commodity.freightSet==2">运费模板</span>
      </desc-list-item>
      <desc-list-item term="统一运费" *ngIf="commodity.freightSet==1">{{commodity.unifiedFreight}}</desc-list-item>
      <desc-list-item term="运费模板" *ngIf="commodity.freightSet==2">{{commodity.freightTemplate.configName}}
      </desc-list-item>
      <desc-list-item term="参加分销">
        <span *ngIf="commodity.distribution==0">参加</span>
        <span *ngIf="commodity.distribution==1">不参加</span>
      </desc-list-item>
      <desc-list-item term="销售地区">
        <span *ngFor="let region of commodity.regions;let i=index">{{region.area.name}}&nbsp;&nbsp;</span>
      </desc-list-item>
    </desc-list>

  </nz-card>

  <nz-card nzTitle="报考图片" nzType="inner">

    <nz-form-control>
      <nz-form-text>
        <span *ngFor="let attachmentVo of commodity.attachmentVos">
          <img class="table-img-customer-details" [src]="attachmentVo.filePath">
        </span>
      </nz-form-text>
    </nz-form-control>

  </nz-card>

  <nz-card nzTitle="货品属性" nzType="inner">

    <table class="address-border" style="width: 100%">
      <thead>
      <tr>
        <th>货品名称</th>
        <th>货品图片</th>
        <th>供货价</th>
        <th>原价</th>
        <th>现价</th>
        <th>货品库存</th>
      </tr>
      </thead>
      <tbody *ngFor="let product of commodity.products;let i=index">
      <tr class="success" *ngIf="i>=(page-1)*pageSize && i<page*pageSize">
        <td>{{product?.productName}}</td>
        <td><img class="table-img-customer" [src]="product?.productImgPath"></td>
        <td>{{product?.supplyPrice}}</td>
        <td>{{product.originalPrice}}</td>
        <td>{{product.currentPrice}}</td>
        <td>{{product.stockQuantity}}</td>
      </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation" style="text-align: right;padding: 10px" *ngIf="totalPages>1">
      <button nz-button class="ml-sm" type="button" (click)="topPage()">首页</button>
      <button nz-button class="ml-sm" type="button" (click)="previousPage()">上一页</button>&nbsp;
      <input nz-input #inPage style="width: 10%" (keyup.enter)="changePage(inPage.value)"
             (blur)="changePage(inPage.value)" value={{page}}>
      <button nz-button class="ml-sm" type="button" (click)="nextPage()">下一页</button>
      <button nz-button class="ml-sm" type="button" (click)="endPage()">尾页</button>
    </nav>

  </nz-card>

  <nz-card nzTitle="报考介绍" nzType="inner">

    <nz-form-control nzXs="17" nzSm="17" nzMd="17">
      <div [innerHtml]="sanli.bypassSecurityTrustHtml(commodity.description)" style="height:500px;overflow-y:auto"></div>
    </nz-form-control>

  </nz-card>

  <nz-form-item>
    <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 17 }">
      <button nz-button nzType="primary" type="submit" [routerLink]="'../../edit/'+commodity.id">编辑</button>
      <button nz-button class="ml-sm" type="button" (click)="goBack()">返回</button>
    </nz-form-control>
  </nz-form-item>

</nz-card>
