
<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>

    <div class="card-body widget-body">
        <form class="form-horizontal "  [formGroup]="commonForm">

                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">GUID </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('guid')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="guid" placeholder="请输入GUID">

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">会员（member表ID） <span class="text-danger">*</span></label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('memberId')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="memberId" placeholder="请输入会员（member表ID）">
                                        <app-form-error [control]="commonForm.get('memberId')" [formErrors]="formErrors.memberId"></app-form-error>

                                </div>
                                <label class="col-sm-2 form-control-label mt-1">操作类型（1收入2支出） </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('operateType')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="operateType" placeholder="请输入操作类型（1收入2支出）">

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">流水号 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('serialNo')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="serialNo" placeholder="请输入流水号">

                                </div>
                                <label class="col-sm-2 form-control-label mt-1">交易金额 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('tradeAmount')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="tradeAmount" placeholder="请输入交易金额">

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">账户余额 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('balance')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="balance" placeholder="请输入账户余额">

                                </div>
                                <label class="col-sm-2 form-control-label mt-1">交易类型（1佣金转入2在线支付3提现） </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('tradeType')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="tradeType" placeholder="请输入交易类型（1佣金转入2在线支付3提现）">

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">交易方式（1店铺佣金2余额） </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('tradeMode')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="tradeMode" placeholder="请输入交易方式（1店铺佣金2余额）">

                                </div>
                                <label class="col-sm-2 form-control-label mt-1">交易时间 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('tradeTime')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="tradeTime" placeholder="请输入交易时间">

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">备注 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('remark')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="remark" placeholder="请输入备注">

                                </div>
                    </div>

            <div class="form-group row">
                <div class="col-sm-9 offset-sm-2">
                    <button class="btn btn-info" type="button" (click)="onSubmit()" >保存</button>
                    <button class="btn btn-gray ml-1" type="button" (click)="goBack()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>