<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>

    <div class="card-body widget-body">
        <form class="form-horizontal " [formGroup]="commonForm">

            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">模板编号 <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('templateNo')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="templateNo"
                           placeholder="请输入模板编号">
                    <app-form-error [control]="commonForm.get('templateNo')"
                                    [formErrors]="formErrors.templateNo"></app-form-error>

                </div>
                <label class="col-sm-2 form-control-label mt-1">模板名称 <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('templateName')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="templateName"
                           placeholder="请输入模板名称">
                    <app-form-error [control]="commonForm.get('templateName')"
                                    [formErrors]="formErrors.templateName"></app-form-error>

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">计费方式 <span
                        class="text-danger">*</span></label>

                <div class="col-sm-4 text-align-left" [ngClass]="{'has-error':commonForm.get('chargeMode')|formMark}">
                    <input type="radio" name="chargeMode" value="1" formControlName="chargeMode">&nbsp;&nbsp;按重量
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="chargeMode" value="2" formControlName="chargeMode">&nbsp;&nbsp;按件数
                    <app-form-error [control]="commonForm.get('chargeMode')"
                                    [formErrors]="formErrors.chargeMode"></app-form-error>

                </div>
                <label class="col-sm-2 form-control-label mt-1">状态 <span class="text-danger">*</span></label>

                <div class="col-sm-4 text-align-left" [ngClass]="{'has-error':commonForm.get('state')|formMark}">
                    <input type="radio" name="state" value="0" formControlName="state">&nbsp;&nbsp;启用
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="state" value="1" formControlName="state">&nbsp;&nbsp;禁用
                    <app-form-error [control]="commonForm.get('state')"
                                    [formErrors]="formErrors.state"></app-form-error>

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">首重 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('presetWeight')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="presetWeight"
                           placeholder="请输入首重">

                </div>
                <label class="col-sm-2 form-control-label mt-1">首费 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('presetFee')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="presetFee"
                           placeholder="请输入首费">

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">续重 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('extraWeight')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="extraWeight"
                           placeholder="请输入续重">

                </div>
                <label class="col-sm-2 form-control-label mt-1">续费 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('extraFee')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="extraFee"
                           placeholder="请输入续费">

                </div>
            </div>
          <!--  <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">省 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('province')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="province"
                           placeholder="请输入省">

                </div>
                <label class="col-sm-2 form-control-label mt-1">市 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('city')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="city" placeholder="请输入市">

                </div>
            </div>-->
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">省市区 <span
                        class="text-danger">*</span></label>
                <app-province [selectPro]="province"  [selectCity]="city" [selectAddress]="district"   (result)="getPro($event)"></app-province>
            </div>
            <div class="form-group row text-sm-right">
              <!--  <label class="col-sm-2 form-control-label mt-1">区 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('district')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="district"
                           placeholder="请输入区">

                </div>-->
                <label class="col-sm-2 form-control-label mt-1">小区 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('address')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="address"
                           placeholder="请输入小区">

                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-9 offset-sm-2">
                    <button class="btn btn-info" type="button" (click)="onSubmit()">保存</button>
                    <button class="btn btn-gray ml-1" type="button" (click)="goBack()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>