<nz-form-item>
  <nz-form-label nzXs="3" nzSm="3" nzRequired>商品属性</nz-form-label>
  <nz-form-control nzXs="21" nzSm="21">

    <label nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()" [nzIndeterminate]="indeterminate">
      全选
    </label>
    <nz-checkbox-group [(ngModel)]="_checkOptions" (ngModelChange)="updateSingleChecked()"></nz-checkbox-group>
    <input style="width: 12%" *ngIf="_canAddAttrG" nz-input [(ngModel)]="_newAttrG" placeholder="输入属性组名称">
    <button style="margin-left: 10px" (click)="addAttrG()" nz-button type="button">添加属性组</button>
    <button style="margin-left: 10px" *ngIf="_canAddAttrG" (click)="sureAddAttrG()" nz-button type="button">确定</button>
    <label style="margin-left: 10px;color: #f5222d">{{_attrGError}}</label>
    <!--<nz-form-label nzXs="3" nzSm="3">{{_attrGError}}</nz-form-label>-->
  </nz-form-control>
</nz-form-item>
<nz-form-item *ngFor="let item of _selectAttrGroup;let i=index">
  <nz-form-label nzXs="3" nzSm="3">{{item.label}}</nz-form-label>
  <nz-form-control nzXs="21" nzSm="21">
    <label *ngIf="item.attributes.length!=0" nz-checkbox [(ngModel)]="item.checkAll" (ngModelChange)="updateAttrValueAllChecked(item.checkAll,item.attributes,item.indeterminate,i)"
           [nzIndeterminate]="item.indeterminate">
      全选
    </label>
    <nz-checkbox-group [(ngModel)]="item.attributes" (ngModelChange)="updateAttrValueSingleChecked(item.checkAll,item.attributes,item.indeterminate,i)"></nz-checkbox-group>
    <input style="width: 12%" *ngIf="item._canAdd" nz-input [(ngModel)]="item._newAttrV" placeholder="输入属性值名称">
    <button style="margin-left: 10px" (click)="addAttrV(i)" nz-button type="button">添加属性值</button>
    <button style="margin-left: 10px" *ngIf="item._canAdd" (click)="sureAddAttrV(i)" nz-button type="button">确定</button>
    <label style="margin-left: 10px;color: #f5222d">{{item._attrVError}}</label>
  </nz-form-control>
</nz-form-item>
<nz-form-item>
  <nz-form-control nzXs="3" nzSm="3">
  </nz-form-control>
  <nz-form-control nzXs="21" nzSm="21">
    <label style="color: #f5222d">{{_attrGFormError}}</label>
  </nz-form-control>
</nz-form-item>
