.show_view{
  text-align: center;
  th{
    padding: 15px 0;
  }
  td{
    padding: 20px 0 35px 0px;
  }
}

.show_info{
  th{
    padding: 5px 0;
  }
  td{
    padding: 5px 0;
  }
}

.text-right{
  text-align: right;
}

.back-color-v2{
  background-color: #f2f2f2;
}

.card-body{
  padding: 0px!important;
}