<page-header [title]="title"></page-header>
<nz-card [nzBordered]="false">
  <form nz-form [formGroup]="commonForm">

    <nz-form-item>

      <nz-form-label nzXs="3" nzSm="3" nzRequired nzFor="addressType">地址类型</nz-form-label>
      <nz-form-control nzXs="8" nzSm="8">
        <nz-radio-group formControlName="addressType" id="addressType">
          <label nz-radio [nzValue]="1">收货地址</label>
          <label nz-radio [nzValue]="2">发货地址</label>
        </nz-radio-group>
        <nz-form-explain *ngIf="commonForm.get('addressType').dirty&&commonForm.get('addressType').errors">
          <ng-container *ngFor="let error of formErrors.addressType">
            <nz-form-explain *ngIf="commonForm.get('addressType').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>

    </nz-form-item>

    <nz-form-item>

      <nz-form-label nzXs="3" nzSm="3" nzRequired nzFor="state">状态</nz-form-label>
      <nz-form-control nzXs="8" nzSm="8">
        <nz-radio-group formControlName="state" id="state">
          <label nz-radio [nzValue]="0">非默认</label>
          <label nz-radio [nzValue]="1">默认</label>
        </nz-radio-group>
        <nz-form-explain *ngIf="commonForm.get('state').dirty&&commonForm.get('state').errors">
          <ng-container *ngFor="let error of formErrors.state">
            <nz-form-explain *ngIf="commonForm.get('state').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>

    </nz-form-item>

    <nz-form-item>

      <nz-form-label nzXs="3" nzSm="3" nzRequired nzFor="contact">联系人</nz-form-label>
      <nz-form-control nzXs="8" nzSm="8" nzHasFeedback>
        <input nz-input formControlName="contact" id="contact" placeholder="输入联系人">
        <nz-form-explain *ngIf="commonForm.get('contact').dirty&&commonForm.get('contact').errors">
          <ng-container *ngFor="let error of formErrors.contact">
            <nz-form-explain *ngIf="commonForm.get('contact').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>

    </nz-form-item>

    <nz-form-item>

      <nz-form-label nzXs="3" nzSm="3" nzRequired nzFor="contactPhone">联系电话</nz-form-label>
      <nz-form-control nzXs="8" nzSm="8" nzHasFeedback>
        <input nz-input formControlName="contactPhone" id="contactPhone" placeholder="输入联系电话">
        <nz-form-explain *ngIf="commonForm.get('contactPhone').dirty&&commonForm.get('contactPhone').errors">
          <ng-container *ngFor="let error of formErrors.contactPhone">
            <nz-form-explain *ngIf="commonForm.get('contactPhone').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>

    </nz-form-item>

    <nz-form-item>

      <nz-form-label nzXs="3" nzSm="3" nzRequired nzFor="address">地区</nz-form-label>
      <nz-form-control nzXs="8" nzSm="8" nzHasFeedback>
        <nz-province-basic [values]="position" (result)="setProvince($event)"></nz-province-basic>
        <nz-form-explain class="has-error" *ngIf="commonForm.get('province').dirty&&commonForm.get('province').errors">
          <ng-container *ngFor="let error of formErrors.province">
            <nz-form-explain *ngIf="commonForm.get('province').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>

    </nz-form-item>

    <nz-form-item>

      <nz-form-label nzXs="3" nzSm="3" nzRequired nzFor="address">详细地址</nz-form-label>
      <nz-form-control nzXs="8" nzSm="8" nzHasFeedback>
        <input nz-input formControlName="address" id="address" placeholder="输入详细地址">
        <nz-form-explain *ngIf="commonForm.get('address').dirty&&commonForm.get('address').errors">
          <ng-container *ngFor="let error of formErrors.address">
            <nz-form-explain *ngIf="commonForm.get('address').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>

    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 7 }">
        <nz-modal-customer [showButton]="false" (ok)="onSubmit()" [title]="'提示！'" [content]="'确认要提交吗？'"
                           [buttonName]="'提交'" >
          <nz-divider nzType="vertical"></nz-divider>
        </nz-modal-customer>
        <button nz-button class="ml-sm" type="button" (click)="goBack()">返回</button>
      </nz-form-control>
    </nz-form-item>

  </form>
</nz-card>
