

<page-header [title]="'查看信息'"></page-header>

<nz-card>
    <nz-form-item>


                    <nz-form-label nzXs="10" nzSm="3" nzFor="guid">GUID</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{couponGrantRecord.guid}}</nz-form-text>
                    </nz-form-control>
    </nz-form-item>
    <nz-form-item>

                    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="memberId">会员（member表ID）</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{couponGrantRecord.memberId}}</nz-form-text>
                    </nz-form-control>

                    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="couponGrantConfigId">发放配置（coupon_grant_config表ID）</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{couponGrantRecord.couponGrantConfigId}}</nz-form-text>
                    </nz-form-control>
    </nz-form-item>
    <nz-form-item>

                    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="couponId">优惠券（coupon表ID）</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{couponGrantRecord.couponId}}</nz-form-text>
                    </nz-form-control>

                    <nz-form-label nzXs="10" nzSm="3" nzFor="grantNode">发放节点（1购买，2收货，3评论，4超过15天）</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{couponGrantRecord.grantNode}}</nz-form-text>
                    </nz-form-control>
    </nz-form-item>
    <nz-form-item>

                    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="parValue">面值</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{couponGrantRecord.parValue}}</nz-form-text>
                    </nz-form-control>

                    <nz-form-label nzXs="10" nzSm="3" nzFor="remark">备注</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{couponGrantRecord.remark}}</nz-form-text>
                    </nz-form-control>
    </nz-form-item>
    <nz-form-item>

                    <nz-form-label nzXs="10" nzSm="3" nzFor="createTime">创建时间</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{couponGrantRecord.createTime}}</nz-form-text>
                    </nz-form-control>

                    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="deleted">删除（0否1是）</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{couponGrantRecord.deleted}}</nz-form-text>
                    </nz-form-control>
    </nz-form-item>
    <nz-form-item>

                    <nz-form-label nzXs="10" nzSm="3" nzFor="delTime">删除时间</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{couponGrantRecord.delTime}}</nz-form-text>
                    </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 7 }">
            <button nz-button nzType="primary" type="submit" [routerLink]="'../../edit/'+ couponGrantRecord.id">编辑</button>
            <button nz-button class="ml-sm" type="button" (click)="goBack()">返回</button>
        </nz-form-control>
    </nz-form-item>

</nz-card>
