
<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>

    <div class="card-body widget-body">
        <form class="form-horizontal "  [formGroup]="commonForm">

                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">编码 <span class="text-danger">*</span></label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('brandNo')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="brandNo" placeholder="请输入编码">
                                        <app-form-error [control]="commonForm.get('brandNo')" [formErrors]="formErrors.brandNo"></app-form-error>

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">品牌名 <span class="text-danger">*</span></label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('cnName')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="cnName" placeholder="请输入品牌名">
                                        <app-form-error [control]="commonForm.get('cnName')" [formErrors]="formErrors.cnName"></app-form-error>

                                </div>
                                <label class="col-sm-2 form-control-label mt-1">英文名 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('enName')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="enName" placeholder="请输入英文名">

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">图片路径 <span class="text-danger">*</span></label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('imgPath')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="imgPath" placeholder="请输入图片路径">
                                        <app-form-error [control]="commonForm.get('imgPath')" [formErrors]="formErrors.imgPath"></app-form-error>

                                </div>
                                <label class="col-sm-2 form-control-label mt-1">状态（0启用1禁用） <span class="text-danger">*</span></label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('state')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="state" placeholder="请输入状态（0启用1禁用）">
                                        <app-form-error [control]="commonForm.get('state')" [formErrors]="formErrors.state"></app-form-error>

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">创建时间 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('createTime')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="createTime" placeholder="请输入创建时间">

                                </div>
                                <label class="col-sm-2 form-control-label mt-1">删除（0否1是） <span class="text-danger">*</span></label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('deleted')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="deleted" placeholder="请输入删除（0否1是）">
                                        <app-form-error [control]="commonForm.get('deleted')" [formErrors]="formErrors.deleted"></app-form-error>

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">删除时间 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('delTime')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="delTime" placeholder="请输入删除时间">

                                </div>
                    </div>

            <div class="form-group row">
                <div class="col-sm-9 offset-sm-2">
                    <button class="btn btn-info" type="button" (click)="onSubmit()" >保存</button>
                    <button class="btn btn-gray ml-1" type="button" (click)="goBack()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>