@import "../../global";

.bg-img {
  position: absolute;
  width: 100%;
  height: 40%;
  background: url("../../assets/app_icon/customer/会员等级banner@2x.png") no-repeat;
  background-size: cover;
  .bg-grade {
    width: 9rem;
    height: 7.5rem;
    margin-top: 3rem;
    background: url("../../assets/app_icon/customer/成长值icon@2x.png") no-repeat center;
    background-size: 100% 100%;
    p {
      color: $blank-color;
      font-size: 2rem !important;
      padding-top: 2.5rem;
    }
  }
}