.choose_shelf{
  height: 30px;
}

.choose_shelf li{
  list-style: none;
  float: left;
  padding: 10px;
  background-color: #e9ecef;
  cursor: pointer;
}

.choose_shelf li:focus{
  background-color: white;
}
.span{
  text-decoration-line: underline;
}