<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th *ngFor="let item of showCol">{{item.value}}</th>
            </tr>
            </thead>
            <tbody>
            <ng-template [ngIf]="_anys|isNotEmpty">
                <tr *ngFor="let item of _anys"
                    (click)="getSelect(item,item.id)">
                    <td *ngIf="!isMulti"><input type="radio" [checked]="item.id==select.id"></td>
                    <td *ngIf="isMulti"><input type="checkbox" name="itemasd" [checked]="getMultCheck(item)"></td>
                    <th *ngFor="let col of showCol">{{item[col.name]}}</th>
                </tr>
                <ngb-pagination class="d-flex justify-content-center"
                                [collectionSize]="pageQuery.responses.totalElements"
                                [(page)]="pageQuery.page" [maxSize]="pageQuery.pageSize"
                                [rotate]="true" [boundaryLinks]="true"
                                (pageChange)="pageChange($event)"></ngb-pagination>
            </ng-template>
            </tbody>
        </table>

        <app-no-data-tip [isShow]="_anys|isEmpty"></app-no-data-tip>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">{{sureButton}}</button>
    </div>
</ng-template>

<button class="btn btn-outline-primary" (click)="open(content)">{{resultName}}</button>
