.form-group{
  margin-bottom: 30px!important;
}

.btn{
  margin: 10px;
}

.return_goods{
  height: 30px;
}

.return_goods li{
  list-style: none;
  float: left;
  padding: 10px;
  background-color: #e9ecef;
  cursor: pointer;
}
