<div class="lb_mytask_message_li">
    <div class="messager">
    <span class="m_img">
      <img src="{{comment.avatarImg | avatar}}"/>
    </span>
        <div class="m_info">
            <p class="m_name">
                {{comment.userName}}
                <ng-template [ngIf]="comment.replyUserId">
                    &nbsp;回复了：<strong class="text-bold">{{comment.replyUserName}}</strong>
                </ng-template>

                <ng-template [ngIf]="comment.attachments|isNotEmpty">
                    <a href="#">{{comment.attachments.length}}</a>
                </ng-template>
            </p>
            <p class="m_time">{{comment.createTime|amTimeAgoPipe}}</p>
        </div>

        <div class="pull-right">
            <ng-template [ngIf]="comment.userId !== currentUser.userId">
                <a (click)="replyUser(comment.userId,comment.userName)">
                    <span>回复</span>&nbsp;<em class="fa fa-reply fa-sm"></em>
                </a>
            </ng-template>
            <ng-template [ngIf]="comment.userId === currentUser.userId">
                &nbsp;
                <a (click)="removeCommentItem(comment)">
                    <span>删除</span>&nbsp;<em class="fa fa-remove fa-sm"></em>
                </a>
            </ng-template>
        </div>
    </div>
    <div class="messager_text">
        <read-more [html]="comment.content" [maxHeight]="132"></read-more>
    </div>
    <ng-template [ngIf]="comment.attachments|isNotEmpty">
        <app-attachment-view [attachments]="comment.attachments"></app-attachment-view>
    </ng-template>
</div>
