

<page-header [title]="'查看信息'"></page-header>

<nz-card>
    <nz-form-item>


                    <nz-form-label nzXs="10" nzSm="3" nzFor="guid">GUID</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{logisticsAddress.guid}}</nz-form-text>
                    </nz-form-control>
    </nz-form-item>
    <nz-form-item>

                    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="supplierId">供应商ID</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{logisticsAddress.supplierId}}</nz-form-text>
                    </nz-form-control>

                    <nz-form-label nzXs="10" nzSm="3" nzFor="addressType">地址类型(1、收货地址 2、发货地址)</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{logisticsAddress.addressType}}</nz-form-text>
                    </nz-form-control>
    </nz-form-item>
    <nz-form-item>

                    <nz-form-label nzXs="10" nzSm="3" nzFor="contact">联系人</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{logisticsAddress.contact}}</nz-form-text>
                    </nz-form-control>

                    <nz-form-label nzXs="10" nzSm="3" nzFor="contactPhone">联系电话</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{logisticsAddress.contactPhone}}</nz-form-text>
                    </nz-form-control>
    </nz-form-item>
    <nz-form-item>

                    <nz-form-label nzXs="10" nzSm="3" nzFor="province">省</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{logisticsAddress.province}}</nz-form-text>
                    </nz-form-control>

                    <nz-form-label nzXs="10" nzSm="3" nzFor="city">市</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{logisticsAddress.city}}</nz-form-text>
                    </nz-form-control>
    </nz-form-item>
    <nz-form-item>

                    <nz-form-label nzXs="10" nzSm="3" nzFor="district">区</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{logisticsAddress.district}}</nz-form-text>
                    </nz-form-control>

                    <nz-form-label nzXs="10" nzSm="3" nzFor="address">详细地址</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{logisticsAddress.address}}</nz-form-text>
                    </nz-form-control>
    </nz-form-item>
    <nz-form-item>

                    <nz-form-label nzXs="10" nzSm="3" nzFor="state">默认状态（0、非默认 1、默认）</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{logisticsAddress.state}}</nz-form-text>
                    </nz-form-control>

                    <nz-form-label nzXs="10" nzSm="3" nzFor="createTime">创建时间</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{logisticsAddress.createTime}}</nz-form-text>
                    </nz-form-control>
    </nz-form-item>
    <nz-form-item>

                    <nz-form-label nzXs="10" nzSm="3" nzFor="deleted">删除（0、否1、是）</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{logisticsAddress.deleted}}</nz-form-text>
                    </nz-form-control>

                    <nz-form-label nzXs="10" nzSm="3" nzFor="delTime">删除时间</nz-form-label>
                    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
                        <nz-form-text>{{logisticsAddress.delTime}}</nz-form-text>
                    </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 7 }">
            <button nz-button nzType="primary" type="submit" [routerLink]="'../../edit/'+ logisticsAddress.id">编辑</button>
            <button nz-button class="ml-sm" type="button" (click)="goBack()">返回</button>
        </nz-form-control>
    </nz-form-item>

</nz-card>
