<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo_40_40.png">
        <span class="title">蓝米教育</span>
      </div>
      <div class="desc">蓝米教育，您爱不释手的购物神器</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      <i class="anticon anticon-copyright"></i> 2018
      粤ICP备18120485号-1
      <!--<a href="http://www.my11mall.com" target="_blank">深圳市蓝米教育信息科技有限公司</a>出品-->
    </global-footer>
  </div>
</div>
