<div class="modal-header bg-info">
    <h4 class="modal-title pull-left">{{configData.title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <em class="fa fa-remove fa-lg"></em>
    </button>
</div>
<div class="modal-body">
    <div class="n-frombox">
        <ng-container *ngFor="let state of states">
            <div class="n-frombox-li">
                <span class="left-span"></span>
                <div class="r-sbox">
                    <label (click)="chooseItem(state)">
                        <input type="radio" name="optionsRadios" value="{{state.value}}">&nbsp;{{state.text}}
                    </label>
                </div>
            </div>
        </ng-container>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="onAccept()">{{configData.confirmText}}</button>
    <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">{{configData.cancelText}}</button>
</div>
