<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>
    <div class="card-body widget-body">
        <form class="form-horizontal " [formGroup]="commonForm">

            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">管理员账号 <span
                        class="text-danger">*</span></label>

                <div class="col-sm-4 text-align-left"
                     [ngClass]="{'has-error':commonForm.get('member?.username')|formMark}">
                    <app-modal-selecet
                            [pageQuery]="pageQuery"
                            [showCol]="[{name:'id',value:'ID',isShow:false},{name:'address',value:'小区',isShow:false},{name:'username',value:'管理员',isShow:true}]"
                            [select]="commonForm.value.member"
                            [resultName]="commonForm.value.member.username"
                            [baseService]="memberService"
                            (result)="setCommunityMember($event)">
                    </app-modal-selecet>
                </div>

            </div>

            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">小区 <span
                        class="text-danger">*</span></label>

                <div class="col-sm-4"
                     [ngClass]="{'has-error':commonForm.get('address')|formMark}">
                    <input class="form-control validation-field" type="text"
                           formControlName="address" placeholder="请输入小区">

                </div>
                <label class="col-sm-2 form-control-label mt-1">状态 <span
                        class="text-danger">*</span></label>

                <div class="col-sm-4 text-align-left"
                     [ngClass]="{'has-error':commonForm.get('state')|formMark}">

                    <input type="radio" value="0" name="state" formControlName="state">&nbsp;&nbsp;启用
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" value="1" name="state" formControlName="state">&nbsp;&nbsp;禁用
                    <app-form-error [control]="commonForm.get('state')"
                                    [formErrors]="formErrors.state"></app-form-error>
                </div>

            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">提成比例 <span
                        class="text-danger">*</span></label>

                <div class="col-sm-4"
                     [ngClass]="{'has-error':commonForm.get('commissionRate')|formMark}">
                    <input class="form-control validation-field" type="text"
                           formControlName="commissionRate" placeholder="请输入提成比例">

                </div>

                <label class="col-sm-2 form-control-label mt-1">省市区 <span
                        class="text-danger">*</span></label>
                <app-province [selectPro]="province"  [selectCity]="city" [selectAddress]="district"   (result)="getPro($event)"></app-province>

            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">图片路径 <span
                        class="text-danger">*</span></label>

                <div class="col-sm-4"
                     [ngClass]="{'has-error':commonForm.get('imgPath')|formMark}">
                    <input class="form-control validation-field" type="text"
                           formControlName="imgPath" placeholder="请输入图片路径">

                </div>
                <label class="col-sm-2 form-control-label mt-1">小区收货地址 <span
                        class="text-danger">*</span></label>

                <div class="col-sm-4"
                     [ngClass]="{'has-error':commonForm.get('receivingAddress')|formMark}">
                    <input class="form-control validation-field" type="text"
                           formControlName="receivingAddress" placeholder="请输入小区收货地址 ">

                </div>
            </div>
            <!--[selectPro]="province"  [selectCity]="city" [selectAddress]="district" -->
            <div class="form-group row text-sm-right">

                <label class="col-sm-2 form-control-label mt-1">小区介绍 <span
                        class="text-danger">*</span></label>

                <div class="col-sm-8" style="text-align: left"
                     [ngClass]="{'has-error':commonForm.get('description')|formMark}">
                    <app-editor #editor [ckeditorContent]="descriptionContent" (result)="thematicText($event)"></app-editor>
               </div>

            </div>

            <div class="form-group row">
                <div class="col-sm-9 offset-sm-2">
                    <button class="btn btn-info" type="button" (click)="onSubmit()">保存</button>
                    <button class="btn btn-gray ml-1" type="button" (click)="goBack()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>