<page-header [title]="'查看信息'"></page-header>

<nz-card>
  <nz-form-item>


    <nz-form-label nzXs="10" nzSm="3" nzFor="guid">GUID</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{category.guid}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>


    <nz-form-label nzXs="10" nzSm="3" nzFor="categoryNo">分类编码</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{category.categoryNo}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>

    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="categoryName">分类名称</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{category.categoryName}}</nz-form-text>
    </nz-form-control>

  </nz-form-item>
  <nz-form-item>

    <nz-form-label nzXs="10" nzSm="3" nzFor="sort">排序</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{category.sort}}</nz-form-text>
    </nz-form-control>

  </nz-form-item>
  <nz-form-item>

    <nz-form-label nzXs="10" nzSm="3" nzFor="remark">备注</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{category.remark}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 7 }">
      <button nz-button nzType="primary" type="submit" [routerLink]="'../../edit/'+ category.id">编辑</button>
      <button nz-button class="ml-sm" type="button" (click)="goBack()">返回</button>
    </nz-form-control>
  </nz-form-item>

</nz-card>
