<page-header [title]="title"></page-header>
<nz-card [nzBordered]="false">
  <form nz-form [formGroup]="commonForm">

  <!--  <nz-form-item>
      <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="couponNo">优惠券编码</nz-form-label>
      <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
        <input nz-input formControlName="couponNo" id="couponNo" placeholder="输入优惠券编码">
        <nz-form-explain *ngIf="commonForm.get('couponNo').dirty&&commonForm.get('couponNo').errors">
          <ng-container *ngFor="let error of formErrors.couponNo">
            <nz-form-explain *ngIf="commonForm.get('couponNo').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>

    </nz-form-item>-->
    <div class="large">
      <div class="head">
        <span class="size">优惠券基础信息</span>
      </div>
      <br>
      <br>
     <!-- <div class="content">-->
        <nz-form-item>
          <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="couponName">优惠券名称</nz-form-label>
          <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
            <input nz-input formControlName="couponName" id="couponName" placeholder="输入优惠券名称">
            <nz-form-explain *ngIf="commonForm.get('couponName').dirty&&commonForm.get('couponName').errors">
              <ng-container *ngFor="let error of formErrors.couponName">
                <nz-form-explain *ngIf="commonForm.get('couponName').errors[error.name]">{{ error.msg }}
                </nz-form-explain>
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

      <nz-form-item>
        <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="parValue">面值</nz-form-label>
        <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
          <input nz-input formControlName="parValue" id="parValue" placeholder="输入面值">
          <nz-form-explain *ngIf="commonForm.get('parValue').dirty&&commonForm.get('parValue').errors">
            <ng-container *ngFor="let error of formErrors.parValue">
              <nz-form-explain *ngIf="commonForm.get('parValue').errors[error.name]">{{ error.msg }}
              </nz-form-explain>
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="quantity">发放数量</nz-form-label>
        <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
          <input nz-input formControlName="quantity" id="quantity" placeholder="输入发放数量">
          <nz-form-explain *ngIf="commonForm.get('quantity').dirty&&commonForm.get('quantity').errors">
            <ng-container *ngFor="let error of formErrors.quantity">
              <nz-form-explain *ngIf="commonForm.get('quantity').errors[error.name]">{{ error.msg }}
              </nz-form-explain>
            </ng-container>
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="receiveMode">领取方式</nz-form-label>
        <nz-form-control nzXs="16" nzSm="8" nzMd="7">
          <nz-radio-group formControlName="receiveMode" id="receiveMode">
            <label nz-radio  [nzValue]="1">手工发放</label>
            <label nz-radio  [nzValue]="2">自助领取</label>
          </nz-radio-group>
          <nz-form-explain *ngIf="commonForm.get('receiveMode').dirty && commonForm.get('receiveMode').errors">
            <ng-container *ngFor="let error of formErrors.receiveMode">
              <nz-form-explain *ngIf="commonForm.get('receiveMode').errors[error.name]">{{ error.msg }}</nz-form-explain>
            </ng-container>
          </nz-form-explain>
        </nz-form-control>

      </nz-form-item>



     <p>

     </p>



      <nz-form-item>
        <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="couponType">优惠券类型</nz-form-label>
        <nz-form-control nzXs="16" nzSm="8" nzMd="7">
          <nz-radio-group formControlName="couponType" id="couponType">
            <label nz-radio [nzValue]="1">满减券</label>
            <label nz-radio [nzValue]="2">买送券</label>
          </nz-radio-group>
          <nz-form-explain *ngIf="commonForm.get('couponType').dirty && commonForm.get('couponType').errors">
            <ng-container *ngFor="let error of formErrors.couponType">
              <nz-form-explain *ngIf="commonForm.get('couponType').errors[error.name]">{{ error.msg }}</nz-form-explain>
            </ng-container>
          </nz-form-explain>
        </nz-form-control>

      </nz-form-item>

      <br>
        <br>
      <!--</div>-->
    </div>

    <div class="large">
      <div class="head">
        <span class="size">基本规则</span>
      </div>
      <br>
      <br>

    <!--<nz-form-item>
      <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="useQuantity">使用数量</nz-form-label>
      <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
        <input nz-input formControlName="useQuantity" id="useQuantity" placeholder="输入使用数量">
        <nz-form-explain *ngIf="commonForm.get('useQuantity').dirty&&commonForm.get('useQuantity').errors">
          <ng-container *ngFor="let error of formErrors.useQuantity">
            <nz-form-explain *ngIf="commonForm.get('useQuantity').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>-->


    <nz-form-item>
     <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="limited">每人限领</nz-form-label>
     <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
        <input nz-input formControlName="limited" id="limited" placeholder="输入每人限领（不限制为空）">
        <nz-form-explain *ngIf="commonForm.get('limited').dirty&&commonForm.get('limited').errors">
          <ng-container *ngFor="let error of formErrors.limited">
            <nz-form-explain *ngIf="commonForm.get('limited').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="validType">有效期类型</nz-form-label>
      <nz-form-control nzXs="16" nzSm="8" nzMd="7">
        <nz-radio-group formControlName="validType" id="validType">
          <label nz-radio [nzValue]="1" >时间段</label>
          <label nz-radio [nzValue]="2" >固定天数</label>
        </nz-radio-group>
        <nz-form-explain *ngIf="commonForm.get('validType').dirty && commonForm.get('validType').errors">
          <ng-container *ngFor="let error of formErrors.validType">
            <nz-form-explain *ngIf="commonForm.get('validType').errors[error.name]">{{ error.msg }}</nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>



    <nz-form-item>
        <nz-form-item>
          <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="startTime">时间段</nz-form-label>
          <!--<nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
            <input nz-input formControlName="startTime" id="startTime" placeholder="输入开始时间">
            <nz-form-explain *ngIf="commonForm.get('startTime').dirty&&commonForm.get('startTime').errors">
              <ng-container *ngFor="let error of formErrors.startTime">
                <nz-form-explain *ngIf="commonForm.get('startTime').errors[error.name]">{{ error.msg }}
                </nz-form-explain>
              </ng-container>
            </nz-form-explain>
          </nz-form-control>-->
            <nz-range-picker formControlName="timeSlot" (ngModelChange)="haha($event)" [nzFormat]="dateFormat" [nzDisabled]="this.commonForm.value.validType!=1" ></nz-range-picker>
        </nz-form-item>
    </nz-form-item>

<!--    <nz-form-item>
      <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="startTime">开始时间</nz-form-label>
      <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
        <input nz-input formControlName="startTime" id="startTime" placeholder="输入开始时间">
        <nz-form-explain *ngIf="commonForm.get('startTime').dirty&&commonForm.get('startTime').errors">
          <ng-container *ngFor="let error of formErrors.startTime">
            <nz-form-explain *ngIf="commonForm.get('startTime').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="endTime">结束时间</nz-form-label>
      <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
        <input nz-input formControlName="endTime" id="endTime" placeholder="输入结束时间">
        <nz-form-explain *ngIf="commonForm.get('endTime').dirty&&commonForm.get('endTime').errors">
          <ng-container *ngFor="let error of formErrors.endTime">
            <nz-form-explain *ngIf="commonForm.get('endTime').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>-->

    <nz-form-item>
      <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="fixedDay">固定天数</nz-form-label>
      <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
        <input nz-input [disabled]="bb" formControlName="fixedDay" id="fixedDay" placeholder="输入固定天数（领取后到期天数）">
        <nz-form-explain *ngIf="commonForm.get('fixedDay').dirty&&commonForm.get('fixedDay').errors">
          <ng-container *ngFor="let error of formErrors.fixedDay">
            <nz-form-explain *ngIf="commonForm.get('fixedDay').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="supplier">选择商品</nz-form-label>
      <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
        <app-modal-selecet
          [showCol]="[{name:'commodityNo',value:'编码',isShow:true},{name:'commodityName',value:'商品名',isShow:true}]"
          [select]="commonForm.value.commodities"
          [resultName]="selectCommodityName"
          [baseService]="commodityService"
          [isMulti]="true"
          (result)="setCommoditySupplier($event)">
        </app-modal-selecet>
      </nz-form-control>
    </nz-form-item>
    </div>

  <!--  <nz-form-item>
      <nz-demo-date-picker-presetted-ranges></nz-demo-date-picker-presetted-ranges>
    </nz-form-item>-->
    <nz-form-item>
      <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 7 }">
        <nz-modal-customer (ok)="onSubmit()" [title]="'提示！'" [content]="'确认要提交吗？'"
                           [buttonName]="'提交'" >
          <nz-divider nzType="vertical"></nz-divider>
        </nz-modal-customer>
        <button nz-button class="ml-sm" type="button" (click)="goBack()">返回</button>
      </nz-form-control>
    </nz-form-item>

  </form>
</nz-card>
