<div widget class="card border-0 box-shadow">
    <div class="card-body pt-0 widget-body border-show">
        <div class="back-color-v2 border-show" style="padding: 10px" col-sm-12>店铺信息</div>
        <br>
        <div class="form-group row text-sm-right">

            <label class="col-sm-2 form-control-label mt-1">*店铺LOGO：</label>
            <input type="text" class="col-sm-3">
        </div>
        <div class="form-group row text-sm-right">

            <label class="col-sm-2 form-control-label mt-1">店招LOGO：</label>
            <input type="text" class="col-sm-3">
        </div>
        <div class="form-group row text-sm-right">

            <label class="col-sm-2 form-control-label mt-1">*店铺名称：</label>
            <input type="text" class="col-sm-3" value="壹壹优选">
        </div>
        <div class="form-group row text-sm-right">

            <label class="col-sm-2 form-control-label mt-1">联系电话：</label>
            <input type="text" class="col-sm-3" value="0755-22745901">
        </div>
        <div class="form-group row text-sm-right">

            <label class="col-sm-2 form-control-label mt-1">店铺介绍：</label>
            <textarea class="col-sm-3" >[壹壹优选]专注社区服务的电商平台！美好生活是"拼"出来的！一辈子有你，一个就足够！</textarea>
        </div>

        <div class="back-color-v2 border-show" style="padding: 10px" col-sm-12>基础设置</div>
        <br>
        <div class="form-group row text-sm-right">

            <label class="col-sm-2 form-control-label mt-1">商品初始会员数量：</label>
            <input type="text" class="col-sm-3" value="0">
        </div>

        <div class="back-color-v2 border-show" style="padding: 10px" col-sm-12>底部LOGO设置</div>
        <br>
        <div class="form-group row text-sm-right">

            <label class="col-sm-2 form-control-label mt-1">LOGO图片：</label>
            <label class="col-sm-1 form-control-label mt-1 text-align-left"><input type="checkbox">默认</label>
        </div>

    </div>
</div>
<div class="form-group row">
    <div class="col-sm-9 offset-sm-2">
        <button class="btn btn-info" type="button" (click)="onSubmit()">保存</button>
    </div>
</div>