<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>
    <div class="card-body widget-body">
        <form [formGroup]="searchForm">
            <div class=" form-inline form-group">


            </div>
        </form>

        <div class=" form-inline form-group">
            <div class="col-lg-12">
                <div class=" pull-right">
                    <button class="btn btn-primary  mr-1" [routerLink]="'../add'"><i class="fa fa-plus"></i>&nbsp;新增
                    </button>

                </div>
            </div>
        </div>
    </div>
    <div class="card-body pt-0 widget-body">
        <table class="table table-hover">
            <thead>
                <tr>
                            <th>等级名称</th>
                            <th>会员人数</th>
                            <th>成长值满足点</th>
                            <th>折扣</th>
                            <th>默认等级</th>
                            <th>操作</th>
                </tr>
            </thead>
            <tbody>
            <ng-template [ngIf]="anys|isNotEmpty">
                <tr *ngFor="let memberLevel of anys;let i=index"    (click)="getSelect(memberLevel.id,i)">
                                          <td style="display: none"><input type="radio" name="select">
                                            </td>
                    <td>{{memberLevel.name}}</td>
                    <td>{{memberLevel.quantity}}</td>
                    <td>{{memberLevel.growthValue}}</td>
                    <td>{{memberLevel.discount}}</td>
                    <td *ngIf="memberLevel.initial">是</td>
                    <td *ngIf="!memberLevel.initial">否</td>

                    <td *ngIf="memberLevel.deleted!=1">
                        <span [routerLink]="'../edit/'+memberLevel.id">编辑</span >&nbsp;&nbsp;
                        <span *ngIf="memberLevel.initial!=1" (click)="remove()">删除</span></td>
                    <td *ngIf="memberLevel.deleted==1"><span>已删除</span></td>

                </tr>

                <ngb-pagination class="d-flex justify-content-center"
                                [collectionSize]="pageQuery.responses.totalElements" [(page)]="pageQuery.page"
                                [maxSize]="pageQuery.pageSize"
                                [rotate]="true" [boundaryLinks]="true"
                                (pageChange)="pageChange($event)"></ngb-pagination>
                </ng-template>

            </tbody>
        </table>

        <app-no-data-tip [isShow]="anys|isEmpty"></app-no-data-tip>
    </div>
</div>


