<page-header [title]="title"></page-header>
<nz-card [nzBordered]="false">
  <form nz-form [formGroup]="commonForm">

    <nz-form-item>

      <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="memberLevel">管理员</nz-form-label>
      <nz-form-control nzXs="16" nzSm="8" nzMd="7">
        <app-modal-selecet
          [showCol]="[{name:'address',value:'小区',isShow:false},{name:'username',value:'管理员',isShow:true}]"
          [select]="commonForm.value.member"
          [resultName]="commonForm.value.member.username"
          [baseService]="memberService"
          (result)="setMember($event)">
        </app-modal-selecet>
      </nz-form-control>

      <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="address">地区</nz-form-label>
      <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
        <nz-province-basic [values]="position" (result)="setProvince($event)"></nz-province-basic>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="address">小区</nz-form-label>
      <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
        <input nz-input formControlName="address" id="address" placeholder="输入小区">
        <nz-form-explain *ngIf="commonForm.get('address').dirty && commonForm.get('address').errors">
          <ng-container *ngFor="let error of formErrors.address">
            <nz-form-explain *ngIf="commonForm.get('address').errors[error.name]">{{ error.msg }}</nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>

      <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="state">状态</nz-form-label>
      <nz-form-control nzXs="16" nzSm="8" nzMd="7">
        <nz-radio-group formControlName="state" id="state">
          <label nz-radio [nzValue]="0">启用</label>
          <label nz-radio [nzValue]="1">禁用</label>
        </nz-radio-group>
        <nz-form-explain *ngIf="commonForm.get('state').dirty && commonForm.get('state').errors">
          <ng-container *ngFor="let error of formErrors.state">
            <nz-form-explain *ngIf="commonForm.get('state').errors[error.name]">{{ error.msg }}</nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="description">小区介绍</nz-form-label>
      <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
        <input nz-input formControlName="description" id="description" placeholder="输入小区介绍">
        <nz-form-explain *ngIf="commonForm.get('description').dirty&&commonForm.get('description').errors">
          <ng-container *ngFor="let error of formErrors.description">
            <nz-form-explain *ngIf="commonForm.get('description').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
      <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="imgPath">小区图片</nz-form-label>
      <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
        <app-dynamic-upload [fileList]="commonForm.value.imgPath?[{url:commonForm.value.imgPath}]:[]"
                    (onFileListChange)="getPic($event)"></app-dynamic-upload>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>

      <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="commissionRate">提成比例</nz-form-label>
      <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
        <input nz-input formControlName="commissionRate" id="commissionRate" placeholder="输入提成比例">
        <nz-form-explain *ngIf="commonForm.get('commissionRate').dirty&&commonForm.get('commissionRate').errors">
          <ng-container *ngFor="let error of formErrors.commissionRate">
            <nz-form-explain *ngIf="commonForm.get('commissionRate').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>

      <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="receivingAddress">小区收货地址</nz-form-label>
      <nz-form-control nzXs="16" nzSm="8" nzMd="7" nzHasFeedback>
        <input nz-input formControlName="receivingAddress" id="receivingAddress" placeholder="输入小区收货地址">
        <nz-form-explain *ngIf="commonForm.get('receivingAddress').dirty&&commonForm.get('receivingAddress').errors">
          <ng-container *ngFor="let error of formErrors.receivingAddress">
            <nz-form-explain *ngIf="commonForm.get('receivingAddress').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 7 }">
        <nz-modal-customer (ok)="onSubmit()" [title]="'提示！'" [content]="'确认要提交吗？'"
                           [buttonName]="'提交'" >
          <nz-divider nzType="vertical"></nz-divider>
        </nz-modal-customer>
        <button nz-button class="ml-sm" type="button" (click)="goBack()">返回</button>
      </nz-form-control>
    </nz-form-item>

  </form>
</nz-card>
