<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>

    <div class="card-body widget-body">
        <form class="form-horizontal " [formGroup]="commonForm">

            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">GUID </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('guid')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="guid"
                           placeholder="请输入GUID">

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">任务名称 <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('taskName')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="taskName"
                           placeholder="请输入任务名称">
                    <app-form-error [control]="commonForm.get('taskName')"
                                    [formErrors]="formErrors.taskName"></app-form-error>

                </div>
                <label class="col-sm-2 form-control-label mt-1">成长值 <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('growthValue')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="growthValue"
                           placeholder="请输入成长值">
                    <app-form-error [control]="commonForm.get('growthValue')"
                                    [formErrors]="formErrors.growthValue"></app-form-error>

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">是否启用（0禁用1启用） <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('state')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="state"
                           placeholder="请输入是否启用（0禁用1启用）">
                    <app-form-error [control]="commonForm.get('state')"
                                    [formErrors]="formErrors.state"></app-form-error>

                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-9 offset-sm-2">
                    <button class="btn btn-info" type="button" (click)="onSubmit()">保存</button>
                    <button class="btn btn-gray ml-1" type="button" (click)="goBack()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>