<div class="row">
    <div class="col-lg-12 pt-md pb-md">
        <a href="#" (click)="loadDataByDeptId(0)">根目录/</a>
        <ng-template [ngIf]="deptParentChildren.parents|isEmpty">
            <ng-template [ngIf]="deptParentChildren.dept">
                <span class="text-muted">{{deptParentChildren.dept.deptName}}</span>&nbsp;/
            </ng-template>
        </ng-template>
        <ng-template [ngIf]="deptParentChildren.parents|isNotEmpty">
            <ng-container *ngFor="let dep of deptParentChildren.parents">
                <a href="#" (click)="loadDataByDeptId(dep.deptId)">{{dep.deptName}}</a>&nbsp;/
            </ng-container>
            <span class="text-muted">{{deptParentChildren?.dept?.deptName}}</span>
        </ng-template>
    </div>
</div>


