

<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>
    <div class="card-body widget-body">
        <form class="form-horizontal "  >


                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">编码</label>
                                <div class="col-sm-4">
                                    <label>{{brand.brandNo}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">品牌名</label>
                                <div class="col-sm-4">
                                    <label>{{brand.cnName}}</label>
                                </div>
                                <label class="col-sm-2 form-control-label mt-1">英文名</label>
                                <div class="col-sm-4">
                                    <label>{{brand.enName}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">图片路径</label>
                                <div class="col-sm-4">
                                    <label>{{brand.imgPath}}</label>
                                </div>
                                <label class="col-sm-2 form-control-label mt-1">状态（0启用1禁用）</label>
                                <div class="col-sm-4">
                                    <label>{{brand.state}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">创建时间</label>
                                <div class="col-sm-4">
                                    <label>{{brand.createTime}}</label>
                                </div>
                                <label class="col-sm-2 form-control-label mt-1">删除（0否1是）</label>
                                <div class="col-sm-4">
                                    <label>{{brand.deleted}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">删除时间</label>
                                <div class="col-sm-4">
                                    <label>{{brand.delTime}}</label>
                                </div>
                    </div>

            <div class="form-group row">
                <div class="col-sm-9 offset-sm-2">
                    <button class="btn btn-info" [routerLink]="'../../edit/'+brand.brandId" type="button">编辑</button>
                    <button class="btn btn-inverse ml-1" type="button" (click)="goBack()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
