<ion-header>
    <ion-toolbar>
        <ion-title>我的二维码</ion-title>
        <goback></goback>
    </ion-toolbar>
</ion-header>

<!--暂时没有用到该页面-->

<ion-content no-padding>
    <!--<div text-center class="code">-->
        <!--<img onerror="this.src='../../assets/imgs/null-category.png'" src="../../../assets/app_icon/home/我的二维码@2x.png" width="180" height="180">-->
    <!--</div>-->
    <div class="my-photo">
        <img onerror="this.src='../../assets/imgs/null-category.png'" src="http://axuebin.com/lazyload/img/img10.png" data-src="../../../assets/squares.svg">
        <img onerror="this.src='../../assets/imgs/null-category.png'" src="http://axuebin.com/lazyload/img/img9.png" data-src="../../../assets/squares.svg">
        <img onerror="this.src='../../assets/imgs/null-category.png'" src="http://axuebin.com/lazyload/img/img8.png" data-src="../../../assets/squares.svg">
        <img onerror="this.src='../../assets/imgs/null-category.png'" src="http://axuebin.com/lazyload/img/img7.png" data-src="../../../assets/squares.svg">
        <img onerror="this.src='../../assets/imgs/null-category.png'" src="http://axuebin.com/lazyload/img/img6.png" data-src="../../../assets/squares.svg">
        <img onerror="this.src='../../assets/imgs/null-category.png'" src="http://axuebin.com/lazyload/img/img5.png">
        <img onerror="this.src='../../assets/imgs/null-category.png'" src="http://axuebin.com/lazyload/img/img4.png">
        <img onerror="this.src='../../assets/imgs/null-category.png'" src="http://axuebin.com/lazyload/img/img3.png">
        <img onerror="this.src='../../assets/imgs/null-category.png'" src="http://axuebin.com/lazyload/img/img2.png">
        <img onerror="this.src='../../assets/imgs/null-category.png'" src="http://axuebin.com/lazyload/img/img1.png">
    </div>

</ion-content>
