<page-header [title]="'查看信息'"></page-header>

<nz-card>
  <nz-form-item>


    <nz-form-label nzXs="10" nzSm="3" nzFor="guid">GUID</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{distributionLevel.guid}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>

    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="name">等级名称</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{distributionLevel.name}}</nz-form-text>
    </nz-form-control>

    <nz-form-label nzXs="10" nzSm="3" nzFor="rank">级别(如1,2,3,4)</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{distributionLevel.rank}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>

    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="commissionRate">佣金比例（0.00-100.00）%</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{distributionLevel.commissionRate}}</nz-form-text>
    </nz-form-control>

    <nz-form-label nzXs="10" nzSm="3" nzFor="remark">备注</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{distributionLevel.remark}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>

    <nz-form-label nzXs="10" nzSm="3" nzFor="createTime">创建时间</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{distributionLevel.createTime}}</nz-form-text>
    </nz-form-control>

    <nz-form-label nzXs="10" nzSm="3" nzRequired nzFor="deleted">删除（0否1是）</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{distributionLevel.deleted}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>

    <nz-form-label nzXs="10" nzSm="3" nzFor="delTime">删除时间</nz-form-label>
    <nz-form-control nzXs="16" nzSm="8" nzMd="7">
      <nz-form-text>{{distributionLevel.delTime}}</nz-form-text>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 7 }">
      <button nz-button nzType="primary" type="submit" [routerLink]="'../../edit/'+ distributionLevel.id">编辑</button>
      <button nz-button class="ml-sm" type="button" (click)="goBack()">返回</button>
    </nz-form-control>
  </nz-form-item>

</nz-card>
