<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
        <div class="widget-controls">
            <a data-widgster="close" href="#" class="transition" (click)="goBack()"><i class="fa fa-reply fa-lg"></i>&nbsp;返回</a>
        </div>
    </div>

    <div class="card-body widget-body">
        <form class="form-horizontal " [formGroup]="commonForm">

            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">卡号 <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('cardNo')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="cardNo" placeholder="请输入卡号">
                    <app-form-error [control]="commonForm.get('cardNo')" [formErrors]="formErrors.cardNo"></app-form-error>

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">是否允许 <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('isWithdraw')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="isWithdraw" placeholder="请输入是否允许">
                    <app-form-error [control]="commonForm.get('isWithdraw')" [formErrors]="formErrors.isWithdraw"></app-form-error>

                </div>
                <label class="col-sm-2 form-control-label mt-1">创建时间 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('createTime')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="createTime" placeholder="请输入创建时间">

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">收款人 <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('name')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="name" placeholder="请输入收款人">
                    <app-form-error [control]="commonForm.get('name')" [formErrors]="formErrors.name"></app-form-error>

                </div>
                <label class="col-sm-2 form-control-label mt-1">提现金额 <span class="text-danger">*</span></label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('price')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="price" placeholder="请输入提现金额">
                    <app-form-error [control]="commonForm.get('price')" [formErrors]="formErrors.price"></app-form-error>

                </div>
            </div>
            <div class="form-group row text-sm-right">
                <label class="col-sm-2 form-control-label mt-1">审核时间 </label>

                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('auditTime')|formMark}">
                    <input class="form-control validation-field" type="text" formControlName="auditTime" placeholder="请输入审核时间">

                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-9 offset-sm-2">
                    <button class="btn btn-info" type="button" (click)="onSubmit()">保存</button>
                    <button class="btn btn-gray ml-1" type="button" (click)="goBack()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>