<ion-row *ngIf="item">
    <ion-col size="6" *ngFor="let item1 of item.commodities">
        <div class="commodity-3" (click)="goCommodity(item1.id,item.id)">
            <div class="overflow" style="border-radius: 5px;">
                <img-lazy-load class="commodity-3-main-img" [src]="item1.imgPath  | thumbnailPipe : 's'"></img-lazy-load>
            </div>
            <div class="commodity-info">
                <div class="red common-font">报名费￥{{item1.originalPrice}}</div>
                <div class="text-wrap common-sub-title">{{item1.commodityName}}</div>
                <div class="gray commodity-3-main-short-name text-wrap common-sub-title">{{item1.commodityShortName}}</div>
            </div>
        </div>
    </ion-col>
</ion-row>