<page-header [title]="'奖励列表'">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/dashboard/reward/list']">营销管理</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>奖励设置</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
</page-header>

<nz-card [nzBordered]="false">
  <form nz-form [nzLayout]="'inline'" [formGroup]="searchForm" class="search__form">
    <nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32  }">

      <nz-col nzXs="6" nzSm="6">
        <nz-form-item>
          <nz-form-label>奖励名称</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="name" placeholder="请输入奖励名称">
          </nz-form-control>
        </nz-form-item>
      </nz-col>

      <nz-col nzXs="6" nzSm="6">
        <nz-form-item>
          <nz-form-label>奖励类型</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="rewardType" [nzPlaceHolder]="'请选择奖励类型'">
              <nz-option *ngFor="let type of rewardTypes" [nzLabel]="type.name" [nzValue]="type.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>

      <nz-col [nzSpan]="expandForm ? 24 : 6" [class.text-right]="expandForm">
        <button nz-button [nzType]="'primary'" (click)="searchData()" [nzLoading]="loading">查询</button>
        <button nz-button (click)="clearSearch()" class="mx-sm">重置</button>
      </nz-col>
    </nz-row>
  </form>

  <button nz-button [routerLink]="'../add'" [nzType]="'primary'">
    <i class="anticon anticon-plus"></i>
    <span>新建</span>
  </button>

  <nz-table
    #ajaxTable
    [nzShowSizeChanger]="true"
    [nzFrontPagination]="false"
    [nzData]="rewards"
    [nzLoading]="loading"
    [nzTotal]="pageQuery.responses.totalElements"
    [(nzPageIndex)]="pageQuery.page"
    [(nzPageSize)]="pageQuery.pageSize"
    (nzPageIndexChange)="searchData()"
    (nzPageSizeChange)="searchData(true)">

    <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th>奖励编码</th>
      <th>奖励名称</th>
      <th>奖励类型</th>
      <th>连续签到天数</th>
      <th>状态</th>
      <th>备注</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let reward of ajaxTable.data">
      <td>{{reward.code}}</td>
      <td>{{reward.name}}</td>
      <td>
        <span *ngIf="reward.rewardType == 1">邀请</span>
        <span *ngIf="reward.rewardType == 2">评论</span>
        <span *ngIf="reward.rewardType == 3">连续签到</span>
      </td>
      <td>
        <span *ngIf="reward.rewardType == 3">{{reward.signDays}}</span>
        <span *ngIf="reward.rewardType != 3">--</span>
      </td>
      <td>
        <span *ngIf="reward.state == 0">已启用</span>
        <span *ngIf="reward.state == 1">已禁用</span>
      </td>
      <td>{{reward.remark}}</td>
      <td>{{reward.createTime}}</td>
      <td>
        <a [routerLink]="'../edit/'+reward.id">编辑
          <nz-divider nzType="vertical"></nz-divider>
        </a>
        <nz-modal-customer (ok)="remove(reward.id)" [title]="'提示！'"
                           [content]="'确认要删除吗？'"
                           [buttonName]="'删除'">
        </nz-modal-customer>
      </td>
    </tr>
    </tbody>
  </nz-table>
</nz-card>

