
<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>

    <div class="card-body widget-body">
        <form class="form-horizontal "  [formGroup]="commonForm">

                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">GUID </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('guid')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="guid" placeholder="请输入GUID">

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">货品编码 <span class="text-danger">*</span></label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('productNo')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="productNo" placeholder="请输入货品编码">
                                        <app-form-error [control]="commonForm.get('productNo')" [formErrors]="formErrors.productNo"></app-form-error>

                                </div>
                                <label class="col-sm-2 form-control-label mt-1">货品名称 <span class="text-danger">*</span></label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('productName')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="productName" placeholder="请输入货品名称">
                                        <app-form-error [control]="commonForm.get('productName')" [formErrors]="formErrors.productName"></app-form-error>

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">商品（commodity表ID） <span class="text-danger">*</span></label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('commodityId')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="commodityId" placeholder="请输入商品（commodity表ID）">
                                        <app-form-error [control]="commonForm.get('commodityId')" [formErrors]="formErrors.commodityId"></app-form-error>

                                </div>
                                <label class="col-sm-2 form-control-label mt-1">分类（category表ID） <span class="text-danger">*</span></label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('categoryId')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="categoryId" placeholder="请输入分类（category表ID）">
                                        <app-form-error [control]="commonForm.get('categoryId')" [formErrors]="formErrors.categoryId"></app-form-error>

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">供应商（supplier表ID） <span class="text-danger">*</span></label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('supplierId')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="supplierId" placeholder="请输入供应商（supplier表ID）">
                                        <app-form-error [control]="commonForm.get('supplierId')" [formErrors]="formErrors.supplierId"></app-form-error>

                                </div>
                                <label class="col-sm-2 form-control-label mt-1">排序 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('sort')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="sort" placeholder="请输入排序">

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">是否参与分销(0参加1不参加) <span class="text-danger">*</span></label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('distribution')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="distribution" placeholder="请输入是否参与分销(0参加1不参加)">
                                        <app-form-error [control]="commonForm.get('distribution')" [formErrors]="formErrors.distribution"></app-form-error>

                                </div>
                                <label class="col-sm-2 form-control-label mt-1">佣金比例 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('commissionRate')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="commissionRate" placeholder="请输入佣金比例">

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">运费类型（1统一运费2运费模板） </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('freightType')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="freightType" placeholder="请输入运费类型（1统一运费2运费模板）">

                                </div>
                                <label class="col-sm-2 form-control-label mt-1">统一运费 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('unifiedFreight')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="unifiedFreight" placeholder="请输入统一运费">

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">运费模板（freight_template表ID） </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('freightTemplateId')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="freightTemplateId" placeholder="请输入运费模板（freight_template表ID）">

                                </div>
                                <label class="col-sm-2 form-control-label mt-1">库存设置（1下单减库存2支付减库存） </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('stockSet')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="stockSet" placeholder="请输入库存设置（1下单减库存2支付减库存）">

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">体积 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('volume')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="volume" placeholder="请输入体积">

                                </div>
                                <label class="col-sm-2 form-control-label mt-1">重量 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('weight')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="weight" placeholder="请输入重量">

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">是否上架（1立即上架2放入仓库） </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('shelf')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="shelf" placeholder="请输入是否上架（1立即上架2放入仓库）">

                                </div>
                                <label class="col-sm-2 form-control-label mt-1">商品介绍 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('description')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="description" placeholder="请输入商品介绍">

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">属性名 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('attrName')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="attrName" placeholder="请输入属性名">

                                </div>
                                <label class="col-sm-2 form-control-label mt-1">属性值 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('attrValue')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="attrValue" placeholder="请输入属性值">

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">原价 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('originalPrice')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="originalPrice" placeholder="请输入原价">

                                </div>
                                <label class="col-sm-2 form-control-label mt-1">现价 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('currentPrice')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="currentPrice" placeholder="请输入现价">

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">会员价 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('memberPrice')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="memberPrice" placeholder="请输入会员价">

                                </div>
                                <label class="col-sm-2 form-control-label mt-1">SKU </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('sku')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="sku" placeholder="请输入SKU">

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">库存 <span class="text-danger">*</span></label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('stock')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="stock" placeholder="请输入库存">
                                        <app-form-error [control]="commonForm.get('stock')" [formErrors]="formErrors.stock"></app-form-error>

                                </div>
                                <label class="col-sm-2 form-control-label mt-1">创建时间 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('createTime')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="createTime" placeholder="请输入创建时间">

                                </div>
                    </div>
                    <div class="form-group row text-sm-right">
                                <label class="col-sm-2 form-control-label mt-1">删除（0否1是） <span class="text-danger">*</span></label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('deleted')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="deleted" placeholder="请输入删除（0否1是）">
                                        <app-form-error [control]="commonForm.get('deleted')" [formErrors]="formErrors.deleted"></app-form-error>

                                </div>
                                <label class="col-sm-2 form-control-label mt-1">删除时间 </label>

                                <div class="col-sm-4" [ngClass]="{'has-error':commonForm.get('delTime')|formMark}">
                                    <input class="form-control validation-field" type="text" formControlName="delTime" placeholder="请输入删除时间">

                                </div>
                    </div>

            <div class="form-group row">
                <div class="col-sm-9 offset-sm-2">
                    <button class="btn btn-info" type="button" (click)="onSubmit()" >保存</button>
                    <button class="btn btn-gray ml-1" type="button" (click)="goBack()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>