

<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>
    <div class="card-body widget-body">
        <form class="form-horizontal "  >


                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">GUID</label>
                                <div class="col-sm-4">
                                    <label>{{commodityComment.guid}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">商品（commodity表ID）</label>
                                <div class="col-sm-4">
                                    <label>{{commodityComment.commodityId}}</label>
                                </div>
                                <label class="col-sm-2 form-control-label mt-1">商品名称</label>
                                <div class="col-sm-4">
                                    <label>{{commodityComment.commodityName}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">会员（member表ID）</label>
                                <div class="col-sm-4">
                                    <label>{{commodityComment.memberId}}</label>
                                </div>
                                <label class="col-sm-2 form-control-label mt-1">会员昵称</label>
                                <div class="col-sm-4">
                                    <label>{{commodityComment.nickname}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">编号</label>
                                <div class="col-sm-4">
                                    <label>{{commodityComment.serialNo}}</label>
                                </div>
                                <label class="col-sm-2 form-control-label mt-1">评价星级</label>
                                <div class="col-sm-4">
                                    <label>{{commodityComment.reviewStar}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">评价内容</label>
                                <div class="col-sm-4">
                                    <label>{{commodityComment.reviewContent}}</label>
                                </div>
                                <label class="col-sm-2 form-control-label mt-1">回复内容</label>
                                <div class="col-sm-4">
                                    <label>{{commodityComment.replyContent}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">是否显示（0不显示1显示）</label>
                                <div class="col-sm-4">
                                    <label>{{commodityComment.display}}</label>
                                </div>
                                <label class="col-sm-2 form-control-label mt-1">评价时间</label>
                                <div class="col-sm-4">
                                    <label>{{commodityComment.reviewTime}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">回复时间</label>
                                <div class="col-sm-4">
                                    <label>{{commodityComment.replyTime}}</label>
                                </div>
                                <label class="col-sm-2 form-control-label mt-1">删除（0否1是）</label>
                                <div class="col-sm-4">
                                    <label>{{commodityComment.deleted}}</label>
                                </div>
                    </div>

                    <div class="form-group row text-sm-right">

                                <label class="col-sm-2 form-control-label mt-1">删除时间</label>
                                <div class="col-sm-4">
                                    <label>{{commodityComment.delTime}}</label>
                                </div>
                    </div>

            <div class="form-group row">
                <div class="col-sm-9 offset-sm-2">
                    <button class="btn btn-info" [routerLink]="'../../edit/'+commodityComment.commodityCommentId" type="button">编辑</button>
                    <button class="btn btn-inverse ml-1" type="button" (click)="goBack()">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
