<page-header [title]="'小区拼团列表'">
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/dashboard/community-group/list']">拼团管理</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>小区拼团</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
</page-header>

<nz-tabset>
  <nz-tab nzTitle="{{menu.name}}" *ngFor="let menu of menus;let i=index" (nzClick)="onItemClick(i)">

    <nz-card [nzBordered]="false">
      <form nz-form [nzLayout]="'inline'" [formGroup]="searchForm" class="search__form">
        <nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32  }">

          <nz-col nzMd="6" nzSm="24">
            <nz-form-item>
              <nz-form-label>货品名称</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="productName" placeholder="请输入货品名称">
              </nz-form-control>
            </nz-form-item>
          </nz-col>
          <nz-col nzMd="6" nzSm="24">
            <nz-form-item>
              <nz-form-label>小区</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="communityName" placeholder="请输入小区">
              </nz-form-control>
            </nz-form-item>
          </nz-col>

          <nz-col nzMd="6" nzSm="24">
            <nz-form-item>
              <nz-form-label>时间段</nz-form-label>
              <nz-form-control>
                <nz-range-picker (ngModelChange)="changeRange($event)" formControlName="range"
                                 [nzFormat]="dateFormat"></nz-range-picker>
              </nz-form-control>
            </nz-form-item>
          </nz-col>

          <nz-col [nzSpan]="expandForm ? 24 : 6" [class.text-right]="expandForm">
            <button nz-button [nzType]="'primary'" (click)="searchData()" [nzLoading]="loading">查询</button>
            <button nz-button (click)="clearSearch()" class="mx-sm">重置</button>
          </nz-col>
        </nz-row>
      </form>

      <button nz-button [routerLink]="'../add'" [nzType]="'primary'">
        <i class="anticon anticon-plus"></i>
        <span>新建</span>
      </button>&nbsp;
      <nz-modal-customer *ngIf="allChecked==true" [showButton]="false" [title]="'提示！'"
                         [content]="'确认要结束拼团活动吗？'"
                         [buttonName]="'批量结束'">
        <nz-divider nzType="vertical"></nz-divider>
      </nz-modal-customer>&nbsp;
      <nz-modal-customer *ngIf="allChecked==true" [showButton]="false" (ok)="remove(data.id)" [title]="'提示！'"
                         [content]="'确认要删除吗？'"
                         [buttonName]="'批量删除'">
        <nz-divider nzType="vertical"></nz-divider>
      </nz-modal-customer>

      <nz-table
        #ajaxTable
        [nzShowSizeChanger]="true"
        [nzFrontPagination]="false"
        [nzData]="datas"
        [nzLoading]="loading"
        [nzTotal]="pageQuery.responses.totalElements"
        [(nzPageIndex)]="pageQuery.page"
        [(nzPageSize)]="pageQuery.pageSize"
        (nzPageIndexChange)="searchData()"
        (nzPageSizeChange)="searchData(true)">

        <thead (nzSortChange)="sort($event)" nzSingleSort>
        <tr>
          <th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
              (nzCheckedChange)="checkAll($event)"></th>
          <th>货品名称</th>
          <th>开始时间</th>
          <th>结束时间</th>
          <th>成团人数</th>
          <th>限购数量</th>
          <th>活动库存</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of ajaxTable.data">
          <td nzShowCheckbox [(nzChecked)]="data.checked" [nzDisabled]="data.disabled"
              (nzCheckedChange)="refreshStatus(data,data.id)"></td>
          <td>{{data.product.productName}}</td>
          <td>{{data.startTime}}</td>
          <td>{{data.endTime}}</td>
          <td>{{data.groupPeople}}</td>
          <td>{{data.limitQuantity}}</td>
          <td>{{data.activityStock}}</td>
          <td>
            <a [routerLink]="'../edit/'+data.id">编辑
              <nz-divider nzType="vertical"></nz-divider>
            </a>
            <a [routerLink]="'../view/'+data.id">详情
              <nz-divider nzType="vertical"></nz-divider>
            </a>
            <nz-modal-customer *ngIf="data.state==1" (ok)="remove(data.id)" [title]="'提示！'"
                               [content]="'确认要删除吗？'"
                               [buttonName]="'删除'">
              <nz-divider nzType="vertical"></nz-divider>
            </nz-modal-customer>
            <a [routerLink]="'../recordList'">记录</a>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </nz-tab>
</nz-tabset>

