<page-header [title]="title"></page-header>
<nz-card [nzBordered]="false">
  <form nz-form [formGroup]="commonForm">

    <nz-form-item>

      <nz-form-label nzXs="3" nzSm="3" nzRequired nzFor="templateName">模板名称</nz-form-label>
      <nz-form-control nzXs="8" nzSm="8" nzHasFeedback>
        <input nz-input formControlName="templateName" id="templateName" placeholder="输入模板名称">
        <nz-form-explain *ngIf="commonForm.get('templateName').dirty&&commonForm.get('templateName').errors">
          <ng-container *ngFor="let error of formErrors.templateName">
            <nz-form-explain *ngIf="commonForm.get('templateName').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>

    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzXs="3" nzSm="3" nzRequired nzFor="chargeMode">计费方式</nz-form-label>
      <nz-form-control nzXs="8" nzSm="8">
        <nz-radio-group formControlName="chargeMode" id="chargeMode">
          <label nz-radio [nzValue]="1">按重量</label>
          <label nz-radio [nzValue]="2">按件数</label>
          <label nz-radio [nzValue]="3">按体积</label>
        </nz-radio-group>
      </nz-form-control>

    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzXs="3" nzSm="3" nzRequired nzFor="regions">选择配送地址</nz-form-label>
      <nz-form-control nzXs="8" nzSm="8" nzHasFeedback>
        <app-region-group #regionGroup [title]="'选择配送地址'" [buttonName]="'选择配送地址'"
                          (result)="setArea($event)"></app-region-group>
        <nz-form-explain class="has-error" *ngIf="commonForm.get('regions').dirty&&commonForm.get('regions').errors">
          <ng-container *ngFor="let error of formErrors.regions">
            <nz-form-explain *ngIf="commonForm.get('regions').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzXs="3" nzSm="3" nzRequired nzFor="presetWeight">首重/件</nz-form-label>
      <nz-form-control nzXs="8" nzSm="8" nzHasFeedback>
        <nz-input-number nz-input style="width: 50%" [nzMin]="0" [nzStep]="1" formControlName="presetWeight" id="presetWeight"
                         nzPlaceHolder="输入首重"></nz-input-number>
        <nz-form-explain *ngIf="commonForm.get('presetWeight').dirty&&commonForm.get('presetWeight').errors">
          <ng-container *ngFor="let error of formErrors.presetWeight">
            <nz-form-explain *ngIf="commonForm.get('presetWeight').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>

    </nz-form-item>

    <nz-form-item>

      <nz-form-label nzXs="3" nzSm="3" nzRequired nzFor="presetFee">首费</nz-form-label>
      <nz-form-control nzXs="8" nzSm="8" nzHasFeedback>
        <nz-input-number nz-input style="width: 50%" [nzMin]="0" [nzStep]="1" formControlName="presetFee"
                         id="presetFee"
                         nzPlaceHolder="输入首费"></nz-input-number>
        <nz-form-explain *ngIf="commonForm.get('presetFee').dirty&&commonForm.get('presetFee').errors">
          <ng-container *ngFor="let error of formErrors.presetFee">
            <nz-form-explain *ngIf="commonForm.get('presetFee').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>

    </nz-form-item>

    <nz-form-item>

      <nz-form-label nzXs="3" nzSm="3" nzRequired nzFor="extraWeight">续重/件</nz-form-label>
      <nz-form-control nzXs="8" nzSm="8" nzHasFeedback>
        <nz-input-number nz-input style="width: 50%" [nzMin]="0" [nzStep]="1" formControlName="extraWeight" id="extraWeight" nzPlaceHolder="输入续重"></nz-input-number>
        <nz-form-explain *ngIf="commonForm.get('extraWeight').dirty&&commonForm.get('extraWeight').errors">
          <ng-container *ngFor="let error of formErrors.extraWeight">
            <nz-form-explain *ngIf="commonForm.get('extraWeight').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>

    </nz-form-item>

    <nz-form-item>

      <nz-form-label nzXs="3" nzSm="3" nzRequired nzFor="extraFee">续费</nz-form-label>
      <nz-form-control nzXs="8" nzSm="8" nzHasFeedback>
        <nz-input-number nz-input style="width: 50%" [nzMin]="0" [nzStep]="1" formControlName="extraFee" id="extraFee" nzPlaceHolder="输入续费"></nz-input-number>
        <nz-form-explain *ngIf="commonForm.get('extraFee').dirty&&commonForm.get('extraFee').errors">
          <ng-container *ngFor="let error of formErrors.extraFee">
            <nz-form-explain *ngIf="commonForm.get('extraFee').errors[error.name]">{{ error.msg }}
            </nz-form-explain>
          </ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>

      <nz-form-label nzXs="3" nzSm="3" nzRequired nzFor="state">状态</nz-form-label>
      <nz-form-control nzXs="8" nzSm="8">
        <nz-radio-group formControlName="state" id="state">
          <label nz-radio [nzValue]="0">启用</label>
          <label nz-radio [nzValue]="1">禁用</label>
        </nz-radio-group>
      </nz-form-control>

    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 10, offset: 17 }">
        <nz-modal-customer [showButton]="false" (ok)="onSubmit()" [title]="'提示！'" [content]="'确认要提交吗？'"
                           [buttonName]="'提交'">
          <nz-divider nzType="vertical"></nz-divider>
        </nz-modal-customer>
        <button nz-button class="ml-sm" type="button" (click)="goBack()">返回</button>
      </nz-form-control>
    </nz-form-item>

  </form>
</nz-card>
