<ion-tabs>
    <ion-tab (ionSelect)="selectTab(0)" label="首页" [icon]="icons[0]" href="/tabs/(home:home)">
        <ion-router-outlet name="home"></ion-router-outlet>
    </ion-tab>
    <ion-tab (ionSelect)="selectTab(1)" label="分类" [icon]="icons[1]" href="/tabs/(category:category)">
        <ion-router-outlet name="category"></ion-router-outlet>
    </ion-tab>
    <ion-tab (ionSelect)="selectTab(2)" label="爱生活" [icon]="icons[2]" href="/tabs/(loveLife:loveLife)">
        <ion-router-outlet name="loveLife"></ion-router-outlet>
    </ion-tab>
    <ion-tab (ionSelect)="selectTab(3)" label="购物车" [icon]="icons[3]" href="/tabs/(shoppingCart:shoppingCart)">
        <ion-router-outlet name="shoppingCart"></ion-router-outlet>
    </ion-tab>
    <ion-tab (ionSelect)="selectTab(4)" label="我的" [icon]="icons[4]" href="/tabs/(customerCenter:customerCenter)">
        <ion-router-outlet name="customerCenter"></ion-router-outlet>
    </ion-tab>
</ion-tabs>
