<ion-tabs>
    <ion-tab (ionSelect)="selectTab(0)" label="&nbsp;首页" [icon]="icons[0]" href="/tabs/(home:home)">
        <ion-router-outlet name="home"></ion-router-outlet>
    </ion-tab>
    <ion-tab  (ionSelect)="selectTab(1)" label="&nbsp;分类" [icon]="icons[1]" href="/tabs/(category:category)">
        <ion-router-outlet name="category"></ion-router-outlet>
    </ion-tab>
    <ion-tab (ionSelect)="selectTab(4)" label="&nbsp;我的" [icon]="icons[4]" href="/tabs/(customerCenter:customerCenter)">
        <ion-router-outlet name="customerCenter"></ion-router-outlet>
    </ion-tab>
</ion-tabs>
