<!--

<div class="container">
    <div class="row">
        <button type="button" class="btn btn-success" (click)="showSecond(Template)">第二种弹出方式</button>
    </div>
</div>

&lt;!&ndash;第二种弹出方法的组件&ndash;&gt;
<template #Template>
    <div class="modal-header tips-modal-header">
        <h4 class="modal-title pull-left">第二种模态框</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body tips-modal-body">
        <div class="tips-contain"><span>第二种模态框弹出方式</span></div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">确定</button>
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">取消</button>
    </div>
</template>-->
