
.large{
/*  border:2px solid;*/
  border-top:15px;

  width: 96%;
  margin: 20px auto;
  background-color: #FFFFFF;
}

.head{
  padding: 10px;
  border-bottom: 1px #e9ecef solid;

}
.head>span{
  margin-right: 20px;
}
.size{
  font-size: 14px;
  margin-right: 20px;
}
.frame{
  height: 200px;
}
.img{
  width:15%;
  height: 200px;
}
.img .images{
  margin: 40px auto;
  width: 120px;
  height: 120px;
  border: 1px #e9ecef solid;
  border-radius:50% 50% 50% 50%;
}
.details ul li{
  line-height: 30px;
  list-style-type:none;
  font-size: 14px;
  color: #2e383c;
}
.frame>div{
  float: left;
  margin-right: 30px;
}
.member tr td,th{
  padding: 5px !important;
  text-align: center;
  border: 1px #e9ecef solid;
  font-size: 14px;
  color: #2e383c;
}

.AccountInfo table tr td{
  padding: 75px 0;
}
.AccountInfo table tr td .data{
  font-size: 30px;
  font-weight: 100;
}
.shippingaddress{
  margin-left: 2%;
}
.display table  tr th,td{
  border: 1px #e9ecef solid !important;
  padding: 5px !important;
  text-align: center;
  font-size: 14px;
  color: #2e383c;
}

