<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0"></h5>
    </div>
    <div class="card-body widget-body">
        <form [formGroup]="searchForm">
            <div class=" form-inline form-group">

                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">GUID</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('guid',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">订单（order表ID）</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('orderId',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">订单编号</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('orderNo',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>

                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">订单状态（1创建订单2支付成功3开始配送4确认收货）</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('state',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">操作时间</label>

                                    <input class="col-lg-4 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('operateTime',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">-
                                    <input class="col-lg-4 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('operateTime',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>
                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">操作人</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('operator',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>

                        <div class="col-lg-4 form-group">
                            <label class="col-lg-4 form-control-label text-lg-right">备注说明</label>


                                    <input class="col-lg-8 form-control filter"
                                           (blur)="pageQuery.addOnlyFilter('remark',$event.target.value,'eq')"
                                           placeholder="请输入查询条件..." type="text">
                        </div>

            </div>
        </form>

        <div class=" form-inline form-group">
            <div class="col-lg-12">
                <div class=" pull-right">
                    <button class="btn btn-primary  mr-1" [routerLink]="'../add'"><i class="fa fa-plus"></i>&nbsp;新增
                    </button>
                    <button class="btn btn-danger  mr-1" (click)="remove()"><i class="fa fa-remove"></i>&nbsp;删除
                    </button>
                    <button class="btn btn-inverse  mr-1" (click)="edit()"><i class="fa fa-edit"></i>&nbsp;编辑
                    </button>
                    <button class="btn btn-success  mr-1" (click)="searchData()"><i class="fa fa-search"></i>&nbsp;查询
                    </button>
                    <button class="btn btn-warning  mr-1" (click)="view()"><i class="fa fa-book"></i>&nbsp;详情
                    </button>
                    <button class="btn btn-info  mr-1" (click)="clearSearch()"><i class="fa fa-refresh"></i>&nbsp;重置
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body pt-0 widget-body">
        <table class="table table-hover">
            <thead>
            <tr>
                        <th>GUID</th>
                        <th>订单（order表ID）</th>
                        <th>订单编号</th>
                        <th>订单状态（1创建订单2支付成功3开始配送4确认收货）</th>
                        <th>操作时间</th>
                        <th>操作人</th>
                        <th>备注说明</th>
            </tr>
            </thead>
            <tbody>
            <ng-template [ngIf]="anys|isNotEmpty">
                <tr *ngFor="let orderLog of anys;let i=index"    (click)="getSelect(orderLog.orderLogId,i)">
                                            <td><input type="radio" name="select">
                                            </td>
                    <td>{{orderLog.guid}}</td>
                    <td>{{orderLog.orderId}}</td>
                    <td>{{orderLog.orderNo}}</td>
                    <td>{{orderLog.state}}</td>
                    <td>{{orderLog.operateTime}}</td>
                    <td>{{orderLog.operator}}</td>
                    <td>{{orderLog.remark}}</td>
                </tr>

                <ngb-pagination class="d-flex justify-content-center"
                                [collectionSize]="pageQuery.responses.totalElements" [(page)]="pageQuery.page"
                                [maxSize]="pageQuery.pageSize"
                                [rotate]="true" [boundaryLinks]="true"
                                (pageChange)="pageChange($event)"></ngb-pagination>
            </ng-template>

            </tbody>
        </table>

        <app-no-data-tip [isShow]="anys|isEmpty"></app-no-data-tip>
    </div>
</div>


