<app-toggle-show [showDetail]="showRecordNum" [title]="'文件'">
    <div class="h55">文件({{attachments?.length}})</div>
    <form class="form-inline lb_list_search">
        <app-search (onSearch)="searchData($event)"></app-search>

        <ss-multiselect-dropdown [texts]="fileTypeSelectTexts" [options]="fileTypeDropdownList"
                                 [(ngModel)]="fileTypeSelectedItems" (ngModelChange)="fileTypeChanged($event)" [ngModelOptions]="{standalone: true}">
        </ss-multiselect-dropdown>

        <ss-multiselect-dropdown [texts]="fileExtSelectTexts" [options]="fileExtDropdownList"
                                 [(ngModel)]="fileExtSelectedItems" (ngModelChange)="fileExtChanged($event)" [ngModelOptions]="{standalone: true}">
        </ss-multiselect-dropdown>
    </form>

    <div class="panel">
        <div class="panel-body p0 custom-line-height text-left" style="background-color: #f5f7fa;">
            <div class="col-lg-7">文件</div>
            <div class="col-lg-2">上传时间</div>
            <div class="col-lg-1">大小</div>
            <div class="col-lg-1">上传者</div>
            <div class="col-lg-1">下载</div>
        </div>

        <ng-template [ngIf]="attachments|isNotEmpty">
            <div class="panel-body p0">
                <ng-container *ngFor="let attachment of attachments">
                    <app-file-item [attachment]="attachment"></app-file-item>
                </ng-container>
            </div>
            <ngb-pagination class="d-flex justify-content-center" [collectionSize]="pageQuery.responses.totalElements" [(page)]="pageQuery.page" [maxSize]="pageQuery.pageSize"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="pageChange($event)"></ngb-pagination>
        </ng-template>
    </div>
</app-toggle-show>

