<ion-header>
    <ion-toolbar>
        <ion-title>填写订单</ion-title>
        <goback></goback>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <ion-list class="common-list commodity-divid" *ngFor="let splitOrder of ordersDetail?.splitOrders,let i=index">
        <ion-list-header>{{splitOrder.supplier?.supplierName || "学历信息"}}</ion-list-header>
        <commodity-item *ngFor="let commodity of splitOrder?.productList" [commodity]="commodity">
            <p class="common-notice" style="margin: 0.5rem">
                <span class="red">￥{{commodity.actualPrice}}</span>
                <span>&nbsp;&nbsp;<del class="common-spec grey" *ngIf="commodity.price > commodity.actualPrice">￥{{commodity.price}}</del></span>
                <span class="right red">x{{commodity.quantity}}</span>
            </p>
        </commodity-item>

        <ion-row>
            <ion-item (click)="goMyCoupon(splitOrder.coupons, i)">
                <ion-label>红包</ion-label>
                <ion-note>
                    <p *ngIf="!splitOrder?.coupons">0张可用</p>
                    <p *ngIf="splitOrder.coupons && !coupon[i]">{{splitOrder?.coupons?.length}}张可用</p>
                    <p class="red" *ngIf="splitOrder.coupons && coupon[i]">-{{coupon[i]?.parValue}}</p>
                </ion-note>
                <ion-icon class="icon-forward" name="ios-arrow-forward"></ion-icon>
            </ion-item>
        </ion-row>

        <ion-row>
            <ion-item>
                <ion-label class="common-notice" style="width: 20%;">买家留言:</ion-label>
                <ion-item style="width: 80%">
                    <input class="common-sub-title common-input" type="text" placeholder="请输入留言信息" [(ngModel)]="splitOrder.buyerMessage"/>
                </ion-item>
            </ion-item>
        </ion-row>
        <ion-row style="height: 44px;">
            <ion-col style="text-align: right;padding-right: 15px;">
                <span class="common-notice">订单小计</span><span class="red common-font">￥{{splitOrder.payAmount}}</span>
            </ion-col>
        </ion-row>
        <div class="common-hr"></div>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-row>
            <ion-col size="8" style="padding-top: 10px;">
                <p class="pay-info" no-margin>&nbsp;应付金额：<span class="red common-font">￥{{ordersDetail?.payAmount}}</span></p>
            </ion-col>
            <ion-col size="4" class="ver-midd" no-padding>
                <ion-button style="width: 100%;" expand="full" color="danger" class="shopping-pay" (click)="goOrderPay()">
                    提交订单
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>